{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Create an NHS account {{serviceName}}{% endblock %}
{% set signedin = '' %}
{% set newUser = 'yes' %}

{% block content %}

<div class="first-item">

  <div class="form-group">
    <h1>Check your email</h1>

    <p>An <a href="email-validate">email</a> has been sent to email@nhs.net, you need to validate your email address.</p>
    
    <p>If you haven't received the email, check your spam folder or <a href="resent-email">send another one</a>.</p>

  </div>
    
</div>

{% endblock %}
