{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}
{% set passwordChange = 'yes' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
        <h1 class="heading-large">Check your email</h1>

        <p>We have sent you instructions on how to reset your password to your email.</p>
        <p>You have 48 hours to reset your password.</p>

        <p><a href="/emails/mvp/email-forgotten-password">Email link (not to be included in dev)</a></p>

    </div>
    
  </form>
</div>

{% endblock %}

