{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Login to your NHS Account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}
<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1 class="heading-large">Thank you</h1>

        <p>Your NHS account is now secured with this number - 07779 000333.</p>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="#" class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}

