{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Create your NHS Account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1>Check your phone</h1>

        <p>We've sent you a message with a security code to 07799 334455.</p>

        <div class="form-group">
          <label class="form-label" for="code">Security code</label>
          <input autocomplete="off" type="tel" class="form-control" name="code" id="securityCode" value="" class="code">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a id="securitycodeContinue" href="two-step-thanks" class="button button--disabled">Continue</a>

    </div>
    <p>If you haven't received the message, you can <a href="#">send another one</a>.</p>

  </form>
</div>

{% endblock %}

