{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Login to your NHS Account {{serviceName}}{% endblock %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&resend=" + resend + "&verified=" + verified %}

{% block body %}

<style>
.global-header__inner {
  padding-left: 16px;
}
.page-section {
    padding: 0 16px 16px 16px;
}

input.form-control {
    margin-top: 0;
    margin-bottom:16px;
}
</style>

<!-- <p><a href="login-nhs"><- back</a></p> -->

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">
        <h1>Enter security code</h1>

        <p>We have sent a security code to your phone</p>


        <div class="form-group">
          <label class="form-label" for="code">Security code</label>
          <input autocomplete="off" type="tel" class="form-control" name="code" id="securityCode" value="" class="code">
        </div>

      </fieldset>
    </div>

    <div class="form-group">

      <a id="securitycodeContinue" href="#" class="button button--disabled">Continue</a>
    </div>
    <p class="">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, <a href="#">you can resend it</a>.</p>
  </form>
</div>

{% endblock %}

