{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Use your NHS login and share your information{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<style>

dl {
    display: block;
    padding-left: 50px;
    line-height: 0.75em;
    background: transparent url("https://nhs-cid.herokuapp.com/images/user.png") no-repeat 0 11px;
    background-size: 45px 45px;
    height: 70px;
}

</style>

<div class="first-item">

    <!-- <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p> -->

    <div class="form-group">
        <h1>Use your NHS login</h1>
        <p>You can use your NHS login to access 'Find out who’s looked at your health records'.</p>

        <dl>
            <dt>james.randerson@gmail.com</dt>
            <dd>18/07/1976</dd>
        </dl>
        <p class="small"><a href="login-nhs">Use a different NHS login</a></p>



        <p class="small">When you agree to use this NHS login, we'll share your last name, date of birth, and NHS number with 'Find out who's looked at your health records'.</p>
    </div>

    <a class="button" href="https://nhs-audit.herokuapp.com/release-login" id="">Agree and continue</a>
    <p><a href="consent-declined{{ params }}">I do not want to use my NHS login</a></p>

</div>

{% endblock %}


[H1] Use your NHS login

You can use your NHS login registered to chris******@gmail.com to set up an account with Online Consultations.

To do this, we need to share your:

- surname
- date of birth
- NHS number

[Agree]

Do not agree - you will not be able to use your NHS login to access Online Consultations