{% import '_macros/_macro_app.html' as backlink with context %}
{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Check your phone{% endblock %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&verified=" + verified + "&poluser=" + poluser + "&resend=" + resend + "&result=" + result + "&reason=" + reason %}


{% block topRow %}
{% if resend === "yes" %}
{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('','Your security code has been resent.','attention') }}
{% endif %}
{% endblock %}


{% block content %}


<p><a href="login-nhs{{ params }}" class="link-back">Back</a></p>

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1>Check your phone</h1>

        <p>Enter the security code we sent to {{ mobileNum }}.</p>

        <div class="form-group">
          <label class="form-label" for="securityCodes">Security code</label>
          <input autocomplete="off" type="tel" class="form-control" name="code" id="securityCodes" value="" class="code">
        </div>

      </fieldset>
    </div>

    <div class="form-group">

      {% if reason === 'idpending' %}
      <a id="securitycodeContinue" href="error-id-not-checked{{ params }}" target="_parent" class="button">Continue</a>
      {% elif reason === 'nam' %}
      <a id="securitycodeContinue" href="/service-access/v15/service-access-connect-gp{{ params }}" target="_parent" class="button">Continue</a>
      {% else %}
      <a id="securitycodeContinue" href="{{ backlink.link() }}" target="_parent" class="button">Continue</a>
      {% endif%}

    </div>

    <p class="">If you do not get a code, <a href="login-nhs{{ params }}">log in again to get a new code.</a></p>

    {% include '_partials/_includes/_scenarios_2fa.html' %}

  </form>
</div>

{% endblock %}

