{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Check your text messages{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}


<div class="first-item">

  <h1>The link did not work</h1>

  <p>This could be because the link expired - you have 10 minutes to use the link. Please try again.</p>

  <div class="form-group">
    <a class="button" href="service-access-switchtomobile-waiting{{ params }}">Send another link</a>
  </div>

</div>

{% endblock %}