{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a video selfie{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block content %}

<div class="first-item">

  <section class="" id="scan-id-1">

      <p><a href="service-access-video-selfie{{ params }}" class="link-back">Back</a></p>

      <form>
          <h1>iProov instructions</h1>

          <ul class="list list-bullet">
            <li>you will need to adjust your brightness to the max</li>
            <li>and go somewhere shady</li>
            <li>follow the on-screen instrucrtions</li>
          </ul>

          <div class="form-group" id="allow-camera" style="display: none">
            <p>Camera access must be granted first</p>
            <a href="service-access-iproov{{ params }}" class="button camera-button">Enable camera permission</a>
          </div>

          <div class="form-group" id="camera-allowed">
            <a href="service-access-iproov{{ params }}" class="button camera-button">Start</a>
          </div>

      </form>

      {% if devMode === "true" %}
      <details class="dev-mode" role="group" >
        <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__summary">Continue with testing scenario</span>
        </summary>
        <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
          <div class="reading-width">
            <p>Pass</p>
            <ol>
              <li><a href="service-access-iproov{{ params }}&iproovFailReason=undefined&iproovFailCount=undefined&pyiFailCount=undefined">iProov test passes</a></li>
            </ol>
            <p>Fail - iProov feedback codes</p>
            <ol>
              <li><a href="service-access-iproov{{ params }}&iproovFailReason=ambiguous&iproovFailCount=undefined&pyiFailCount=undefinedd">Sorry, ambiguous outcome</a></li>
              <li><a href="service-access-iproov{{ params }}&iproovFailReason=light&iproovFailCount=undefined&pyiFailCount=undefined">Ambient light too strong or screen brightness too low</a></li>
              <li><a href="service-access-iproov{{ params }}&iproovFailReason=undefined&iproovFailCount=undefined&pyiFailCount=undefined">Strong light source detected behind you</a></li>
              <li>More to come</li>
            </ol>

          </div>
        </div>
      </details>
      {% endif %}

  </section>

</div>

<script type="text/javascript">


</script>

{% endblock %}