{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a video selfie{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block content %}

<div class="first-item">

  <section class="" id="scan-id-1">

      <form>

          <h1>We could not match your face to your photo I.D.</h1>

          {% if iProovSecondAttempt === "true" %}

              <p>You will need to take another photo of your I.D.</p>
              <p>It might help if you try a different I.D. from the list.</p>
              <div class="form-group">
                  <a href="service-access-photo-id{{ params }}" class="button camera-button">Back to step 1 - send a photo of your I.D.</a>
              </div>

          {% else %}

              {% if iproovFailReason === "ambiguous" %}

                <!-- no message -->

              {% elif iproovFailReason === "light" %}

                <p>light reason</p>

              {% else %}

                <h1>We could not match your face to your photo I.D.</h1>

              {% endif %}

              <p></p>
              <div class="form-group">
                  <a href="service-access-iproov-instructions{{ params }}" class="button camera-button">Try again</a>
              </div>

          {% endif %}


      </form>

  </section>

</div>

<script type="text/javascript">


</script>

{% endblock %}