{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a photo of your ID{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&idType=" + idType %}

{% block content %}


	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
	<section class="intructions">

		<div class="reading-width">



			<h1 class="heading-large"><span class="heading-secondary">Step 1 of 3 </span>Send a photo of your I.D.</h1>

			<p>We will help you do this.​</p>

			<p>You will need one of these:</p>
			<ul class="instructions-list-unordered">
				<li class="instructions-list-unordered__item">passport</li>
				<li class="instructions-list-unordered__item">UK driving licence</li>
				<li class="instructions-list-unordered__item">European driving licence</li>
				<li class="instructions-list-unordered__item">European national identity card</li>
			</ul>

			<div class="form-control" style="margin: 32px 0 16px;">
				<a class="button--information" href="service-access-photo-id-type{{ params }}">Continue</a>
			</div>

			<p class="instructions--link">If you do not have an I.D. from this list, you can <a href="service-access-no-documents{{ params }}">go to your GP surgery to prove who you are.</a></p>

		</div>
	</section>

{% endblock %}
{% block rightcol %}{% endblock %}