{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Check your text messages{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}


<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <h1 style="padding-bottom: 0;">
    Check your text messages
  </h1>

  <p>Click on the link we sent to {{ mobileNum|default("*******2645", true) }}.</p>
  <p>It might take a few minutes to arrive.</p>


</div>

{% endblock %}