{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Step 2 - Avoiding glare{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <div class="reading-width">
    <h1 class="heading-large"><span class="heading-secondary">Photo guide step 2 of 3</span> Avoid glare</h1>

    <p>Ensure the photo is well lit and there's no shine from a light or window.</p>

    <img src="/images/glare.png" alt="take a photo of just the details page of the passport " width="299" style="display:block;margin-left:auto;margin-right:auto;">

    <div class="form-group">
      <a class="button" href="service-access-photo-id-guidance-blur-passport{{ params }}" id="">Next </a>
    </div>

   </div>
</div>

{% endblock %}