{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Patient ID Verification Service{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Vouching process cancelled</legend></h1>
        <h2>blah blah blah....</h2>
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="vouching-service-start" id="continue">Start again</a>
    </div>
    
  </form>
</div>

{% endblock %}