{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - you can not continue{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <h1 class="">Sorry - you cannot continue</h1>

  <p>We need a photo of your UK driving licence or UK passport to prove who you are. This is the only ID we can accept at the moment.</p>

</div>

{% endblock %}