{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block topRow %}
<div id="javascript-message">
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('Warning','You can not proceed with this study if you have disabled Javascript in your browser.','warning') }}
</div>
<div id="blocking-message" style="display:none">
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('Warning','You can not proceed with this study if you have any form of script blocking software running in your browser.','warning') }}
</div>

{% endblock %}


{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Welcome</h1>

        <p>Thank you for taking the time to help us.</p>
        <p>Before you continue we just need to ensure you meet the criteria to take part. This will take one minute.</p>

        <a href="/name-study/screening-1{{ params }}" class="button--information" id="blocking-continue" style="display:none">Continue</a>

    </section>

</div>

{% endblock %}

{% block extrascripts %}
<script>
    // We inline abt.min.js rather than link to it so that it's harder for an Ad Blocker to whitelist
    function ad_block_test(a,b){if("undefined"!=typeof document.body){var c="0.1.2-dev",b=b?b:"sponsorText",d=document.createElement("DIV");d.id=b,d.style.position="absolute",d.style.left="-999px",d.appendChild(document.createTextNode("&nbsp;")),document.body.appendChild(d),setTimeout(function(){if(d){var b=0==d.clientHeight;try{}catch(e){}a(b,c),document.body.removeChild(d)}},175)}}

    ad_block_test(function(is_blocked){
        // Note this function may not run until some time later.
        if(is_blocked) {
            console.log("blocking")
            var button = document.getElementById('no-blocking')
            $("#blocking-continue").hide()
            $("#blocking-message").show()
            $("#javascript-message").hide()
        } else {
            console.log("not blocking")
            $("#blocking-continue").show()
            $("#javascript-message").hide()
        }
    })
</script>

{% endblock %}
