{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we're having technical problems{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large"><span class="heading-secondary">Step 1 of 3 </span>Instructions</h1>

        <p>Welcome to the NHS naming study.</p>
        <p>We will require you to to complete the following steps:</p>

        <ol>
            <li>Read the instructions</li>
            <li>Watch a video clip</li>
            <li>Answer all the questions</li>
        </ol>

        <a href="video{{ params }}" class="button button--secondary">Continue</a>

    </section>

</div>

{% endblock %}
