{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}In what age group do you fit? - Name Survey{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

    <p><a href="screening-1{{ params }}" class="link-back">Back</a></p>

    <form action="screening-2{{ params }}" method="POST">
        <div class="form-group">
            <fieldset class="">
                <legend for="radio-inline-group">
                    <h1 style="padding-bottom: 0;">
                        In what age group do you fit?
                    </h1>
                </legend>

                <div>
                    <label class="block-label selection-button-radio" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="age" value="under-16">
                        Under 16
                    </label>
                </div>

                <div>
                    <label class="block-label selection-button-radio" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="age" value="16-24">
                        16-24
                    </label>
                </div>

                <div>
                    <label class="block-label selection-button-radio" for="radio-inline-3">
                        <input id="radio-inline-3" type="radio" name="age" value="25-44">
                        25-44
                    </label>
                </div>

                <div>
                    <label class="block-label selection-button-radio" for="radio-inline-4">
                        <input id="radio-inline-4" type="radio" name="age" value="45-64">
                        45-64
                    </label>
                </div>

                <div>
                    <label class="block-label selection-button-radio" for="radio-inline-5">
                        <input id="radio-inline-5" type="radio" name="age" value="56-over">
                        65 and over
                    </label>
                </div>

            </fieldset>

        </div>
        <div class="form-group">
            <button class="button" id="">Continue</button>
        </div>

    </form>

</div>

{% endblock %}
