{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Complete the survey - Name Survey{% endblock %}

{% set params = "?healthcare=" + healthcare + "&age=" + age + "&country=" + country + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<div class="first-item">
	<form action="survey{{ params }}" method="POST">

	    <section class="intructions">
	        <h1 class="heading-large"><span class="heading-secondary">Step 3 of 3 </span> Answer the questions that pop up at the bottom of your screen</h1>

	        <p>When you have finished, click the button to tell us that you have answered the questions.</p>

	        <div class="form-group">
	            <button class="button--information" id="hideMe" style="display: none;">I have answered the questions</button>
	        </div>

	    </section>

	</form>
</div>

{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
    //show the button
    setTimeout(function(){
        document.getElementById('hideMe').style.display = 'block'
    }, 15000)
</script>
{% endblock %}
