{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we're having technical problems{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Thank you</h1>

        <p>You have now completed our survey.</p>

        <p>You can now close this browser window.</p>

    </section>

</div>

{% endblock %}
