{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Watch this video - Name Survey{% endblock %}

{% set params = "?healthcare=" + healthcare + "&age=" + age + "&country=" + country + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<style>
    #video-container { position: relative; margin: 0;}
    #name-video { border: 1px solid black; max-width:100%; height:auto; margin: 0;}
    #video-overlay { position: absolute; width: 100%; height: 100%; z-index: 999; cursor: pointer; margin: 0;}

</style>

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large"><span class="heading-secondary">Step 2 of 3 </span>Watch the video</h1>

        <div>

            <p>Click the play button to watch the video. <br>
             Note that there is no sound. </p>

            <div id="video-container">
                <div id="video-overlay">Play</div>
                <video id="name-video" width="100%" height="auto">
                    <source src="/images/cid-video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>

        </div>

        <button onclick="visitPage()" class="button button--secondary" id="name-button" disabled>I've watched the video</button>

    </section>

</div>

<script type='text/javascript'>
    document.getElementById('name-video').addEventListener('ended', onComplete, false)
    function onComplete(e) {
        document.getElementById('name-button').disabled = false
    }
    function visitPage(){
        window.location='survey{{ params }}'
    }
    document.getElementById('video-overlay').onclick = function() {
        document.getElementById('name-video').play()
    }
</script>

{% endblock %}
