{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}You cannot use this NHS login{% endblock %}
{% set signedin = 'true' %}

{# work out where to send users #}

{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

  <div class="first-item">

      <div class="form-group">
        <h1>This link does not work</h1>
        <p>This could be because:</p>
          <ul>
            <li>you copied or typed the link from the email and made a mistake</li>
            <li>a technical error occured</li>
          </ul>
        <p>You can either:</p>
        <ul>
          <li><a href="forgotten-password">get a new email</a> to reset your password</li>
          <li>try again by following the link in the email</li>
        </ul>
        <p>Reference: <b>CID2023</b></p>
    
      </div>
    
    </div>

{% endblock %}
