{% extends '_layouts/_grids/_grid-1-2.html' %}
{% block page_title %}Token Manager{% endblock %}

{% block content %}

<ul>
    <li><a href="/token-manager-v2/token-manager-index">Home</a></li>
  </ul>
  <h3>Patients</h3>
    <ul>
        <li><a href="/token-manager-v2/token-manager-token-add">Add a patient</a></li>
        <!--<li><a href="">Revoke patient access</a></li>-->
        <li><a href="token-manager-view-all-tokens">View all patients</a></li>
    </ul>
  <h3>Clinicians</h3>
    <ul>
        <li><a href="">Add a clinician</a></li>
        <!--<li><a href="">Revoke a clinician</a></li>-->
        <li><a href="token-manager-view-all-clinicians">View all clinicians</a></li>
    </ul>

{% endblock %}

{% block rightcol %}

<div>
  <h3 id="conditions" class="heading-large">Patient details</h3>
  <h1 id="conditions" class="heading-large">Alex Hills <small class="phase-tag phase-tag-active">ACTIVE</small></h1>
  
  <p><b>NHS No:</b><br>3409823439</p>
  <p><b>Email:</b><br>ahill85@gmail.com</p>
  <p><b>Contact No:</b><br>073372382823</p>
  
  
</div>
  <p><b>Access Issue Date:</b><br>21st Sept 2017</p>
  <p><b>Access Active Date:</b><br>22nd Sept 2017</p>
  <p><a href="token-manager-token-revoke" class="button">Revoke patient access</a></p>

{% endblock %}
