{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Token Manager{% endblock %}
{% set signedin = 'true' %}

{% block content %}

<div class="callout callout--alert">
  <h3>Access revoked</h3>
</div>

<h3>What happens now?</h3>

<ul>
  <li>Clinician access is now revoked</li>
  <li>Users will be notified that their access has been removed</li>
  <li>Users will need to verify themselves again in order to access services</li>
</ul>


<a href="token-manager-index" class="button">Continue</a>
{% endblock %}

