{% extends '_layouts/_grids/_grid-1-2.html' %}
{% block page_title %}Token Manager{% endblock %}


{% block content %}
{% set serviceName = "token%20of%20trust%20manager" %}

  <ul>
    <li><a href="/token-manager-v2/token-manager-index">Home</a></li>
  </ul>
  <h3>Patients</h3>
    <ul>
        <li><a href="/token-manager-v2/token-manager-token-add"><strong>Add a patient</strong></a></li>
        <!--<li><a href="">Revoke patient access</a></li>-->
        <li><a href="token-manager-view-all-tokens">View all patients</a></li>
    </ul>
  <h3>Clinicians</h3>
    <ul>
        <li><a href="">Add a clinician</a></li>
        <!--<li><a href="">Revoke a clinician</a></li>-->
        <li><a href="token-manager-view-all-clinicians">View all clinicians</a></li>
    </ul>


{% endblock %}

{% block rightcol %}
<h3>Add a new patient</h3>
<!--<div class="first-item">-->
  <form>
    <div class="form-group">

        <h1><legend>Patient details</legend></h1>

        <div class="form-group">
          <label class="form-label" for="field4">NHS Number</label>
          <span class="form-label__hint">Example: 485 777 3456</span>
          <input style="width: 75%" class="form-control code" id="field4" name="field4" type="text">
        </div>

    </div>

    <div class="form-group">
      <fieldset>
        <legend class="form-label">
          Date of birth
        </legend>
        <span class="form-label__hint">For example, '01 04 1980'</span>
        <div class="form-group -date">
          <div class="form-date-field">
            <label for="dob-day">Day</label>
            <input type="number" id="dob-day" name="dob-day" value="" class="day" maxlength="2">
          </div>
          <div class="form-date-field">
            <label for="dob-month">Month</label>
            <input type="number" id="dob-month" name="dob-month" value="" class="month" maxlength="2">
          </div>
          <div class="form-date-field">
            <label for="dob-year">Year</label>
            <input type="number" id="dob-year" name="dob-year" value="" class="year" maxlength="4">
          </div>
        </div>
      </fieldset>

    </div>

    <div class="form-group">
      <a class="button" href="vouching-nhs-check" id="continue">Continue</a>
    </div>
  </form>
<!--</div>-->

{% endblock %}
