{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - manage phone number{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Email address</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-email { 
    font-weight: bold; 
    text-decoration: none; 
  }
</style>

{% endblock %}

{% block content %}

{% block alert %}{% endblock %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">
	<h2>Enter new email address</h2>

	<p>We need to validate your email address to make your account more secure.</p>

	<div class="form-group">	

		<label class="form-label" for="new-email">New email address</label>
		<input class="form-control" id="new-email" name="field2" type="email">
	</div>

	<a class="button" href="email-go-validate">Continue</a>

</div>

{% endblock %}


