{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Password</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-password {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item account-mgmt">
  	<div class="form-group">

        <h2>Reset your password</h2>

        <p>Please go to <a href="/create-account/pb/forgotten-password">reset your password</a>.</p>

  	</div>
</div>

{% endblock %}
