{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - delete account{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Delete account</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-delete {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">

  <h2>Delete your account<h2>

  <p>Please contact the NHS App help desk for help with deleting your NHS Access account.</p>

  <div class="callout callout--info callout--friendly">
  	<h4>NHS App help desk</h4>
	<p>Telephone: 0000 000 0000<br/>
	From outside the UK: +44 (0)000 000 0000<br/>
	Textphone: 00000 0000 000 0000<br/>
	Day to Day, ?am to ?pm<br/>
	Weekends and public holidays, 0am to 0:00pm<br/>
	<a href="#">Find out about call charges</a></p>
  </div>

</div>

{% endblock %}
