{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2: Help us find your {{ theService.name('') }}{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&loggedin=" + loggedin %}

{% block content %}

<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

<h1>Follow these steps</h1>
<p>You'll need to give us some information so that we can connect you to your medical record, and keep your NHS login secure.</p>

<section class="service-access-wrapper">
	<ol class="service-access">
		<li class="service-access__item active">
			<h3 class="service-access__item__title">Help us find your NHS record</h3>
			<div class="service-access__item__desc">
				<p>You'll need to give us some details so we can connect to your medical record.</p>
			</div>
			<a href="service-access-nhs-number{{ params }}" class="service-access__item__button button">Start</a>
		</li>
		<li class="service-access__item">
			<h3 class="service-access__item__title">Take a photo of your ID document</h3>
			<div class="service-access__item__desc">
				<p>You will need to take a photo of your passport or driving licence.</p>
			</div>
		</li>
		<li class="service-access__item">
			<h3 class="service-access__item__title">Record a short video</h3>
			<div class="service-access__item__desc">
				<p>This is so we can check that your face matches your photo ID.</p>
			</div>
		</li>
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}