{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}cookie policy{% endblock %}

{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% endif %}

{% block extrastyles %}
<style>
	.terms-aside {
		padding-bottom: 1em;
	}

	.c-page-contents__link.link-access {
		font-weight: bold;
		text-decoration: none;
	}

	.terms-heading {
		
		font-size: 24px;
		display: inline-block;
	}

	.terms-heading-secondary {
		font-size: 20px;
		display: inline-block;
	}
</style>
{% endblock %}


{% block topRow %}
<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
{% endblock %}

{% block content %}
<aside class="terms-aside">
	<nav role="navigation">
		<h2 class="h3">Terms of use</h2>
		{% include '_partials/_components/_terms-menu.html' %}
	</nav>
	<hr>
</aside>
{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item">

	<h1>NHS login - accessibility</h1>

	<section id="intro">
		<p>We want to make sure the process for setting up an NHS login is easy for everyone who uses it.</p>
	</section>

	<section id="accessibility-standards">
		<h2 class="terms-heading">Accessibility standards</h2>
		<p>NHS login has been designed and built to meet the AA standard of the Web Content Accessibility Guidelines (WCAG) 2.1. There is some content that does not meet this standard, but we are working to fix these problems.</p>
	</section>
	<section id="content-standard">
		<h2 class="terms-heading">Content that does not meet the standard</h2>
		<p>Content that does not meet the WCAG 2.1 AA standard includes:</p>
		<ul>
			<li>when an error message is shown on the 'Do you have an NHS login' question, the message is repeated when a person using a screen reader tries to select one of the options</li>
			<li>missing page titles from all 'Manage your NHS login' pages</li>
			<li>a submit button that is wrongly identified as a link on the 'Delete your NHS login' page</li>
		</ul>
	</section>
	<section id="prove-id">
		<h2 class="terms-heading">Another way to prove who you are</h2>
		<p>If you cannot take a photo of your I.D. document or record a video, you can prove who you are at your GP surgery instead. You must sign up to your GP surgery's online services, so that you can use your registration details to prove who you are.</p>
		<p>You will need these 3 registration details:</p>
		<ul>
			<li>a Linkage Key (also known as a Passphrase)</li>
			<li>an O.D.S. Code (also known as an Organisation Code or Practice I.D.)</li>
			<li>an Account I.D.</li>
		</ul>
		<p>Speak to your GP if you have already signed up to your GP surgery's online services but you do not have your registration details.</p>
	</section>
	<section id="accessibility-footer">
		<h3>Last updated</h3>
		<p>This statement was last updated on 11 April 2019.</p>
		<h3>Contact us</h3>
		<p>Please contact enquiries@nhsdigital.nhs.net to report accessibility problems or give us feedback.</p>
	</section>

</div>

{% endblock %}


