{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Terms of Use - Privacy notice{% endblock %}

{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
 {% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% elif vouch %}
 {% set params = "?vouch=" + vouch + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% endif %}

{% block topRow %}

<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

<h1>Terms of use</h1>
<hr>

<style>
    .c-page-contents__link.link-privacy {
        font-weight: bold;
        text-decoration: none;
    }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_terms-menu.html' %}

{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item account-mgmt">

	<h2>Privacy notice</h2>
	<section id="contents">
		<h3>Contents</h3>
		<p>This privacy notice will explain:</p>
		<ul>
			<li><a href="#who-we-are">Who we are</a></li>
			<li><a href="#what-personal-info">What personal information we collect about you and why</a></li>
			<li><a href="#legal-basis">The legal basis for using your personal information</a></li>
			<li><a href="#how-we-share">How we share your personal information and keep it secure</a></li>
			<li><a href="#how-we-protect">How we protect your personal information</a></li>
			<li><a href="#how-long-we-hold">How long we hold onto your personal information</a></li>
			<li><a href="#where-your-data">Where your data is stored</a></li>
			<li><a href="#cookies">Cookies</a></li>
			<li><a href="#your-rights">Your rights</a></li>
			<li><a href="#objections-and-complaints">Objections and complaints</a></li>
			<li><a href="#changes-to-terms">Changes to our terms of use</a></li>
		</ul>
	</section>

	<section id="who-we-are">
		<h3>Who we are</h3>
		<p>NHS Digital provides national information, data and IT systems for health and care services. </p>
		<p>Mentions of “us” and “we” mean NHS Digital and “you” means anyone using the platform.</p>
		<p>We’ve created a platform that lets you create an NHS login to use health websites and apps.</p>
		<p>We need personal information from you to set up your NHS login.</p>
		<p>A data controller determines how and why personal data is processed. We are the data controller for your personal information you give us when: </p>
		<ul>
			<li>we verify (check) your identity. Our ID checking team compare your passport or driving licence with your short video to verify your identity </li>
			<li>you use our platform to use health websites and apps </li>
			<li>you contact us </li>
		</ul>
		<p>Your GP surgery is the data controller for the personal information in your medical records. </p>
		<p>We will use your personal information in line with data protection laws and in accordance with this privacy notice.</p>
	</section>

	<section id="what-personal-info">
		<h3>What personal information we collect about you and why</h3>
		<p>We only collect personal information from you to: </p>
		<ul>
			<li>verify who you are </li>
			<li>provide you with an NHS login to use health websites and apps</li>
		</ul>
		<p>When you log in to health websites and apps we will provide them with your: </p>
		<ul>
			<li>NHS number</li>
			<li>date of birth </li>
			<li>last name </li>
		</ul>
		<p>We provide them with these details so they can link to your NHS login and identify you. </p>
		<p>The personal information we collect about you includes:  </p>
		<p>Identity data: </p>
		<ul>
			<li>Name </li>
			<li>Date of birth </li>
			<li>Age</li>
			<li>Gender </li>
			<li>NHS number</li>
			<li>A scan or image of an identity document such as a passport or driving licence</li>
			<li>A short video of yourself</li>
			<li>Physical description from your ID document or short video</li>
		</ul>
		<p>Contact data: </p>
		<ul>
			<li>Address</li>
			<li>Postcode </li>
			<li>Email address</li>
			<li>Telephone number(s) for example to verify you using two-factor authentication</li>
		</ul>
		<p>Technical data: </p>
		<ul>
			<li>Audit data and online identifiers such as internet protocol (IP) address and event logs. We may need this to maintain performance management, functionality and security of the platform.</li>
			<li>Linkage key if you book appointments or order repeat prescriptions online with your GP surgery</li>
		</ul>
		<p>Special categories of personal data:</p>
		<p>We may collect the following special categories of personal information from your ID document or short video:</p>
		<ul>
			<li>Biometric data</li>
			<li>Ethnicity </li>
		</ul>
	</section>

	<section id="legal-basis">
		<h3>The legal basis for using your personal information</h3>
		<p>We will only collect, use and share your personal information when we have an appropiate legal basis to do so.</p>
		<p>For the purposes of the health websites and apps, our use of your personal information is necessary to comply with a legal obligation that we have. </p>
		<p>Section 267 of The Health and Social Care Act 2012 enables the Secretary of State for Health to allow NHS Digital to run an accreditation scheme and accredit organisations to run an accreditation scheme. </p>
		<p>Under the NHS Digital (Establishment of Information Systems for NHS Services: Citizen Identity Services) Directions 2018, the Secretary of State has instructed us to create and run such a scheme, and the processing of your personal data is necessary for the purposes of that scheme.</p>
	</section>

	<section id="how-we-share">
		<h3>How we share your personal information</h3>
		<p>We will ask for your consent before we share your personal information with health websites and apps other than your NHS number, date of birth and last name. However, we may share your personal information other than these details if we have an alternative legal basis to do so. </p>
		<p>If we are required to do so by law, by order of an authority such as the Information Commissioner's Office (<abbr>ICO</abbr>), we may have to share your personal information with additional parties.</p>
	</section>

	<section id="how-we-protect">
		<h3>How we protect your personal information and keep it secure </h3>
		<p>We take the security of your personal information seriously. We have set up security measures, policies and procedures such as: </p>
		<ul>
			<li>using only trained staff to verify your identity</li>
			<li>monitoring our platform to keep your personal information secure </li>
			<li>using two-factor authentication </li>
			<li>following good practice guidance provided by the National Technical Authority</li>
		</ul>
		<p>These measures, policies and procedures reduce the risk of unauthorised access of your personal information or it being lost or destroyed. </p>
	</section>

	<section id="how-long-we-hold">
		<h3>How long we hold onto your personal information</h3>
		<p>We hold onto (retain) your personal information for as long as is reasonably necessary. In some circumstances the length of time we hold onto your personal information will depend on legal, regulatory, tax, accounting, or necessary technical requirements.</p>
		<p>In any event, we retain your records in line with the Records Management Code of Practice for Health and Social Care (2016).</p>
		<p>Our retention periods are: </p>
		<h4>User accounts</h4>
		<p>We will hold this information until your accounts are closed or 12 months of no-use. When your account is closed it will be disabled and stored for a further 12 months, in case you want to re-open an account within that period.  As the retention of the account is for your benefit, NHS Digital can erase your account on request within the 12-month further storage period.</p>
		<h4>Identity evidence</h4>
		<p>We will hold this information for one year after your account is closed in order to resolve any complaints, queries or challenges about inappropriate or fraudulent access. The one year further is necessary to satisfy this purpose, and therefore requests to prematurely erase this evidence will not be accepted.</p>
		<h4>Log data</h4>
		<p>We will hold this information for one year after the action was logged for example an object identifier (IP address) which shows activity such as webpage access, account login requests and successful and unsuccessful login attempts.</p>
		<h4>Audit events</h4>
		<p>We will hold this information for six years from the event occurring. Audit events use log data as the source to provide awareness to NHS Digital analysts who use tools such as Security Information and Event Management (<abbr>SIEM</abbr>) applications to maintain our platform and verification service.</p>
	</section>

	<section id="where-your-data">
		<h3>Where your data is stored </h3>
		<p>We store your data in the European Economic Area (EEA). We will update this notice if we transfer your personal information outside of the EEA. If this happens, we will make sure you are given the same level of protection.</p>
	</section>

	<section id="cookies">
		<h3>Cookies</h3>
		<p>We put small files called cookies onto your device (for example your phone).</p>
		<p>We use:</p>
		<ul>
			<li>cookies that we need to put on your device for our platform to work</li>
			<li>analytic cookies to collect information about how you use our platform to help us make improvements to it</li>
		</ul>
		<p>By accepting our privacy notice, you agree to let us set analytic cookies when you first use our platform.</p>
		<p>Please visit our cookie policy for more information.</p>
	</section>

	<section id="your-rights">
		<h3>Your rights</h3>
		<p>Data protection laws give you rights in relation to your personal information.</p>
		<p>We may ask you for additional information to confirm your identity and for security purposes, before disclosing the personal information requested by you. We also reserve the right to charge a fee, for instance if your request is manifestly unfounded or excessive.</p>
		<p>You can exercise your rights by contacting us:</p>
		<h4>By email:</h4>
		<p>enquiries@nhsdigital.nhs.uk</p>
		<h4>By post:</h4>
		<p>Operational Information Governance Team<br />
			NHS Digital<br />
			1 Trevelyan Square<br />
			Boar Lane<br />
			Leeds<br />
			LS1 6AE</p>
		<p>Subject to legal and other permissible considerations, we will make every reasonable effort to handle your request quickly or let you know you if we require further information.</p>
		<p>We may not always be able to fully address your request, for example if it would impact the duty of confidentiality we owe to others, or if we are legally entitled to deal with the request in a different way.</p>
		<h4>Request a copy of your personal information:</h4>
		<p>You are entitled to ask for a copy of the personal information we hold about you (usually free of charge).</p>
		<h4>Correct your personal information errors or omissions:</h4>
		<p>You can request that we change your personal information if:</p>
		<ul>
			<li>we have recorded your personal information incorrectly</li>
			<li>your personal information is incomplete</li>
		</ul>
		<p>We may check if the personal information we have is correct before changing it. We will do this as quickly as possible and might ask you for more information.</p>
		<h4>Request your personal information is deleted:</h4>
		<p>You can request that we erase your personal information in limited circumstances where:</p>
		<ul>
			<li>it is no longer needed for the purposes for which it was collected</li>
			<li>you have withdrawn your consent (where the data processing was based on consent). The only processing we carry out subject to consent is related to the use of cookies.</li>
			<li>following a successful right to object (see right to object)</li>
			<li>it has been processed unlawfully</li>
			<li>to comply with a legal obligation to which we are subject</li>
		</ul>
		<p>We may not be able to erase your personal information if the processing of your personal information is necessary:</p>
		<ul>
			<li>for compliance with a legal obligation</li>
			<li>for the establishment, exercise or defence of legal claims</li>
			<li>to protect the rights of another natural or legal person</li>
		</ul>
		<h4>Right to transfer your personal information:</h4>
		<p>You can ask us to provide your personal information to you in a structured, commonly used, machine-readable format, or you can ask to have it transferred directly to another data controller, but in each case only where:</p>
		<ul>
			<li>the processing is based on your consent or on the performance of a contract with you</li>
			<li>the processing is carried out by automated means</li>
		</ul>
		<p>Given the nature of the processing in relation to this privacy notice, we expect that this right will not be applicable. The only processing we carry out subject to consent is related to the use of cookies.</p>
		<h4>Request us to restrict our use of your personal information:</h4>
		<p>You have the right to request a restriction such as a temporary stop of the processing of your personal information where:</p>
		<ul>
			<li>you think the personal information is inaccurate and it should not be used until it is corrected</li>
			<li>we are using your personal information unlawfully and you want your personal information to be held by us but not processed whilst a complaint / investigation takes place</li>
			<li>you require us to keep your personal information and not delete it while you make or defend a legal claim</li>
			<li>you have objected to our use of your personal information and we do not have legitimate grounds to override your objection</li>
		</ul>
	</section>

	<section id="objections-and-complaints">
		<h3>Objections and complaints</h3>
		<p>You have a right to lodge a complaint with the Information Commissioner’s Office (<abbr>ICO</abbr>) about our processing of your personal information. The ICO is the regulator for data protection and upholds information rights.</p>
		<p>We ask that you try to resolve any issues with us first, although you have a right to contact the <abbr>ICO</abbr> at any time.</p>
		<p>You can contact our Data Protection Office to make a complaint:</p>
		<h4>By email</h4>
		<p>enquiries@nhsdigital.nhs.uk</p>
		<h4>By post</h4>
		<p>Information Governance Compliance Team<br />
			Health and Social Care Information Centre<br />
			1 Trevelyan Square<br />
			Boar Lane<br />
			Leeds<br />
			LS1 6AE</p>
		<p>We will investigate and attempt to resolve complaints and disputes. We will make every reasonable effort to allow you to exercise your rights as quickly as possible and within the timescales provided by data protection laws.</p>
	</section>

	<section id="changes-to-terms">
		<h3>Changes to our terms of use</h3>
		<p>Our terms of use may change. We will inform you on the platform if we make any changes to our privacy notice, cookie policy or terms and conditions.</p>
	</section>

</div>

{% endblock %}


