{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - What's your full name?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&idType=" + idType %}

{% block content %}

<div class="first-item">

  <form>
    <div class="form-group">

      <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

      <!--<span class="section-header">About you</span>-->

      <h1><legend>What's your full name?</legend></h1>

      <div class="form-group">
        <label class="form-label" for="field1">First name</label>
        <input class="form-control" id="field1" name="field1" type="text" value="">
      </div>
      <div class="form-group">
        <label class="form-label" for="field2">Middle name (if you have one)</label>
        <input class="form-control" id="field2" name="field2" type="text" value="">
      </div>
      <div class="form-group">
        <label class="form-label" for="field3">Last name</label>
        <input class="form-control" id="field3" name="field3" type="text" value="">
      </div>

    </div>


    <div class="form-group">
      <a class="button" href="service-access-nhs-number-demographics-dob{{ params }}">Continue</a>
    </div>
  </form>

</div>

{% endblock %}