{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 4: Record a short video{% endblock %}

{% set signedin = 'true' %}
{% set formerror = 'undefined' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}


{% block content %}

<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
<section class="intructions">

	<div class="reading-width">

		<h1 class="heading-large"><span class="heading-secondary">Step 2 of 3</span> Match your face to your ID document</h1>

		<p>To ensure someone can't pretend to be you, we'll use your camera to make sure your face is the same as the one on the submitted Photo ID.</p>

		<div class="form-control" style="margin: 32px 0 16px;">
			<a class="button--information" href="service-access-iproov{{ params }}">Start</a>
		</div>

	</div>
</section>


{% endblock %}
{% block rightcol %}{% endblock %}