{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2 of 3 - Match your face to your I.D document{% endblock %}

{% set signedin = 'true' %}
{% set formerror = 'undefined' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}


{% block content %}

<!--<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>-->
<section class="intructions">

	<div class="reading-width">

		<h1 class="heading-large"><span class="heading-secondary">Step 2 of 3</span> Match your face to your photo I.D.</h1>

		<p>This is so we know that it's you.</p>
		<p>You can do this with your camera.</p>

		<div class="form-control" style="margin: 32px 0 16px;">
			<a class="button--information" href="service-access-iproov{{ params }}">Continue</a>
		</div>

	</div>

	`
	<details class="dev-mode" role="group" >
		<summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
			<span class="details__summary">Continue with testing scenario</span>
		</summary>
		<div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
			<div class="reading-width">
				<ol>
					<li><a href="service-access-iproov{{ params }}&iproovPass=true">Photo Comparison and ODS passes</a></li>
					<li><a href="service-access-iproov{{ params }}&iproovPass=true&odsPass=false">Photo Comparison Passes and ODS fails</a></li>
					<li><a href="service-access-iproov{{ params }}&iproovPass=false">Photo Comparison fails</a></li>
				</ol>
			</div>
		</div>
	</details>
	{% endif %}

</section>


{% endblock %}
{% block rightcol %}{% endblock %}