{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - To access this service we'll need to do the following{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&mobileNum=" + mobileNum + "&system=" + system + "&hidehead=" + hidehead + "&loggedin=" + loggedin %}

{% block content %}

<div class="first-item">

	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
	<section class="intructions">

		<div class="reading-width">

			<h1 class="heading-large">Proving your identity</h1>

			<p>We'll compare you with your photo I.D. document. We'll help you with this.</p>

			<p>You'll need one of these types of photo identity documents:</p>
			<ul class="instructions-list-unordered">
				<li class="instructions-list-unordered__item">passport</li>
				<li class="instructions-list-unordered__item">UK drivers licence</li>
				<li class="instructions-list-unordered__item">European drivers licence</li>
				<li class="instructions-list-unordered__item">European national identity card</li>
			</ul>

			<div class="form-control" style="margin: 32px 0 16px;">
				<a class="button--information" href="service-access-photo-id-type{{ params }}">Continue</a>
			</div>

			<p class="instructions--link"><a href="service-access-offline{{ params }}">I don't have any of these I.D. documents</a></p>

		</div>
	</section>
</div>

{% endblock %}