{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a photo of your {{ idType }}{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block content %}


<div class="first-item">

    <section class="loading-container" id="scan-id-0" style="display:none">

        <h1 id="spinner-heading" style="padding-bottom: 0; display:none;">Uploading your photo</h1>

        <div class="bar_container">
            <div id="main_container">
                <div id="pbar" class="progress-spinner" data-percent="0">
                    <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class=""/>
                    <div class="ppc-loading">
                        <div class="pcc-percents-wrapper">
                            <span id="spinner-status">Loading</span><span aria-hidden="true">...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="" id="scan-id-1" style="display:block; margin-top: 0;">

        {% if mobileOsV === 11.2 and devMode === 'true' %}

        {% import "_partials/_components/_callout.html" as callout %}
        {{ callout.pattern('','This bit includes one of the extra steps we told you about.','warning') }}

        {% endif %}

        <p><a href="service-access-photo-id-type{{ params }}" class="link-back">Back</a></p>

        <form>
            <fieldset class="">
                <legend for="radio-inline-group">
                    <h1 style="padding-bottom: 0;">
                        {% if mobileOsV === 11.2 and devMode === 'true' %}
                        Upload a photo of your {{ idType }}
                        {% else %}
                        Take a photo of your {{ idType }}
                        {% endif %}
                    </h1>
                </legend>

                {% if mobileOsV === 11.2 and devMode === 'true' %}

                <p>You'll need to:</p>
                <ol>
                    <li>Open your phone's camera and take a photo of your {{ idType }}:
                        <ul class="list list-bullet">
                            <li>hold the {{ idType }} in the palm of your hand as this will reduce glare from above</li>
                            <li>make sure all the details are clear and readable</li>
                        </ul>
                    </li>
                    <li>Come back here and click the button to open your Photo Library.</li>
                    <li>Select the photo you took.</li>
                </ol>

                {% else %}

                <p>Make sure:</p>
                <ul class="list list-bullet">
                    <li>you can read all of the details and see your whole face</li>
                    <li>there is no glare from lights or a window - hold your I.D. at an angle if it helps</li>
                </ul>

                {% endif %}

                <div class="form-group">

                    {% if mobileOs === 'Apple Mac' or mobileOs === 'Microsoft Windows' %}
                      {% set instruction = 'Choose a file' %}
                    {% else %}
                      {% if mobileOsV === 11.2 and devMode === 'true' %}
                         {% set instruction = 'Open your Photo Library' %}
                      {% else %}
                         {% if genericButton === 'true' %}
                            {% set instruction = 'Take a photo' %}
                         {% else %}
                            {% set instruction = 'Open camera' %}
                         {% endif %}
                      {% endif %}
                    {% endif %}

                    <label for="photo-id-document" class="camera-button">{{ instruction }}
                        <input type="file" id="photo-id-document" accept="image/*" {% if mobileOsV === 11.2 and devMode === 'true' %} {% else %}capture="environment" {% endif %} />
                    </label>

                </div>

            </fieldset>

        </form>

        {% if devMode === 'true' %}
        <div style="display: inline-block;background-color: #ffb81c;padding: 0.25em 0.5em;">
            <small>OS version: {{ mobileOsV }}</small>
        </div>
        {% endif %}

    </section>

    <section class="uploader-container" id="scan-id-3" style="display:none">

        <h1 style="padding-bottom: 0;">
            Uploading your photo
        </h1>

        <div class="bar_container">
            <div id="main_container">
                <div id="pbar" class="progress-pie-chart" data-percent="0">
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                            <span>%</span>
                        </div>
                    </div>
                </div>

                <progress style="display: none" id="progress_bar" value="0" max="100"></progress>
            </div>
        </div>

    </section>

    <section class="preview-container" id="scan-id-5" style="display:none">

        <h1 style="padding-bottom: 0;">Check your photo</h1>

        <p>Can you see your full face and read all the information on your {{ idType}}?</p>

        <div class="reading-width">
            <div id="scan-id-preview">
                <img id="uploaded-id" src="#" alt="your image" style="height:auto;"/>
            </div>
        </div>

        <div class="form-group">

            {% if formerror === 'invalid' %}
            <a class="button" href="" id="submit-photoId-button-error">Yes - continue</a>
            {% else %}
            <a class="button" href="" id="submit-photoId-button">Yes - continue</a>
            {% endif %}


            <p><a href="service-access-photo-id-camera{{ params }}" id="">No - take the photo again</a></p>
        </div>

    </section>

    {# section to show uploading error #}
    <section class="preview-container" id="scan-id-6" style="display:none">

        <h1 style="padding-bottom: 0;">Something went wrong</h1>

        <div id="nhs-number" class="has-error form-row-error-active">
            <p>We could not upload your photo.</p>
        </div>

        <div class="form-group">
            <a class="button" href="" id="submit-photoId-back-button">Try again</a>
            <!--<p><a href="service-access-photo-id-camera{{ params }}" id="">Cancel</a></p>-->
        </div>

        <div class="callout callout--info" style="margin-top: 28px;">
            <p>If you keep getting this message, please try again later. It might be a problem with your internet
                connection.</p>
        </div>


        <p class="small">Reference: CID4001</p>

    </section>

    {# section to show the file saving and server-side validation errors #}
    <section class="preview-container" id="scan-id-7" style="display:none">

        <h1 style="padding-bottom: 0;">There's a problem with your photo</h1>

        <p>This could be because of any of the following:</p>
        <ul>
            <li>you sent us a video instead of a photo</li>
            <li>the file is too large</li>
            <li>the file is a type we cannot accept</li>
        </ul>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="">Take another photo</a>
        </div>
        <p class="small" style="margin-top: 28px;">Reference: CID4003</p>
    </section>

    {# section to show the upload timeout errors #}
    <section class="preview-container" id="scan-id-8" style="display:none">

        <h1 style="padding-bottom: 0;">Something went wrong</h1>

        <p>We're having technical problems.</p>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="">Try again</a>
        </div>

        <div class="callout callout--info" style="margin-top: 28px;">
            <p>If you keep getting this message, please try again later.</p>
        </div>

        <p class="small">Reference: CID4002</p>
    </section>

    {% if formerror === 'invalid' %}
    <button id="confirmButton" style="visibility:hidden">Continue to error</button>
    {% elif formerror === 'invalid' %}
    <button id="confirmButton" style="visibility:hidden">Continue to error</button>
    {% else %}
    <button id="continueButton" style="visibility:hidden;"
            onclick="fakeClick(event, document.getElementById('continueButton2'))">Continue
    </button>

    <a id="continueButton2" style="visibility:hidden;" href="service-access-photo-id-camera-2{{ params }}">Continue
    </a>

    {% endif %}

    <script>
        function fakeClick(event, anchorObj) {
            if (anchorObj.click) {
                anchorObj.click()
            } else if(document.createEvent) {
                if(event.target !== anchorObj) {
                    var evt = document.createEvent("MouseEvents");
                    evt.initMouseEvent("click", true, true, window,
                        0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    var allowDefault = anchorObj.dispatchEvent(evt);
                    // you can check allowDefault for false to see if
                    // any handler called evt.preventDefault().
                    // Firefox will *not* redirect to anchorObj.href
                    // for you. However every other browser will.
                }
            }
        }
    </script>

</div>

{% endblock %}