{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Check your mobile{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}


<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>


  <h1 style="padding-bottom: 0;">
    Check your mobile
  </h1>

  <p>We've sent a secure link to {{ mobileNum }}.<br>
  <strong>It may take a few minutes to arrive.</strong></p>

  <p>Please ensure you open the link on your mobile phone in a supported web browser.</p>

  <h2 class="h3">Supported mobile browsers</h2>

  <ul style="padding-left: 0;">
    <li style="list-style-type: none;"><img src="/images/icon-browser-chrome.png" width="32px" height="32px" alt="Google Chrome logo" style="margin-right: 10px;" /><b>Chrome</b></li>

    <li style="list-style-type: none;"><img src="/images/icon-browser-safari.png" width="32px" height="32px" alt="Apple Safari logo" style="margin-right: 10px;" /><b>Mobile Safari</b></li>

    <li style="list-style-type: none;"><img src="/images/icon-browser-samsung.png" width="32px" height="32px" alt="Samsung Internet logo" style="margin-right: 10px;" /><b>Samsung internet</b></li>

    <li style="list-style-type: none;"><img src="/images/icon-browser-firefox.png" width="32px" height="32px" alt="Firefox logo" style="margin-right: 10px;" /><b>Firefox</b></li>

    <li style="list-style-type: none;"><img src="/images/icon-browser-opera.png" width="32px" height="32px" alt="Opera logo" style="margin-right: 10px;" /><b>Opera</b></li>

    <li style="list-style-type: none;"><img src="/images/icon-browser-edge.png" width="32px" height="32px" alt="Microsoft Edge logo" style="margin-right: 10px;" /><b>Edge</b></li>
  </ul>

  <!--<p><a href="#">Resend link</a></p>-->

</div>

{% endblock %}