{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2: Help us find your NHS record{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&idType=" + idType %}

{% block content %}

{% if mobileOsV === 11.2 and devMode === 'true' %}

{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('Your phone does not have the latest version of iOS','<p>So when we ask you to take a photo of your I.D. and record a video, you\'ll need to do 2 extra steps. We\'ll help you with that.</p><p>To update your phone instead, go to your phone\'s Settings. Select General then Software Update. After you\'ve updated, come back and try again.</p>','warning') }}

{% endif %}
<section class="intructions">

	<div class="reading-width">

		<h1 class="heading-large"><span class="heading-secondary">Step 3 of 3</span> Find your NHS record</h1>

		<p>We have to match you to your NHS record. We'll ask you some questions to help us.​</p>

		<div class="form-control" style="margin: 32px 0 16px;">
			<a class="button--information" href="service-access-nhs-number{{ params }}">Continue</a>
		</div>
	</div>
</section>

{% endblock %}
{% block rightcol %}{% endblock %}