{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Instructions to record a short video{% endblock %}

{% set signedin = 'true' %}
{% set hideBeta = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block extrastyles %}
  <style>
    .page-section {
      margin: 0;
      padding: 0;
    }
  </style>
{% endblock %}

{% block content %}



  <section class="" id="scan-id-1">

    <img src="/images/iproov2.gif" />

  </section>

<meta http-equiv="refresh" content="8;url=service-access-iproov-checking{{ params }}">

{% endblock %}