{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Create an NHS account</legend></h1>

        <h2>Do you do any of the following online?</h2>
        
        <ul>
        <li>Book GP appointments online</li>
        <li>View your GP record online</li>
        <li>use any of the following, emis, evergreen, ttp, patient access</li>
        </ul>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="../gp-online/gp-online-4a">
            Yes
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="create-4b">
            No but i have the letter when i first registered
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="create-4b">
            No (create a new nhs account)
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
  </form>
</div>

{% endblock %}