{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Create an NHS account {{serviceName}}{% endblock %}
{% set signedin = '' %}
{% set terms = 'yes' %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch %}
{% endif %}

{% block content %}

<div class="first-item">
  <form action="create-acc-terms{{ params }}" method="POST">

    <div class="form-group">
      <h1>Create an NHS account</h1>
      <div class="form-group">
        <label class="form-label" for="emailAddress">Email Address</label>
        <input class="form-control" id="emailAddress" name="emailAddress" type="email">
      </div>

      <div class="form-group">
        <label class="form-label" for="field3">Password</label>
        <span class="form-label__hint">At least 8 characters. At least 1 capital letter.</span>

        <input class="form-control" id="field3" name="field3" type="password">
      </div>

      <h4>Information Security</h4>
      <p class="small" style="margin-top: 16px;">We will collect and store your information in a secure way. We use your personal information in accordance with the site's <a href="#">privacy policy</a> and <a href="terms{{ params }}">terms and conditions</a>. We will not disclose your personal information to any third parties without obtaining your consent.</p>
      <!--<p class="small" style="margin-top: 16px;"><a href="terms{{ params }}">Read the Terms and Conditions</a></p>-->
    </div>
    <button class="button" href="check-email{{ params }}&terms=yes">I agree to Terms. Create Account</button>
  </form>

  <div style="width: 100%; height: 12px; border-bottom: 1px solid black; text-align: center; margin-bottom: 40px;">
    <span style="font-size: 18px; background-color: #fff; padding: 0 10px;">Or</span>
  </div>

  <div class="sidebar-button sidebar-button--gv">
    <a href="https://nhs-cid-verify.herokuapp.com/intro{{ params }}">
      <img src="/images/logo-verify@2x.png" width="60" />
      <p style="font-size: 16px; line-height: 22px; color: #000;" class="font-xsmall">Create an NHS account with <br><strong>GOV.UK Verify</strong></p>
    </a>
  </div>

  <details class="" role="group">
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
      <span class="details__summary"><span style="font-size: 16px;">What is GOV.UK Verify?</span></span>
    </summary>
    <div id="details-content-0" aria-hidden="true">
      <p class="small">GOV.UK Verify is an identity service that allows you to login where ever you see the GOV.UK Verify logo.</p>
      <p class="small">You can sign up for a GOV.UK Verify account now or log to a service using your GOV.UK Verify credentials</p>
    </div>
  </details>
</div>

{% endblock %}