{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}We cannot log you in{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

  <div class="form-group">
    <h1>We cannot log you in</h1>
    <p>Please email us so we can try to fix the problem.</p>
    <p>Email: <a href="mailto:help.nhslogin@nhs.net">help.nhslogin@nhs.net</a></p>
    <p>Include this code in your email: <b>CID2011</b></p>
  </div>
    
</div>

{% endblock %}