{% extends '_layouts/_grids/_grid-1-stacked2.html' %}

{% block page_title %}Your NHS login{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&newUser=" + newUser  + "&terms=" + terms + "&mobileNum=" + mobileNum %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&newUser=" + newUser + "&terms=" + terms + "&mobileNum=" + mobileNum %}
{% elif newUser %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&mobileNum=" + mobileNum %}
{% endif %}

{% block content %}

<h1>Your NHS login</h1>

<div class="account-info">
  <div class="first-item loginPage">
    <img src="/images/user.png" style="height: 60px; width: auto; display: inline-block; position: relative; top: -25px; margin: 0 10px 0 0;"</img>
    <div class="account-name-link" style="display: inline-block; margin-top: 0px;">
      <h2 style="font-size: 28px;">Jonathan Liam Kingston</h2>
      <p class="accountDetails" style="margin-top: 0px;"><a href="/account/v5/account">Manage your account</a></p>
    </div>
  </div>
</div>

{% endblock %}
{% block leftcol %}


<h3>What does NHS login do?</h3>
  <p>NHS login makes it easier and quicker for you to securely access digital health and care services with 1 username and password. This means you do not have to prove who you are each time you access a service.

</p>

<h3>What services can I access with NHS login?</h3>
  <h4><a href="../start/v11/nhs-app-start">NHS App</a></h4>
    <p style="margin-top: 8px;">You can book GP appointments, manage your prescriptions and access a range of other healthcare services.</p>

  <h4><a href="https://login.microsoftonline.com/eredbookauth.onmicrosoft.com/oauth2/v2.0/authorize?p=b2c_1a_signin&client_id=394839fd-5107-4884-b27b-cc3894659450&redirect_uri=https%3A%2F%2Fapp.eredbook.org.uk%2Fsigninup-oidc&response_type=id_token&scope=openid%20profile%20offline_access%20https%3A%2F%2Feredbookauth.onmicrosoft.com%2Fapi%2Fread&response_mode=form_post&nonce=637013760636554937.ZjE3ZGMzMGItY2E4Yi00NzVkLWFlYzYtZGYxMTc0OWVkNTY1YTdhZGIxMjctNzQ0Ni00ODlhLWIxNzctN2JlOTllYTA1YWY5&state=CfDJ8PaSHDnQsgRErcM_yjvSYC5EaZFfyhI_aXPsmIGqbm3pZxV1S6h9pxywmV53WBBrpOhhqCr6IkHptJmMd6q9OBMmB_ewKlYsjn5UQ7fKj13EMRCdh_v1GtL3krSOLk6tSfnTNWs-nd54b_oZMg0cDSYAcGYjxCOabIYeJZFx78QYb9kMRabvpxVEcfLsDptBGS1tUznox_2aWgXNt53fRqsDkW3jFkpM2DijuxyikZCEiAQXNrOx9uaPWiNJoAv9LzmsswWRE2f83rjRTJ9mhhUppFvIO28e_-F-9jSoYNNimVZDl9WyB8yg_1bpQ3Z1mHdOenuyxXpAfZdDS_cVgoYhegTmHsNTsMPwndVh3HG0&x-client-SKU=ID_NETSTANDARD2_0&x-client-ver=5.4.0.0">eRedbook</a></h4>
    <p style="margin-top: 8px;">Keep track of your child's health, see upcoming appointments and read interesting articles about their development.</p>

  <h4><a href="https://www.patientaccess.com/">Patient Access</a></h4>
    <p style="margin-top: 8px;">You can connect to your GP surgery, book pharmacy services and access medical content.</p>


{% endblock %}

{% block rightcol %}

{% endblock %}
