{% extends 'layouts/grids/grid-2-1-stacked.html' %}
{% block page_title %}Sign in to your NHS account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if vouch %}
{% set params = "?vouch=" + vouch %}
{% elif service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% endif %}

{% block topRow %}
{% if passwordChange == "yes" %}
{% import "partials/components/callout.html" as callout %}
{{ callout.pattern('Your password has been reset.','','attention') }}
{% elif emailValid == "yes" %}
{% import "partials/components/callout.html" as callout %}
{{ callout.pattern('Your email address has been validated.','','attention') }}
{% endif %}

{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">

        {% if serviceName %}
        <span class="section-header">{{ serviceName }}</span>
        {% endif %}

        <h1><legend>Log in to your NHS account</legend></h1>

        <div class="form-group">
          <label class="form-label" for="field1">Email</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="field1">Password</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="two-step-code-login{{ params }}" id="continue">Continue</a>
    </div>
    <p><a href="forgotten-password{{ params }}">Forgotten your password?</a></p>
    <p><a href="create-acc{{ params }}">I don't have an NHS account</a></p>
  </form>
</div>

{% endblock %}