{% extends 'layouts/grids/grid-2-1.html' %}
{% block page_title %}Log in or sign up | NHS UK | {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% elif vouch %}
	{% set params = "?vouch=" + vouch %}
{% endif %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      {% if serviceName %}
      <span class="section-header">{{ serviceName }}</span>
      {% endif %}

      <h1><legend>Log in or sign up</legend></h1>
     

      <a href="create-acc{{ params }}" class="button button--email" style="padding: 12px; text-align: left; color: white">
			<div style="width: calc(100% - 116px); float: left; margin-top:0;">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Sign up with</p>
				<h3 style="margin-top: 0;">Email</h3>
			</div>
			<img style="width: 100px; float:right; margin-top:0;" src="/images/nhs-logotype-white.svg" width="54" height="54" />
		</a>

		<p>Already have an account? <a href="login-nhs{{ params }}">Login</a></p>
		<hr />

		<p>If you are registered with your GP surgery for online services</p>
		<a href="/patient-online/systm-one-1{{ params }}" class="button button--systm-one" style="padding: 12px; text-align: left;">
			<div style="width: calc(100% - 66px);margin-top:0;">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Login with</p>
			</div>
			<img style="margin-top:0; height: 40px; float: right" src="/images/systmonline_logo-trans.png" />
		</a>

		<a href="/patient-online/patient-access-1{{ params }}" class="button button--patient-access" style="padding: 12px; text-align: left; color: white">
			<div style="width: calc(100% - 66px); margin-top:0;">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Login with</p>
			</div>
			<img style="margin-top:0; height: 40px; float: right" src="/images/patient-access-logo-trans.png" />
		</a>

		<p><a href="/patient-online/gp-systems{{ params }}">Login with other GP online services</a></p>
		<hr />

		<a href="https://govuk-verify-loa1.herokuapp.com/intro{{ params }}" class="button button--verify" style="padding: 12px; text-align: left">
			<div style="width: calc(100% - 66px); float: left; margin-top:0;">
			  	<p style="font-size: 16px; line-height: 22px" class="font-xsmall">Continue with</p>
				<h3 style="margin-top: 0;">GOV.UK Verify</h3>
			</div>
			<img style="width: 50px; float:right; margin-top:0;" src="/images/logo-verify.png" width="54" height="54" />
		</a>

		<details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false">
        <span class="details__summary">What is GOV.UK Verify?</span>
      </summary>
      <div id="details-content-0" aria-hidden="true">
        <p>GOV.UK Verify is an identity service that allows you to login where ever you see the GOV.UK Verify logo.</p>
		<p>You can sign up for a GOV.UK Verify account now or login to view your hospital record using your GOV.UK Verify credentials</p>
      </div>
    </details>
    </div>
  </form>
</div>

{% endblock %}