{% extends '_layouts/_iframe_layout.html' %}
{% block page_title %}Login to your NHS Account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}




{% block body %}

<style>
.global-header__inner {
  padding-left: 16px;
}
.page-section {
    padding: 0 16px 16px 16px;
}

input.form-control {
    margin-top: 0;
    margin-bottom:16px;
}
</style>
<!--
{% if resend == "yes" %}
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('','Your security code has been resent.','attention') }}
  {% endif %}
-->
<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">
        {% if terms %}
        <h1>Check your phone</h1>
        {% else %}
        <h1>Security code</h1>
        {% endif %}

        {% if terms %}
        <p>We've sent you a text message with a security code to {{ mobileNum }}.</p>
        {% else %}
        <h2 class="heading-xlarge"><legend>Enter security code</legend></h2>
        <p>We have sent a security code to your phone</p>
        {% endif %}

        <div class="form-group">
          <label class="form-label" for="code">Text message code</label>
          <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="" class="code">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      {% if terms %}
      <a id="modalLoginComplete" href="https://eredbook-uat.azurewebsites.net/parental/Inbox" class="button">Continue</a>
      {% else %}
      <a id="modalLoginComplete" href="https://eredbook-uat.azurewebsites.net/parental/Inbox" class="button">Continue</a>
      {% endif %}
    </div>
<!--<p class="">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, <a href="two-step-code-login{{ params }}&terms=yes&resend=yes">you can resend it</a>.</p>-->
    {% if not terms %}
    {% endif %}
 <p class="">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, <a href="two-step-code-login{{ params }}?resend=yes&mobileNum=07403473169">you can resend it</a>.</p>
   
  </form>
</div>

{% endblock %}

