{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Login to your NHS Account {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% elif vouch %}
{% set params = "?vouch=" + vouch %}
{% endif %}

{% block content %}
<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        {% if serviceName %}
        <span class="section-header">{{ serviceName }}</span>
        {% endif %}

        <h1 class="heading-large">Enter your phone number</h1>

        <h2 class="heading-xlarge"><legend>We need your phone number to make your account more secure.</legend></h2>

        <p>We'll send you a security code to your mobile. This is to make sure that the mobile number you enter belongs to you.</p>
        <p>We'll send you a code every time you sign in, to make sure it's not someone pretending to be you.</p>
        
        <div class="form-group">
          <input type="text" class="form-control" name="" id="" value="">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="two-step-code{{ params }}" class="button" id="continue">Continue</a>
    </div>

    
  </form>
</div>

{% endblock %}

