{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}{% include '_partials/_components/_name.html' %} - {{serviceName}}{% endblock %}
{% set signedin = 'true' %}

{% block content %}
<div class="component-callout">
	Your password has been changed.
</div>

<div>
	<h1>Your {% include '_partials/_components/_name.html' %} account</h1>
	<h2 id="conditions" class="heading-large">Personal details</h2>
	<!-- <p><b>Name:</b><br>John Maurice King</p>
	<p><b>Address:</b><br>
		72 Tong Road,<br>
		Pudsey,<br>
		Leeds<br>
		LS12 3QK</p>
	<p><b>Phone number:</b><br>
		07779 000333</p> -->
	<p><b>Email:</b><br>johnmaurice93@hotmail.com</p>
	<h2 id="conditions" class="heading-large">Password</h2>
	<p><a href="two-step-code-password">Change password</a></p>
</div>

{% endblock %}

