{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Access {{ serviceName }} - Matching you to your NHS record{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

  <form action="nhs-number{{ params }}" method="POST">
    <div class="form-group">

      <fieldset>
          <h1 class="">About you</h1>

        <p>We need the following details to match you to your NHS number.</p>

        <div aria-hidden="false" aria-expanded="false" class="" id="nhs-no" style="margin: 32px 0 0;">

          <div class="form-group">

            <label class="form-label" for="firstname">First name</label>
            <input class="form-control" type="text" id="firstname" name="firstname">

            <label class="form-label" for="lastname">Last name</label>
            <input class="form-control " type="text" id="lastname" name="lastname">

            <label class="form-label" for="postcode">Postcode</label>
            <span style="padding-bottom: 10px; margin-top: 10px; display: block;">This must be the same postcode that is registered with your GP</span>
            <input class="form-control postcode" type="text" id="postcode" name="postcode">

          </div>

          <div class="form-group">
            <fieldset>
              <legend class="form-label">
                Date of birth
              </legend>
              <span class="form-label__hint" style="margin-top: 10px;">For example, '31 4 1980'</span>
              <div class="form-group -date" style="margin-top: 10px;">
                <div class="form-date-field">
                  <label for="dob-day" style="margin-bottom: 5px; display: block;">Day</label>
                  <input type="number" id="dob-day" name="dob-day" pattern="[0-9]" value="" class="day" maxlength="2" min="1" max="31">
                </div>
                <div class="form-date-field">
                  <label for="dob-month" style="margin-bottom: 5px; display: block;">Month</label>
                  <input type="number" id="dob-month" name="dob-month" pattern="[0-9]" value="" class="month" maxlength="2" min="1" max="12">
                </div>
                <div class="form-date-field">
                  <label for="dob-year" style="margin-bottom: 5px; display: block;">Year</label>
                  <input type="number" id="dob-year" name="dob-year" pattern="[0-9]" value="" class="year" maxlength="4" min="1900" max="2018">
                </div>
              </div>
            </fieldset>
          </div>

        </div>

    </div>

    <div class="form-group">
      <a class="button" href="service-access-photo-id{{ params }}" id="continue">Continue</a>
    </div>


  </form>

</div>

{% endblock %}