{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Enter your mobile phone number{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if identityLevel0 === 'true' or identityLevel9 === 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&identityLevel0=" + identityLevel0 + "&identityLevel9=" + identityLevel9 + "&recoveryEmail=" + recoveryEmail %}
{% else %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}
<div class="first-item">
    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
    
    <form action="enter-number{{ params }}" method="POST">
      <div class="form-group">
            <legend>
            <h1 class="heading-large">Enter your mobile phone number</h1>
            </legend>
            <p style="margin: 0;">We need you to confirm the number linked to your account.</p>
            <p>We will not text a security code to this number.</p>
            <label class="form-label" for="">Mobile number</label>
            <input style="width: 20em;" aria-label="Phone number" class="form-control" id="mobileNum" name="mobileNum" type="tel">
        </div>
        <div class="form-group">
            <button class="button" style="margin: 0px;">Continue</button>
        </div>
    </form>
</div>

{% if devMode === "true" %}
<details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">

            <p>Recovery email</p>
            <ol>
                <li><a href="enter-number{{ params }}&recoveryEmail=false&identityLevel9=true">User is P>0 and does not have recovery email</a></li>
                <li><a href="enter-number{{ params }}&recoveryEmail=false&identityLevel0=true">User with P=0</a></li>
            </ol>
            

        </div>
    </div>
</details>
{% endif %}

{% endblock %}


