{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Enter your NHS number{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if identityLevel0 === 'true' or identityLevel9 === 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&identityLevel0=" + identityLevel0 + "&identityLevel9=" + identityLevel9 + "&recoveryEmail=" + recoveryEmail %}
{% else %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}


{% block content %}
<div class="first-item">
    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

    <div class="form-group">
        <legend>
          <h1 class="heading-large">Contact the National Service Desk</h1>
        </legend>
        <p style="margin: 0;">If you do not know your NHS number, contact the National Service Desk to find out how to change your phone number. You will need to make note of the reference below.</p>
        <p>Email: <a href="mailto:nationalservicedesk@nhs.net?subject=Reference:CID3001&body=Email">nationalservicedesk@nhs.net</a></p>
        <p>Phone: 0300 303 5035</p>
        <p>Reference: <b>CID3001</b></p>
</div>


{% if devMode === "true" %}
<details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">

            <p>Email</p>
            <ol>
                <li><a href="/emails/email-recover-notify{{ params }}">Notification email sent to the users primary email address</a></li>
            </ol>
            

        </div>
    </div>
</details>
{% endif %}

{% endblock %}

