{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Enter your recovery email{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser + "&mobileNum=" + mobileNum  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}
<div class="first-item">
   <p><a href="/account-recovery/enter-number{{ params }}" class="link-back">Back</a></p>
  <form action="enter-new-number{{ params }}" method="GET">
    <div class="form-group">
        <legend>
          <h1 class="heading-large">Enter your recovery <a style="text-decoration: none; color: #231f20;" href="/emails/email-recover-notify">email</a></h1>
        </legend>
        <p style="margin-top: 0px;">This will help us identify that it's you who wants to change your mobile number.</p>
        <label class="form-label" for="">Recovery email</label>
        <input aria-label="Recovery email" class="form-control" id="recoveryEmail" name="recoveryEmail" type="text">
    </div>
    <div class="form-group">
      <button class="button">Continue</button>
    </div>
  </form>
</div>

{% endblock %}

