{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Check your phone{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if identityLevel0 === 'true' or identityLevel9 === 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&identityLevel0=" + identityLevel0 + "&identityLevel9=" + identityLevel9 + "&recoveryEmail=" + recoveryEmail + "&newMobileNum=" + newMobileNum %}
{% else %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}
<div class="first-item">
  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
  <form>
    <div class="form-group">
      <legend>
        <h1 class="heading-large">Check your phone</h1>
      </legend>
      <p style="margin: 0;">Enter the security code we've sent to {{newMobileNum}}</p>
      <p>It may take a minute or so to arrive.</p>
      <label class="form-label" for="">Security code</label>
      <p class="hint" style="margin-top: 0px;">The code is 6 digits</p>
      <input style="width: 20em;" aria-label="Security Code" class="form-control" id="securityCode" name="securityCode" type="tel">
    </div>
    {% if identityLevel0 === 'true' %}
    <div class="form-group">
        <a href="wait-24-hours{{params}}" class="button">Continue</a>
    </div>
    {% else %}
      {% if recoveryEmail === 'undefined' %}
      <div class="form-group">
        <a href="check-recovery-email{{params}}" class="button">Continue</a>
      </div>
      {% else %}
      <div class="form-group">
          <a href="wait-24-hours{{params}}" class="button">Continue</a>
      </div>
      {% endif %}
    {% endif %}

    <p class="">If you do not get a code, <a href="enter-new-number{{ params }}">enter your number to try again</a></p>

  </form>

</div>

{% endblock %}

