{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Wait 24 hours{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if identityLevel0 === 'true' or identityLevel9 === 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&identityLevel0=" + identityLevel0 + "&identityLevel9=" + identityLevel9 + "&recoveryEmail=" + recoveryEmail + "&newMobileNum=" + newMobileNum %}
{% else %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&newMobileNum=" + newMobileNum %}
{% endif %}

{% block content %}
<div class="first-item">
  <form action="two-step{{ params }}">
    <div class="form-group">
      <legend>
        <h1 class="heading-large">Phone number changed</h1>
      </legend>

      {% if recoveryEmail === 'false' %}
        {% if identityLevel0 === "true"%}
          <p style="margin-top: 0px;">Your phone number has been changed to {{ newMobileNum }}</p>
          <a class="button">Continue back to {{serviceName}}</a>
        {% else %}
          <p style="margin-top: 0px;">Your phone number will be changed to {{ newMobileNum }}</p>
          <p>For security reasons, it will take 24 hours for the change to happen.</p>
          <p>If you need to change your number in future, you can <a href="recovery-email-enter{{ params }}">create a recovery email</a> to make this easier.</p>
        {% endif %}
      {% else %}
        <p style="margin-top: 0px;">Your phone number will be changed to {{ newMobileNum }}</p>
        <p>You will receive a confirmation email when the change is confirmed.</p> 
      {% endif %}

  </form>
</div>

{% if devMode === 'true' %}
  <details class="dev-mode" role="group" >
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="details__summary">Continue with testing scenario</span>
      </summary>
      <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
          <div class="reading-width">

              <p>Email</p>
              <ol>
                  <li><a target="_blank" href="/emails/email-recover-success{{ params }}">Success email sent to the users primary email address</a></li>
                  <li><a target="_blank" href="/emails/email-recover-fail{{ params }}">Failure email sent to the users primary email address</a></li>
              </ol>
              
          </div>
      </div>
  </details>
{% endif %}

{% endblock %}

