{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - {{ theService.name('login') }}{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">
   <form>

        <div class="form-group">
          <h1>{{ theService.name('create') }}</h1>
          <p>If you do not have an {{ theService.name('create-msg') }} you need to create one.</p>
          <a class="button" href="/patient-online/v10/patient-online-details{{ params }}" id="">{{ theService.name('create') }}</a>
        </div>

        <hr>
        <div class="form-group">
            <h1>{{ theService.name('login') }}</h1>

            <fieldset class="">

                <div class="form-group">
                    <label class="form-label" for="field1">Email address</label>
                    <input class="form-control" id="field1" name="field1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="field1">Password</label>
                    <input class="form-control" id="field2" name="field2" type="password">
                </div>

            </fieldset>
        </div>

        <a class="button" href="/remote-testing/acc-card-1{{ params }}" id="">Continue</a>

    </form>
</div>

{% endblock %}