{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - {{ theService.name('login') }}{% endblock %}
{% set signedin = '' %}

{% block content %}
<div class="first-item">
  <form>
    <div class="form-group">

      <div class="component-callout">
        Your password has been reset.
      </div>

      <h2>{{ theService.name('login') }}</h2>

      <div class="form-group">
        <label class="form-label-bold" for="field3">Email address</label>
        <input class="form-control" id="field3" name="field3" type="email">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="field2">Password</label>
        <input class="form-control" id="field2" name="field2" type="password">
      </div>

    </div>
    <a class="button" href="two-step-code-login">Login</a>

    <p class="small"><a href="forgotten-password">Forgotten your password?</a></p>
  </form>
</div>

{% endblock %}

{% block footer %}{% endblock %}
