{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Enter security code{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if vouch %}
{% set params = "?vouch=" + vouch %}
{% elif service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}
{% endif %}

{% block content %}
<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1 class="heading-large">Security code</h1>

        <h2 class="heading-xlarge"><legend>Enter security code</legend></h2>

        <p>We've sent your security code to:</p>
        <p>077** ***333</p>
        <p>It may take a minute or so to arrive.</p>
        
        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="" class="code">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="two-step-thanks{{ params }}" class="button" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}

