{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Check your email{% endblock %}
{% set signedin = '' %}
{% set newUser = 'yes' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&newUser=" + newUser + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif newUser %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <form>
    <div class="form-group">
      <h1>There is a problem</h1>

      <p>You have not confirmed your email address.</p>
      <p>To continue setting up your NHS login, confirm your email address using the link we sent to {{ emailAddress }}</p>
      <p>You can <a href="create-acc-terms">enter your email address again</a> if you got it wrong.</p>
    </div>
    <div class="form-group">
      <div class="form-group">
        <a href="two-step-code-login{{ params }}" class="button">Continue</a>
      </div>

      <p>If you do not get an email, check your spam folder.</p>
    </div>
  </form>
  
  {% include '_partials/_includes/_scenarios_setup.html' %}

</div>

{% endblock %}
