{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Enter your email address{% endblock %}
{% set signedin = '' %}
{% set terms = 'yes' %}
{% set showWarning = "false" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back to: Do you have an NHS login</a></p>

  <form>

    <div class="form-group">
      <h1>Enter your email address</h1>
      <p>We will send you an email to confirm your NHS login.</p>
      <p>If you've already set up an NHS login, <a href="login-nhs{{ params }}">log in instead.</a></p>
      <div class="form-group">
        <label class="form-label" for="emailAddress">Email address</label>
        <input class="form-control" id="emailAddress" name="emailAddress" type="email">
      </div>
    </div>
    <a class="button" id="button--save" href="create-password{{ params }}">Continue</a>
  </form>

  {% include '_partials/_includes/_scenarios_setup.html' %}

</div>

<script type="text/javascript">
  submitSpinner()
  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      window.location.href = target.getAttribute('href')
    }, 2500)
  }
</script>

{% endblock %}