{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Your password has been changed{% endblock %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy  + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% set signedin = 'true' %}

{% block content %}
<div class="component-callout">
	Your password has been changed.
</div>

<div>
	<h1>{{ theService.name('your') }}</h1>
	<h2 id="conditions" class="heading-large">Personal details</h2>
	<p><b>Email:</b><br>johnmaurice93@hotmail.com</p>
	<h2 id="conditions" class="heading-large">Password</h2>
	<p><a href="two-step-code-password">Change password</a></p>
</div>

{% endblock %}

