{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Reset your password{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch %}
{% endif %}

{% block content %}

<style>
.global-header__inner {
  padding-left: 16px;
}
.page-section {
    padding: 0 16px 16px 16px;
}

input.form-control {
    margin-top: 0;
    margin-bottom:16px;
}
</style>
<p><a href="login-nhs{{ params }}" class="link-back">Back</a></p>

<form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">Reset your password</h1>

        <p>We will send you instructions on how to reset your password to your email.</p>
        
        <div class="form-group">
          <label class="form-label" for="field1">Email address</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email{{ params }}" class="button" >Continue</a>
    </div>

    <!--<p><a href="login-nhs">Sign in with {% include '_partials/_components/_name.html' %}</a></p>-->

    
  </form>

{% endblock %}

