{% import '_macros/_macro_app.html' as backlink with context %}
{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Enter security code{% endblock %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser + "&resend=" + resend + "&result=" + result %}


{% block topRow %}
{% if resend === "yes" %}
{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('','Your security code has been resent.','attention') }}
{% endif %}
{% endblock %}


{% block content %}

<p><a href="login-nhs{{ params }}" class="link-back">back</a></p>

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h1>Check your phone</h1>

        <p>Enter the security code we sent to {{ mobileNum }}. The code expires in 2 minutes.</p>

        <div class="form-group">
          <label class="form-label" for="securityCodes">Security code</label>
          <span class="form-label__hint">The code is 6 numbers</span>
          <input autocomplete="off" type="tel" class="form-control" name="code" id="securityCodes" value="" class="code">
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <a id="securitycodeContinue" href="/patient-online/v11/patient-online-start{{ params }}" target="_parent" class="button">Continue</a>
    </div>

    <p class="">If you do not get a code, <a href="login-nhs{{ params }}">log in again to get a new code.</a></p>

  </form>
</div>

{% endblock %}

