{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 4: Record a short video{% endblock %}

{% set signedin = 'true' %}
{% set formerror = 'undefined' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}


{% block content %}

<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

<h1>Follow these steps</h1>
<p>You'll need to give us some information so that we can connect you to your NHS record, and keep your NHS login secure.</p>
<section class="service-access-wrapper">

	<!-- <h1>Proving your identity</h1> -->

	<ol class="service-access">
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Set up your NHS login</h3>
			<div class="service-access__item__desc">
				<p>You will need your phone.</p>
				<p>Your {% include '_partials/_components/_name.html' %} account will allow you to sign into multiple health services in the future.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Help us find your NHS record</h3>
			<div class="service-access__item__desc">
				<p>You'll need to give us some information so that we can connect you to your NHS record.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Take a photo of your ID</h3>
			<div class="service-access__item__desc">
				<p>You'll need to take a photo of your passport or driving licence.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item active">
			<h3 class="service-access__item__title">Record a short video</h3>
			<div class="service-access__item__desc">
				<p>This is so we can check that your face matches your photo ID.</p>
			</div>
			<a href="service-access-video-selfie-instructions-2{{ params }}" class="service-access__item__button button">Start</a>
		</li>
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}