{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Connecting to your GP.{% endblock %}

{% set signedin = 'false' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&result=" + result + "&reason=" + reason %}

{% block content %}

<div class="first-item">

  <section class="intructions">

    <div class="reading-width">

      <h1 class="heading-large">Connecting to your GP</h1>

      <p>We will now try to connect your NHS login to your GP surgery.​</p>

      <div class="form-control" style="margin: 32px 0 16px;">
        <a class="button--information" href="service-access-connect-gp-working{{ params }}">Continue</a>
      </div>
    </div>


  </section>

</div>

{% endblock %}
