{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - What is your NHS number?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <h1 class="">Sorry - you cannot continue</h1>

  <p>We need to see a photo of your I.D. to check that the information on your I.D. matches your NHS record.</p>

  <p>We can only accept UK driving licences and UK passports at the moment.</p>

  <div class="callout callout--info">
    <h2 class="h3">What you can do instead</h2>
    <p>Follow these steps:</p>
    <ol>
      <li> Tell your GP surgery that you want to sign up for their online services. They will ask you to fill in a form and prove who you are.</li>
      <li>Your GP surgery will give you registration details. You will need:
        <ul>
          <li>Linkage Key (could be called a Passphrase)</li>
          <li>O.D.S. Code (could be called an Organisation Code or Practice I.D.)</li>
          <li>Account I.D.</li>
        </ul>
      </li>
      <li>When you have your registration details, go to '<b>{client_id}</b>' and use your NHS login. You will be asked to enter these 3 details.</li>
    </ol>
  </div>

</div>

{% endblock %}