{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Sorry - we cannot connect you to your GP surgery{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser + "&system=" + system + "&practiceID=" + practiceID + "&result=" + result %}

{% block content %}

<div class="first-item">
    <h1>Sorry - we cannot connect you to your GP surgery</h1>

    <p></p>



    <div class="callout callout--info">
        <h3>Alternative way to connect to your GP system</h3>
        <p>Contact your GP surgery and ask them for your registration details for their online booking system. These details are sometimes called patient online registration details.</p>
        <p>When you have your details, log in and try again.</p>

        <a class="button" href="/patient-online/pb/patient-online-details">Enter registration details</a>
    </div>

    <p class="small">Reference: CID7020</p>

</div>

{% endblock %}
