{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 4: Record a short video{% endblock %}

{% set signedin = 'true' %}
{% set formerror = 'undefined' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&formerror=" + formerror + "&hidehead=" + hidehead + "&challenge=" + challenge + "&pinCode=" + pinCode + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}


{% block content %}

<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

<h1>Use photo I.D. to prove who you are</h1>

<section class="service-access-wrapper">

	<!-- <h1>Proving your identity</h1> -->

	<ol class="service-access">
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Help us find your NHS record</h3>
			<div class="service-access__item__desc">
				<p>It's better if you have your NHS number - but you do not need it.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Send a photo of your I.D.</h3>
			<div class="service-access__item__desc">
				<p>You will need to take a photo of your passport, UK or European driving licence, or your European national identity card.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item active">
			<h3 class="service-access__item__title">Record a short video</h3>
			<div class="service-access__item__desc">
				<p>This is so we can check your face matches the face on your photo I.D.</p>
			</div>
			<a href="service-access-video-selfie-instructions-2{{ params }}" class="service-access__item__button button">Start</a>
		</li>
	</ol>

	<p>If you do you not have any photo I.D. or you do not want to do this, you can <a href="service-access-no-documents{{ params }}">go to your GP surgery to prove who you are.</a></p>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}