{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - What's your postcode?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&idType=" + idType %}

{% block content %}

<div class="first-item">

  <form>
    <div class="form-group">

      <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

      <h1><legend>What's your postcode?</legend></h1>

      <div class="form-group">

        <span class="form-hint" style="">This must be the same postcode that is registered with your GP</span>
        <input class="form-control postcode" type="text" id="postcode" name="postcode">

      </div>

    </div>

    <div class="form-group">
      <a class="button" href="service-access-confirmation{{ params }}" id="button--save">Continue</a>
    </div>
  </form>

</div>

<script type="text/javascript">
  submitSpinner()
  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }
  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      window.location.href = target.getAttribute('href')
    }, 2500)
  }
</script>

{% endblock %}