{% extends '_layouts/_nhsuk_layout.html' %}

{% block body %}

<div class="grid-row">

  <div class="">
    <header role="banner">
      <div class="global-header">
        <div class="global-header__inner">
          <a href="/" class="global-header__link">
            <img src="/images/nhs-logotype-blue.svg" alt="NHS">
          </a>

        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
    <footer role="contentinfo">
      <div class="global-footer">
        <div class="global-footer__inner">
          <div>

            <h2 class="util-visuallyhidden">Support links</h2>
            <ul class="link-list">
              <li>
                <a href="https://beta.nhs.uk/help/clinical-assurance">Clinical assurance</a>
              </li>
              <li>
                <a href="https://beta.nhs.uk/help/cookies">Cookies</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </footer>
  </div>

</div>

{% endblock %}