{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<div class="first-item">

  <form>
    <div class="form-group">

      <span class="section-header">Patient Q&As</span>

      <h1 class="">
        <legend>
          <span class="heading-secondary">Question 2 of 3</span>
          Are you allergic or sensitive to anything?
        </legend>
      </h1>
      <fieldset>

        <div class="selection-button-radio-inline">
          <div class="multiple-choice" data-target="delivery-text">
            <input aria-controls="qanda-2" id="radio-inline-1" type="radio" name="radio-inline-group" value="yes">
            <label class="block-label" for="radio-inline-1">Yes</label>
          </div>
        </div>

        <div class="selection-button-radio-inline">
          <div class="multiple-choice" data-target="delivery-text">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
            <label class="block-label" for="radio-inline-2">No</label>
          </div>
        </div>

        <div aria-hidden="true" aria-expanded="false" class="panel panel-border-narrow js-hidden" id="qanda-2">
          <label class="form-label" for="qanda-2b">Details</label>
          <input class="form-control" type="text" id="qanda-2b" name="qanda-2b">
        </div>



      </fieldset>
    </div>

    <div class="form-group">
      <a class="button" href="vouching-qanda-question-3" id="">Continue</a>
    </div>

  </form>

</div>

{% endblock %}