{% extends '_layouts/_grids/_grid-2-1.html.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>The vouching process has been cancelled</legend></h1>

        {% import "_partials/_components/_callout.html" as callout %}
        {{ callout.pattern('This is because:','<ul>
        <li>The patient cannot be vouched for in person</li>
        <li>The patient has no photo ID</li>
        <li>The patient\'s answers to the Q&As aren\'t strong enough</li>
      </ul>','info') }}

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="vouching-service-start" id="continue">Start again</a>
    </div>
    
  </form>
</div>

{% endblock %}