{% extends '_layouts/_grids/_grid-2-1.html.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <h1><legend>Are you satisfied that the patient knows enough about their clinical record for you to vouch for their identity?</legend></h1>

      {% include '_partials/_vouching-disclaimer.html'%}
      <fieldset class="">





        <div class="selection-button-radio-inline">
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="vouching-token-delivered">
            Yes
          </label>
        </div>

        <div class="selection-button-radio-inline">
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="vouching-process-cancelled">
            No
          </label>
        </div>
      </fieldset>


    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>

  </form>
</div>

{% endblock %}