{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}
<h1>Proving patient identity</h1>
<p>Use this service to prove a patient’s identity so they can use their NHS login to access certain health websites and apps.</p>
<p>You can do this by either:</p>
<ul>
	<li>confirming you know the patient</li>
	<li>checking their photo ID</li>
	<li>or asking them questions about their medical record</li>
</ul>
<a class="button" href="vouching-nhs-number" id="">Start</a>


{% endblock %}