{% extends '_layouts/_grids/_grid-email-hotjar.html' %}
{% block page_title %}NHS account {{serviceName}}{% endblock %}
{% set hidehead = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&passwordChange=" + passwordChange + "&newUser=" + newUser + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead %}
{% elif newUser %}
  {% set params = "?newUser=" + newUser + "&service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead %}
{% endif %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;" >
  <h1>Validate your email address</h1>
  <p>Before you can sign in using {% include '_partials/_components/_name.html' %} you need to validate your email address.</p>

  <p>If you didn't create an {% include '_partials/_components/_name.html' %} account using this email address please ignore this email and we will delete the NHS account after 48 hours.</p>

  {% if service === "nhsonline" or service === "mvp" %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&passwordChange=" + passwordChange + "&newUser=" + newUser + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=undefined"  + "&poluser=" + poluser %}
  <p><a class="button" href="/create-account/v13/two-step{{ params }}">Validate my email</a></p>
  {% else %}
  <p><a class="button" href="/create-account/v13/two-step{{ params }}">Validate my email</a></p>
  {% endif %}
  <!--<p>Or copy and paste this link:<br><a href="/create-account/login-nhs{{ params }}">https://nhs-cid.herokuapp.com/create-account/login-nhs{{ params }}</a></p>-->
</div>

{% endblock %}