{% extends '_layouts/_grids/_grid-1-onfido.html' %}
{% block page_title %}Access eRedbook - Prove your Identity{% endblock %}
{% set signedin = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum %}

{% block header %}
{% endblock %}

{% block topRow %}
{% endblock %}

{% block content %}
<script type="text/javascript">

    var url = "https://token-factory.onfido.com/sdk_token"
    var request = new XMLHttpRequest()
    var redirect = "service-access-eredbook-05{{ params }}"
    request.open('GET', url, true)
    request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
            var data = JSON.parse(request.responseText)

            Onfido.init({
                useModal: true,
                token: data.message,
                onComplete: function(data) {
                    // callback for when everything is complete
                    console.log("everything is complete")
                    window.location.href = redirect
                },
                steps: [
                    // {
                    //     type:'welcome',
                    //     options:{
                    //         title:'',
                    //         descriptions: [
                    //             'To access this service, we will need to verify your identity.',
                    //             'It will only take a couple of minutes.',
                    //             'You will need to take a photo of your ID Document and a selfie photo.'
                    //         ],
                    //         nextButton:'Continue'
                    //     }
                    // },
                    // 'document',
                    'face'
                    // 'complete'
                ]
            })
        }
    }
    request.send()
</script>


<h1>Record a video selfie</h1>

<p>When you record your video selfie, move your head slowly from side to side for no more than 5 seconds.</p>

<!--
<p>To access this service, we will need to verify your identity.</p>
<p>It will only take a couple of minutes.</p>
<p>You will need to take a photo of yourself using your webcam or your mobile phone.</p>
-->
<button id='onfido-button' disabled>Continue</button>

<p><a href="/prove-your-identity/pyi-continue-offline{{ params }}">I would prefer to prove my identity another way</a></p>

<div id="onfido-mount"></div>



{% endblock %}