{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Sign in to your NHS account {{serviceName}}
{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<style>
.global-header__inner {
  padding-left: 16px;
}
.page-section {
    padding: 0 16px 16px 16px;
}

input.form-control {
    margin-top: 0;
    margin-bottom:16px;
}
</style>

<div class="first-item">
   <form>
        <div class="form-group">
            <h1>Sign in</h1>

            <fieldset class="">

                <div class="form-group">
                    <label class="form-label" for="field1">Email address</label>
                    <input class="form-control" id="field1" name="field1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="field1">Password</label>
                    <input class="form-control" id="field2" name="field2" type="password">
                </div>

            </fieldset>
        </div>

        <a class="button" href="two-step-code-login{{ params }}" id="">Continue</a>

        <p><a id="modal-create-acc" href="/service-access/mvp/service-access-account{{ params }}">Create a new NHS account</a></p>

        <p><a href="forgotten-password{{ params }}">Forgotten your password?</a></p>

        <div style="width: 100%; height: 12px; border-bottom: 1px solid black; text-align: center; margin-bottom: 40px;">
          <span style="font-size: 18px; background-color: #ffffff; padding: 0 10px;">Or</span>
        </div>


        <div class="sidebar-button sidebar-buttongv" style="background-color: #f0f4f5;">
            <a id="modal-verify" href="https://nhs-cid-verify.herokuapp.com/intro{{ params }}">
                <img src="/images/govuk-verify-transparent.svg" width="60" />
                <p style="font-size: 16px; line-height: 22px; color: #000;" class="font-xsmall">Sign in to your NHS account with <strong>GOV.UK Verify</strong></p>
            </a>
        </div>
    </form>
</div>

{% endblock %}