{% extends '_layouts/_grids/_grid-2-2.html' %}
{% block page_title %}View your Personal Child Health Record{% endblock %}

{% set isServiceStart = 'true' %}
{% set service = "results" %}
{% set serviceName = "view%20your%20Personal%20Child%20Health%20Record%20" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern("View your Personal Child Health Record",'') }}
{% endblock %}

{% block content %}

<p>Use this service to:</p>
<ul>
  <li>manage the screening and routine reviews</li>
  <li>chart your child's weight and height</li>
  <li>manage your child's immunisation schedule</li>
</ul>

<!--<a href="/create-account/sign-on{{ params }}" class="button">Start</a>-->


<!--<button class="button" type="button" id="modal_open">Start</button>-->


<div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">
  <div class="modal-content" id="modal_holder" role="document">
    {% include "create-account/_partials/_create-new-account.html" %}
    <button class="btn-close" id="modal_close" type="button" aria-label="close">
      &times;
    </button>
  </div> <!-- end .modal-content -->
</div> <!-- end .modal-overlay -->

{% endblock %}
{% block rightcol %}
{% if message %}
<div class="sidebar-callout">
  {% if message === "email-resent" %}
  <p>We have sent you an email with instructions to reset your password</p>
  {% elif message === "text-resent" %}
  <p>We have sent a new security code</p>
  {% endif%}
</div>
{% endif%}

<div class="sidebar">
  {% if sidebar === "create-new" %}
    {% include "create-account/_partials/_create-new-account.html" %}
  {% elif sidebar === "2fa" %}
    {% include "create-account/_partials/_log-in-2fa.html" %}
  {% elif sidebar === "forgot-pass" %}
    {% include "create-account/_partials/_log-in-forgot-pass.html" %}
  {% elif sidebar === "verify-email" %}
    {% include "create-account/_partials/_verify-email.html" %}
  {% elif sidebar === "set-mobile" %}
    {% include "create-account/_partials/_set-mobile.html" %}
  {% elif sidebar === "2fa-new" %}
    {% include "create-account/_partials/_create-account-2fa.html" %}
  {% else %}
    {% include "create-account/_partials/_log-in.html" %}
  {% endif %}
</div>
{% endblock %}