{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}View your Personal Child Health Record (PCHR){% endblock %}

{% set service = "results" %}
{% set serviceName = "View%20your%20Personal%20Child%20Health%20Record%20(PCHR)" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern("View your Personal Child Health Record (PCHR)",'') }}
{% endblock %}

{% block content %}

<p>Use this service to:</p>
<ul>
  <li>manage the screening and routine reviews</li>
  <li>chart your child's weight and height</li>
  <li>manage your child's immunisation schedule</li>
</ul>

<a href="/create-account/sign-on{{ params }}" class="button">Start</a>

{% endblock %}
{% block rightcol %}{% endblock %}