{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Access [service]</legend></h1>
        <h3>Other methods</h3>

        <div class="callout callout--info">
          <h3>What can I do next?</h3>
          <ul>
            <li>Visit someone [offline]</li>
            <li>use our app that isn't an app</li>
          </ul>
        </div>



        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="/uplift/uplift-2">
            [app]
          </label>
        </div>
        
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="/uplift/uplift-2a">
            I would prefer to see someone in person
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}