{% extends '_layouts/_grids/_grid-email.html' %}
{% block page_title %}NHS account{% endblock %}
{% set hidehead = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch %}
{% endif %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;">
  <h2 class="heading-large">Reset your {% include '_partials/_components/_name.html' %} password</h2>
  <p>We have received a request to reset your password.</p>

  <p>You have 48 hours to reset your password before the link is deactivated.</p>

  <p><a class="button" href="/create-account/v8/reset-password{{ params }}">Reset password</a></p>
  <p>Or reset using this link:<br><a href="/create-account/v8/reset-password{{ params }}">http://nhs-cid.herokuapp.com/create-account/reset-password{{ params }}</a></p>
</div>


{% endblock %}