{% extends '_layouts/_grids/_grid-email-nhsone.html' %}
{% block page_title %}NHS account{% endblock %}
{% set hidehead = "true" %}
{% set bodyClass = "body-email" %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;" >
  <h1>Validate your email address</h1>
  <p>You need to validate your new email address.</p>

  <p>If you didn't change your email address please ignore this email and we will cancel the change in 48 hours.</p>
  <p><a class="button" href="email-validated">Validate my email</a></p>
</div>

{% endblock %}