{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}
{% set signedin = 'true' %}
{% set isServiceStart = 'false' %}

{% block content %}

  <form>
    <div class="form-group">

        <h1><legend>Add children to your eRedbook account?</legend></h1>

      <fieldset>
        <div class="child-import">
          <label class="block-label selection-button-checkbox" for="radio-inline-1">
            <input id="radio-inline-1" type="checkbox" name="radio-inline-group" value="Rosie Dymond">
            Name: <b>Rosie Dymond</b> <span>DOB: 01/11/2017</span>
          </label>
        </div>
        <div class="child-import">
          <label class="block-label selection-button-checkbox" for="radio-inline-2">
            <input id="radio-inline-2" type="checkbox" name="radio-inline-group" value="Fox Dymond">
            Name: <b>Fox Dymond</b> <span>DOB: 01/11/2016</span>
          </label>
        </div>
      </fieldset>

    </div>


    <div class="form-group">
      <a class="button" href="https://eredbook-uat.azurewebsites.net/parental/Inbox" id="continue">Add to eRedbook account</a>
    </div>
    <!-- <div class="form-group">
      <p>My child isn't listed. <a href="#">Add new child</a></p>
    </div> -->
  </form>

{% endblock %}