{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Enter your registration details{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&poluser=" + poluser + "&system=" + system + "&practiceID=" + practiceID %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">

      <fieldset class="">
        <h1><legend>Enter the details your doctor's surgery gave you</legend></h1>

        <div class="form-group">
            <label class="form-label" for="field2">Account Linkage Key</label>
            <span class="form-label__hint">Enter letters exactly as they are in the details you've been given</span>
            <input class="form-control" id="field2" name="field2" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="field3">Practice ODS Code</label>
          <span class="form-label__hint">Enter letters exactly as they are in the details you've been given</span>
          <input class="form-control" id="field3" name="field3" type="text">
        </div>

        <div class="form-group">
            <label class="form-label" for="field1">Account ID</label>
            <span class="form-label__hint">Enter letters exactly as they are in the details you've been given</span>
            <input class="form-control" id="field1" name="field1" type="text">
        </div>
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="patient-online-about-you-name{{ params }}">Continue</a>
    </div>

      <p>If you do not have your registration details, you can <a href="/service-access/v10/service-access-triage-1{{ params }}&poluser=false&loggedin=true">create an account using your photo ID</a></p>
  </form>
</div>

{% endblock %}
