

{% extends '_layouts/_service-nhs-number.html' %}
{% block page_title %}Find my NHS number{% endblock %}
{% set signedin = '' %}

{% block header %}
  {% if hidehead !== 'true' %}
    {% import "_partials/_components/_local-header.html" as localHeader %}
    {{ localHeader.pattern(serviceName,'') }}
  {% endif %}
{% endblock %}

{% block body %}

      <div class="reading-width">
          <div class="grid-row">
            <div class="column--full">
              <div class="callout callout--interruption alt">
                <h1>How to find your NHS number</h1>
                <p>
                  For security reasons we must verify who you are before you can find your NHS number. We will do this by searching for your contact details in our database.
                </p>

                <ol>
                  <li>
                    <h2>Enter your details</h2>
                    <p>
                      Tell us your name, date of birth, gender and postcode. We can then find your NHS number in our patient database.
                    </p>
                  </li>
                  <li>
                    <h2>Receive a code</h2>
                    <p>
                      Using the contact details we hold in our database, we will send you a one-time verification code.
                    </p>
                  </li>
                 <!-- <li>
                    <h2>Make your choice</h2>
                    <p>
                      When your code is verified, you will be able to manage your choice online.
                    </p>
                  </li>
                  -->
                </ol>
              </div>
              <p>
                You agree to let us search for your details in our database, so that we can send you a one-time security passcode
              </p>
              
               <p>
                 <a href="your-details" class="button" role="button">Agree and continue</a>
               </p>

            </div>

            <div class="column--three-quarters">

            </div>

          </div>
        </div>

<!--
<a href="create-1" class="button">Start</a>
-->
{% endblock %}

