{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}Find my NHS Number{% endblock %}
{% set signedin = '' %}



{% block content %}

<div class="local-header">
  <h1 class="local-header__title">Find my NHS Number</h1>
  <div class="local-header__intro">
        <!--<p>Homepage for M series Find out about my data choice prototypes.</p>-->
  </div>
</div>

<!--<div class="page-section">-->
<!--<div class="reading-width">-->
  <!--<div class="grid-row">-->
    <!--<div class="column--full">-->
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="how-to-find" class="button">Start</a>
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->


{% endblock %}

{% block rightcol %}{% endblock %}