

{% extends '_layouts/_service-nhs-number.html' %}
{% block page_title %}Find my NHS number{% endblock %}
{% set signedin = '' %}

{% block header %}
  {% if hidehead !== 'true' %}
    {% import "_partials/_components/_local-header.html" as localHeader %}
    {{ localHeader.pattern(serviceName,'') }}
  {% endif %}
{% endblock %}

{% block body %}
<div class="reading-width">
  <h1 class="page-title stepper">Your details <small>Step 1 of 4</small></h1>
  <div class="grid-row">
    <div class="column--two-thirds">
      <div class="reading-width">
        <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
          <h2 class="h3" id="error-summary">To use this online service, resolve the following errors</h2>
          <ul class="link-list" id="link-to-errors">
          </ul>
        </div>

        <form class="measure" method="post">
          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="form-group form-row" id="first-name">
                <label for="first-name-input" class="form-label error-label">First name</label>
                <span class="error error-message error-text" id="first-name-error">
                  Enter your first name
                </span>
                <input autocomplete="off" type="text" class="form-control" id="first-name-input" name="first-name" value="">
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="form-group form-row" id="last-name">
                <label for="last-name-input" class="form-label error-label">Last name</label>
                <span class="error error-message error-text" id="last-name-error">Enter your last name
                </span>
                <input autocomplete="off" type="text" class="form-control" id="last-name-input" name="last-name" value="">
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="-date form-group form-row" id="dob">
                <fieldset>
                  <legend class="form-label error-label">
                    Date of Birth
                  </legend>
                  <span class="form-label__hint">For example, '05 07 1948'</span>
                  <span class="error error-message error-text" id="dob-error">
                    Enter your date of birth
                  </span>
                  <div>
                    <label for="dob-day-input">Day</label>
                    <input autocomplete="off" type="number" id="dob-day-input" name="dob-day" value="" class="day form-control" maxlength="2">
                  </div>
                  <div>
                    <label for="dob-month-input">Month</label>
                    <input autocomplete="off" type="number" id="dob-month-input" name="dob-month" value="" class="month form-control" maxlength="2">
                  </div>
                  <div>
                    <label for="dob-year-input">Year</label>
                    <input autocomplete="off" type="number" id="dob-year-input" name="dob-year" value="" class="year form-control" maxlength="4">
                  </div>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="grid-row">
            <div class="column--three-quarters">
              <div id="postcode">
                <div class="form-row">
                  <label for="postcode" class="form-label error-label">Postcode</label>
                  <span class="error error-message error-text" id="postcode-error">Please enter your postcode</span>
                  <input autocomplete="off" type="text" id="postcode-input" name="postcode" value="" class="-small form-control">
                </div>
              </div>
            </div>
          </div>

          <fieldset class="form-group form-row">
            <label class="form-label error-label">Gender</label>
            <!--
            <div class="error error-message">
              <p class="error-text">To use the online service, please select an option below:</p>
            </div>
            -->
            <input type="radio" name="channel-choice" id="email-verification" value="email" class="multiple-choice--radio">
            <label for="email-verification" class="form-label form-label--radio form-label-lg">
              Male
            </label>

            <input type="radio" name="channel-choice" id="text-verification" value="text" class="multiple-choice--radio">
            <label for="text-verification" class="form-label form-label--radio form-label-lg">
              Female
            </label>

            <input type="radio" name="channel-choice" id="unrecognised" value="unrecognised" class="">
            <label for="unrecognised" class="form-label form-label--radio">
              Prefer not to say
            </label>
          </fieldset>

          <a href="verification" class="button">Submit</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

