{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set signedin = 'true' %}

{% block topRow %}

  {% if reason == "device" %}

  {% import "_partials/_components/_callout.html" as callout %}
  {{ callout.pattern('Attention','You won\'t be able to prove your identity online without being able to take a selfie video.','warning') }}


  {% elif reason == "documents" %}

  {% import "_partials/_components/_callout.html" as callout %}
  {{ callout.pattern('Attention','You won\'t be able to prove your identity online without a valid photo ID.','warning') }}

  {% endif %}

{% endblock %}

{% block content %}

<h1><legend>Unable to prove your identity online</legend></h1>

  <form>
    <div class="form-group">
    <p>There are a number of places you can prove your identity in person.</p>

    </div>
    <div class="form-group">
      <a class="button" href="pyi-continue-offline-map" id="">Find a place to prove your identity</a>
    </div>

  </form>

{% endblock %}