{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set signedin = 'true' %}

{% block content %}

  <form>
    <div class="form-group">

      <span class="section-header">About you</span>

        <h1><legend>What's your date of birth?</legend></h1>

      <fieldset>
        <legend class="form-label">
          Date of birth
        </legend>
        <span class="form-label__hint">For example, '31 3 1980'</span>
        <div class="form-group -date">
          <div class="form-date-field">
            <label for="dob-day">Day</label>
            <input type="tel" id="dob-day" name="dob-day" pattern="[0-9]" class="day" maxlength="2" pattern="[0-9]*" min="0" max="31">
          </div>
          <div class="form-date-field">
            <label for="dob-month">Month</label>
            <input type="tel" id="dob-month" name="dob-month" class="month" maxlength="2" pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-date-field">
            <label for="dob-year">Year</label>
            <input type="tel" id="dob-year" name="dob-year" class="year" maxlength="4" pattern="[0-9]*" min="0" max="2016">
          </div>
        </div>
      </fieldset>

    </div>


    <div class="form-group">
      <a class="button" href="pyi-details-address" id="continue">Continue</a>
    </div>
  </form>

{% endblock %}