{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Sign in with {% include '_partials/_components/_name.html' %} - {{serviceName}}{% endblock %}
{% set signedin = '' %}
{% set newUser = 'yes' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&newUser=" + newUser + "&terms=" + terms + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif newUser %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <section class="intructions">

    <div class="reading-width">

      <h1 class="heading-large">You now have an NHS login</h1>

      <p>You need to:</p>
      <ol>
        <li>Go to the website or app you were trying to access.</li>
        <li>Enter your NHS login details.</li>
      </ol>

      <h2 class="heading-medium">What you can do with your NHS login</h2>

      <p>You can use your NHS login to access health websites and apps wherever you see 'NHS login'.</p>

    </div>
  </section>
    
</div>

{% endblock %}
