{% if devMode === "true" %}
<details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">
            <p>Account errors</p>
            <ol>
                <li><a href="login-nhs-error{{ params }}&reason=noaccount">No account found</a></li>
                <li><a href="login-no-service{{ params }}&reason=noservice">We don't know which service to connect them to</a></li>
                <li><a href="login-nhs-reset{{ params }}&reason=resetaccount">User needs to reset their password</a></li>
                <li><a href="error-lock-p5-p9-nhs-no-mismatch{{ params }}&reason=nhsmismatch">Account lock: P5 to P9 - NHS Number mismatch (v21+)</a></li>
            </ol>

            <p>Account recovery</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=recoveryemail">Existing user does not have recovery email and does not have RMD enabled</a></li>
                <li><a href="recovery-email{{ params }}&reason=recoveryemail">Existing does not have recovery email and has RMD enabled</a></li>
                <li><a href="login-nhs-error-recovery{{ params }}">Existing user tries to log in and has a pending phone number change</a></li>
            </ol>

            <p>Service</p>
            <ol>
                <li><a href="../no-client-error{{ params }}&emailParam=false">Accessing service with no client ID - email paramater off (default)</a></li>
                <li><a href="../no-client-error{{ params }}&emailParam=true">Accessing service with no client ID - email paramater on</a></li>            
            </ol>

            <p>PYI GP-Connect endpoint</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=polCreds&result=200">[200] User has credentials revoked with proofing level not equal to 9</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=pyiCreds&result=200">[200] User has credentials revoked with proofing level equal to 9</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=idpending">User has no creds, with proofing level equal to 0</a></li>
            </ol>

            <p>PYI GP-Create endpoint</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=200">[200] Validation success</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=idpending">User logs in whilst Identity check is in progress [REF: CID-2001]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=400">[400] Functional - ODS Code or NHS Number was invalid [REF: CID7020]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=403">[403] Functional - the linkage key has been revoked [REF: CID7021]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=404">[404] Functional - patient not found [REF: CID7022]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=409">[409] Functional - conflict, account already exists [REF: CID7023]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=500">[500] Technical - An unexpected error occurred processing the request [REF: CID7024]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=501">[501] Technical - No GP system was found for ODS Code [REF: CID7025]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=502">[502] Technical - The GP system is currently unavailable [REF: CID7026]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=504">[504] Technical - The GP system did not respond in a timely fashion [REF: CID7027]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=678">[678] Technical - It's a Microtest surgery but NHS number could not be found for that surgery [REF: CID7029]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=nam&result=504">Technical - Non-specific error. - go down pyi again [REF: CID7028]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=namnotfoundPOL">NAM is saying that the IM1 token is invalid - POL [REF: CID7100]</a></li>
                <li><a href="two-step-code-login{{ params }}&reason=namnotfoundPYI">NAM is saying that the IM1 token is invalid - PYI [REF: CID7110]</a></li>
            </ol>

            <p>PDS errors</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=authcodepds">PDS error at log in (authcode) [CID2011]</a></li>
            </ol>

            <p>Updated terms</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=termsupdated">User signs in after terms of use have been updated</a></li>
            </ol>

            <p>Consent</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=consent">User consents to use NHS login with a new service</a></li>
            </ol>

            <p>Dead</p>
            <ol>
                <li><a href="two-step-code-login{{ params }}&reason=dead">PDS contains a record of death</a></li>
            </ol>
        </div>
    </div>
</details>
{% endif %}
