{% if devMode === "true" %}
<details class="dev-mode" role="group" >
    <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Continue with testing scenario</span>
    </summary>
    <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">

            <p>Account errors</p>
            <ol>
                <li><a href="login-nhs-error-02{{ params }}&reason=accountexists">Account already exists</a></li>
                <li><a href="login-nhs-error-03{{ params }}&reason=emailnotconfirmed">Email not confirmed yet</a></li>
            </ol>

            <p>Check email</p>
            <ol>
                <li><a href="check-email-nudge{{ params }}&reason=notconfirmed">User has not confirmed their email</a></li>
            </ol>

        </div>
    </div>
</details>
{% endif %}