{% extends '_layouts/_grids/_grid-email-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Confirm your email address{% endblock %}
{% set hidehead = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&passwordChange=" + passwordChange + "&newUser=" + newUser + "&terms=" + terms + "&emailAddress=" + emailAddress + "&poluser=" + poluser%}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&terms=" + terms + "&emailAddress=" + emailAddress %}
{% elif newUser %}
  {% set params = "?newUser=" + newUser + "&service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&terms=" + terms + "&emailAddress=" + emailAddress %}
{% endif %}

{% block content %}

<style>
.security-code {
  padding-left: 10px;
  font-size: 36px;
  letter-spacing: 30px;
  color: #005eb8;
}

.heading-medium {
	font-size: 24px;
}

</style>


<div class="first-item" style="padding-bottom: 100px;" >
  <h1>Confirm your email address</h1>
  <p>To continue you need to go back to the {{ serviceName }} and enter this security code.</p>

  <h2 class="heading-medium">Security code</h2>
  <p class="security-code">8937</p>

  <p>If you did not try to create an {{ serviceName }} account using this email address, please ignore this email. We will delete your information after 48 hours.</p>

  <!-- <p><a class="button" href="/create-account/v10/two-step{{ params }}">Confirm your email address</a></p> -->

</div>

{% endblock %}