{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Patient ID Verification Service{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>An email has been sent to the patient at joe.blogs@gmail.com</legend></h1>
        <h3>Inform the patient to check their email
        </h3>

        <div class="callout callout--info">
          <h3>Instructions to complete the process:</h3>
          <ul>
            <li>Click the link in the email</li>
            <li>Sign-in to an account or create an account with NHS or Verify</li>
            <li>Enter the pin code you receive via text</li>
          </ul>
        </div>

        <h3>Print these instructions if they are requested by the patient</h3>
        <a href="javascript:window.print()" class="button">Print instructions</a>
        
      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="vouching-service-start" id="continue">Start again</a>
    </div>
    
  </form>
</div>

{% endblock %}