{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Patient ID Verification Service{% endblock %}

{% block body %}

<form method="GET">

  <div class="form-group">


    <h1>Prove your patient's identity</h1>

    <fieldset class="">

      {% if reason == "strength" %}

      {% import "partials/components/callout.html" as callout %}
      {{ callout.pattern('Attention','Your relationship with the patient isn\'t strong enough for you to vouch for them.','info') }}

      {% elif reason == "notsatisfied" %}

      {% import "partials/components/callout.html" as callout2 %}
      {{ callout2.pattern('Attention','You have chosen not to \'person vouch\' for your patient. You may however still verify their identity.','info') }}

      {% elif reason == "id" %}

      {% import "partials/components/callout.html" as callout2 %}
      {{ callout2.pattern('Attention','The photo ID may not be reliable but you may however still verify their identity.','info') }}

      {% endif %}

      <h2><legend>How would you like to verify your patient's identity?</legend></h2>

      <div>
        <label class="block-label selection-button-radio" for="radio-inline-1">
          <input id="radio-inline-1" type=radio name=radio-inline-group value="vouching-id-1">
          Check patient's photo ID
        </label>
      </div>

      <div>
        <label class="block-label selection-button-radio" for="radio-inline-2">
          <input id="radio-inline-2" type=radio name=radio-inline-group value="vouching-qanda-intro">
          Question the patient about their clinical record
        </label>
      </div>
    </fieldset>
  </div>
  <!--<input class="button" type=submit value=Submit>-->

  <div class="form-group">
    <a class="button" href="#" id="continue">Continue</a>
  </div>

</form>

{% endblock %}