{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="1;url=vouching-nhs-details">

<div class="first-item">
  <p style="text-align: center;">Please wait whilst we retrieve the patient's details</p>

  <div class="fullwidth-loading" style="text-align:center;">
    <img src="/images/ajax-loader.gif" alt="loading animation" title="" style="opacity: 0.5;" class="ajaxLoader"/>
  </div>

</div>

{% endblock %}