{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - Set up an NHS login{% endblock %}
{% set signedin = '' %}
{% set terms = 'yes' %}
{% set showWarning = "false" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <form action="create-acc-terms{{ params }}" method="POST">

    <div class="form-group">
      <h1>Set up your NHS login</h1>
      <p>If you've already done this, <a href="login-nhs{{ params }}">log in instead.</a></p>
      <div class="form-group">
        <label class="form-label" for="emailAddress">Email address</label>
        <input class="form-control" id="emailAddress" name="emailAddress" type="email">
      </div>

      <div class="form-group">
        <label class="form-label" for="password">Create a password</label>
        <span class="form-label__hint">Your password must have:</span>
        <ul style="margin-top: 10px;">
          <li class="small"><span class="form-label__hint">8 characters or more</span></li>
          <li class="small"><span class="form-label__hint">1 capital letter or more</span></li>
        </ul>
        <input class="form-control" id="password" name="password" type="password">
      </div>
      <div class="form-group">
        <label class="form-label" for="password2">Confirm password</label>
        <input class="form-control" id="password2" name="password2" type="password">
      </div>

      <h2 style="font-size:20px;margin:1.5em 0 0;line-height: 20px">Agree to our terms of use​</h2>
      <p class="small" style="margin-top: 16px;">We'll collect and save your information in a secure way. We will not share your personal information without your consent.</p>
      <p class="small">By continuing you confirm that you agree to our <a href="/terms-of-use/privacy-notice{{ params }}">privacy notice</a> and <a href="/terms-of-use/terms-conditions{{ params }}">terms and conditions</a>.</p>

    </div>
    <button class="button" href="check-email{{ params }}&terms=yes">Agree and continue</button>
  </form>

  {% include '_partials/_includes/_scenarios_setup.html' %}

</div>

{% endblock %}