{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}You cannot use this NHS login{% endblock %}
{% set signedin = 'true' %}

{# work out where to send users #}

{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

    <div class="form-group">
      <h1>This link does not work</h1>
      <p>It's been more than 1 hour since the link was sent.</p>
      <p>You will have to try again.</p>
      <p><a href="forgotten-password" class="button">Reset your password</a></p> 
      <p>Reference: <b>CID2021</b></p>

    </div>
  
  </div>  

{% endblock %}
