{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">There’s something wrong with the details you’ve sent us.</h1>

        <p>This could be because you’ve changed doctor's surgery and given us the registration details you had at your previous doctor's surgery. </p>

        <p>Please start again and check that you've entered the correct details.</p>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email" class="button" id="continue">Start again</a>
    </div>

  </form>
</div>

{% endblock %}
