{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">You’ve already created an account.</h1>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email" class="button" id="continue">Sign in</a>
    </div>

    <p><a href="login-nhs">Forgotten your password?</a></p>

  </form>
</div>

{% endblock %}
