{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">Sorry, we're experiencing technical difficulties</h1>

        <p>Please try again in a few moments.</p>
        
      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email" class="button" id="continue">Try again</a>
    </div>

    <!--<p><a href="login-nhs">Anther route</a></p>-->
    
  </form>
</div>

{% endblock %}

