{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">There’s something wrong with the details you’ve entered</h1>

        <p>This could be because you’ve changed doctor's surgery and entered the registration details you were given at your previous doctor's surgery.</p>

        <p>Please start again and check that you've entered the correct details.</p>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="forgotten-password-check-email" class="button" id="">Enter your registration details</a>
    </div>

  </form>
</div>

{% endblock %}
