{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">You do not have permission to connect to your doctor’s surgery</h1>

        <p>This could be because your doctor’s surgery has decided it is not in your best interest to see your medical record</p>

        <p>Or, your doctor’s surgery has revoked your registration details</p>

        <p>Your doctor’s surgery’s might revoke your registration details if you’ve:</p>
        <ul>
          <li>registered with them but you do not intend to use them as your usual doctor’s surgery</li>
          <li>booked appointments but have not attended them</li>
          <li>repeatedly booked and cancelled appointments</li>
          <li>repeatedly requested prescriptions you do not need</li>
        </ul>

        <p>Contact your doctor's surgery at 012345678 for more information</p>


      </fieldset>
    </div>
  </form>
</div>

{% endblock %}
