{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Forgotten password {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset>
        <h1 class="heading-large">Sorry, we could not connect you to your doctor’s surgery</h1>

        <p>You can create an account by submitting a photo of your ID and a short video of yourself online.</p>

        <p>What type of ID do you have?</p>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-details{{ params }}">
            UK passport or UK driving licence
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-details{{ params }}">
            Passport, driving licence or ID card from a different country
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="patient-online-details{{ params }}">
            None of these
          </label>
        </div>        
      </fieldset>
    </div>
    <div class="form-group">
      <a href="" class="button" id="continue">Continue</a>
    </div>

    <p><a href="">I want to create an account another way</a></p>
    
  </form>
</div>

{% endblock %}

