{% extends '_layouts/_grids/_grid-email-hotjar.html' %}
{% block page_title %}Reset your password{% endblock %}
{% set hidehead = "true" %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&poluser=" + poluser %}

{% block content %}

<div class="first-item" style="padding-bottom: 250px; width: 66%;">
  <h2 class="heading-large">Reset your password</h2>
  <p>We have received a request to reset your password.</p>

  <p>You have 48 hours to reset your password before the link is deactivated.</p>

  <p><a class="button" href="reset-password{{ params }}">Reset password</a></p>
  <p>Or reset using this link:<br><a href="reset-password{{ params }}">reset-password{{ params }}</a></p>
</div>

{% endblock %}
