{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}We cannot log you in{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

    <div class="form-group">
      <h1>We cannot log you in</h1>
      <p>This NHS login has been disabled.</p>
      <p>Send an email to <a href="mailto:help.nhslogin@nhs.net@nhs.net">help.nhslogin@nhs.net</a> with the code <b>CID2011</b></p>
      <p>We will then try to fix the problem for you.</p>

    </div>
  
  </div>

{% endblock %}