{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}You cannot use this NHS login{% endblock %}
{% set signedin = 'true' %}

{# work out where to send users #}

{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

  <div class="form-group">
    <h1>We cannot log you in</h1>
    <p>This NHS login has been disabled.</p>
    <p>Email our support team to find out why.</p>
    <p>Email: <a href="mailto:ssd.nationalservicedesk@nhs.net">ssd.nationalservicedesk@nhs.net</a></p>
    <p>Include this code in your email:<br><b>CID2012</b><br></p>

  </div>

</div>


{% endblock %}
