{% extends '../nhsuk_layout.html' %}

{% block body %}

<div class="grid-row" style="border: 1px solid #425563; background: #fff;">

  <div class="column--three-quarters">
    <header role="banner">
      <div class="global-header">
        <div class="global-header__inner">
          <a href="./" class="global-header__link">
            <img src="/images/nhs-logotype-blue.svg" alt="NHS">
          </a>

        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
  </div>

</div>

{% endblock %}