{% extends '../nhsuk_layout.html' %}

{% block body %}

  {% block topRow %}{% endblock %}

  <div class="grid-row">
    <div class="column--two-thirds">
      {% block content %}{% endblock %}
    </div>
    <div class="column--one-third">
      {% block rightcol %}{% endblock %}
    </div>
  </div>

  {% if leftHalf or rightHalf %}
    <div class="grid-row">
      <div class="column--one-half">
        {% block leftHalf %}{% endblock leftHalf %}
      </div>
      <div class="column--one-half">
        {% block rightHalf %}{% endblock rightHalf %}
      </div>
    </div>
  {% endif %}

{% endblock %}
