{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Patient ID Verification Service{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Select the patient's preferred method of receiving their token</legend></h1>
        
        <div class="multiple-choice" data-target="delivery-email">
          <input aria-controls="delivery-email" id="radio-inline-1" type="radio" name="radio-inline-group" value="vouching-token-delivered?method=email">
          <label class="block-label" for="radio-inline-1">Email</label>
        </div>

        <div aria-hidden="true" aria-expanded="false" class="panel panel-border-narrow js-hidden" id="delivery-email">
          <label class="form-label" for="delivery-email-1">Email address</label>
          <input class="form-control" type="text" id="delivery-email-1" name="delivery-email-1">
        </div>
        
        <div class="multiple-choice" data-target="delivery-text">
          <input aria-controls="delivery-text" id="radio-inline-2" type="radio" name="radio-inline-group" value="vouching-token-delivered?method=text">
          <label class="block-label" for="radio-inline-2">Text message</label>
        </div>

        <div aria-hidden="true" aria-expanded="false" class="panel panel-border-narrow js-hidden" id="delivery-text">
          <label class="form-label" for="delivery-text-1">Mobile number</label>
          <input class="form-control" type="text" id="delivery-text-1" name="delivery-text-1">
        </div>

        <div class="multiple-choice" data-target="delivery-print">
          <input id="radio-inline-3" type="radio" name="radio-inline-group" value="vouching-token-print">
          <label class="block-label" for="radio-inline-3">In person</label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
    
  </form>
</div>

{% endblock %}