{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block content %}

  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Patient ID Verification Service','This service is for clinicians.') }}

<p>Use this service to:</p>
<ul>
  <li>Generate an NHS token code for a patient to access online medical records</li>
  <!--<li>Remove token access for a patient's identity</li>-->
</ul>

<a href="vouching-nhs-no" class="button">Start</a>

{% endblock %}