{% extends 'layouts/nhsuk_layout_2_3-stacked.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block body %}

<h3>Access Your Medical Record</h3>

<h1><legend>Sign in or create an NHS account</legend></h1>

<p>In order to access your medical record you need an NHS account. You can create an NHS using your existing GP Online details or by simply creating a new NHS profile. Alternatively you can create an NHS account using your GOV.UK Verify details if you have an account with them already.</p>

{% endblock %}
{% block rightcol %}{% endblock %}

{% block leftHalf %}

<h3>Continue with NHS</h3>
<p>If you already have GP Online credientials select this option.</p>
<a href="#" class="button">Continue with NHS</a>

{% endblock %}

{% block rightHalf %}

<h3>Continue with Verify</h3>
<p>If you already have a GOV.UK Verify account select this option.</p>
<a href="#" class="button">Continue with GOV.UK Verify</a>

{% endblock %}