{% extends 'layouts/nhsuk_layout_2_3-stacked.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block body %}

<h3>Access Your Medical Record</h3>

<h1><legend>Sign in or create an NHS account</legend></h1>

<p>In order to access your medical record you need an NHS account. You can create an NHS using your existing GP Online details or by simply creating a new NHS profile. Alternatively you can create an NHS account using your GOV.UK Verify details if you have an account with them already.</p>

{% endblock %}
{% block rightcol %}{% endblock %}

{% block leftHalf %}
<div style="border-right: 3px solid #dddddd; padding-right: 15px;">
	<h3>Continue with NHS</h3>
	<p>Select this option if you:</p>
	<ul>
		<li>have GP Online login details</li>
		<li>already have an NHS account</li>
		<li>want to create a new NHS account</li>
	</ul>
	<a href="#" class="button">Continue with NHS</a>
</div>
{% endblock %}

{% block rightHalf %}
<div>
	<h3>Continue with GOV.UK Verify</h3>
	<p>If you already have a GOV.UK Verify account select this option.</p>
	<p>You can also create a new GOV.UK Verify account which will take about 10 minutes.</p>
	<a href="#" class="button">Continue with GOV.UK Verify</a>
</div>
{% endblock %}