{% extends 'layouts/nhsuk_layout_2_3-stacked.html' %}
{% block page_title %}Offline Vouching Identity Service{% endblock %}

{% block body %}

<h1><legend>Sign in or create an NHS account</legend></h1>

<p>Some copy</p>

{% endblock %}
{% block rightcol %}{% endblock %}

{% block leftHalf %}

Letter
<a class="button" href="/patient-online/gp-signin-linkage-key">Letter</a>
{% endblock %}

{% block rightHalf %}

GP Online Details
<a class="button" href="/patient-online/gp-systems">Details</a>
{% endblock %}