{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Locating your GP Online Services details on Patient Access</legend></h1>
        <p>We've provided some details on where you can find your linkage key details</p>
        

        <ol>
          <li>Go to <a href="">Patient Access</a></li>
          <li>Login to patient access</li>
          <li>Navigate to your account tab</li>
          <li>Select the advanced tab</li>
          <li>You will need to copy the following details, linkage key, ODS Code and Access ID</li>
          <li>continue to the next screen and enter the copied</li>
        </ol>

    </div>
    
    <div class="form-group">
      <a href="patient-access-linkage-key" class="button" id="continue">Continue</a>
    </div>


  </form>
</div>

{% endblock %}