{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}
{% set signedin = '' %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Find your GP Online Services details on SystmOnline</legend></h1>
        <p>We cannot find your details, contact your GP surgery for further help.</p>
        
        <ol>
          <li>Go to your GP</li>
        </ol>

    </div>
    
    <div class="form-group">
      <a href="patient-online-linkage-key" class="button" id="continue">Continue</a>
    </div>


  </form>
</div>

{% endblock %}