{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}View your hospital record {{serviceName}}{% endblock %}

{% set params = "?serviceName=" + serviceName + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Find your GP surgery</legend></h1>
        <p>You need to do this to register for online services.</p>
        <div class="form-group">
          <label class="form-label" for="findGP">Surgery or GP name</label>
          <input class="form-control" id="findGP" name="findGP" type="text">
        </div>
        or
        <div class="form-group">
          <label class="form-label" for="findGP">Postcode</label>
          <input class="form-control" id="findGP" name="findGP" type="text">
        </div>
    </div>

    <mark>GET LIST OF GPS FROM BELOW SITE</mark>
    <mark>https://beta.nhs.uk/book-a-gp-appointment/results?search=&postcode=ls28</mark>

    <div class="form-group">
      <a class="button" href="patient-online-gp-results{{ params }}" id="continue">Search</a>
    </div>
    <!--<p><a href="patient-online-gp-systems{{ params }}">I know which system my GP uses, let me choose from a list</a></p>-->
  </form>
</div>

{% endblock %}