{% extends 'layouts/nhsuk_layout_2_3.html' %}
{% block page_title %}Access Your Medical Record{% endblock %}

{% block body %}

{% import "partials/components/local-header.html" as localHeader %}
  {{ localHeader.pattern('Access Your Medical Record',' ') }}

<p>Use this service to:</p>
<ul>
  <li>Get access to your medical record</li>
  <!--<li>Remove token access for a patient's identity</li>-->
</ul>

<a href="create-1" class="button">Start</a>

{% endblock %}
{% block rightcol %}{% endblock %}