{% macro link() %}

    {% if returnUrl %}
        {% if returnUrl !== 'undefined' %}
            {% set returnUrl = returnUrl %}
        {% else %}
            {% set returnUrl = 'https://nhsa-private.herokuapp.com/template.php?logged=false&nopadding=false&cid=undefined&message=undefined&error=undefined&summary=undefined&empty=undefined&pageCode=SC06&optarr=default' %}
        {% endif %}
    {% else %}
        {% set returnUrl = 'https://nhsa-private.herokuapp.com/template.php?logged=false&nopadding=false&cid=undefined&message=undefined&error=undefined&summary=undefined&empty=undefined&pageCode=SC06&optarr=default' %}
    {% endif %}

    {{ returnUrl }}

{% endmacro %}

