{% macro name(variant = '') %}

    {# set the name based on the study ID #}
    {# fallback to NHS Access if no argument is found #}

    {% if lsStudy === '000001' %}
        {% set theName = '' %}
    {% elif lsStudy === '000002' %}
        {% set theName = 'NHS' %}
    {% elif lsStudy === '000003' %}
        {% set theName = 'NHS Access' %}
    {% else %}
        {% set theName = 'NHS Access' %}
    {% endif %}


    {# set up variations of the name string to fit in different contexts #}

    {% if variant === 'login' %}
        Log in with {{ theName }}
    {% elif variant === 'setup' %}
        Set up {{ theName }}
    {% elif variant === 'account' %}
        {{ theName }} account
    {% elif variant === 'your' %}
        Your {{ theName }}
    {% else %}
        {{ theName }}
    {% endif %}

{% endmacro %}

