<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if IE]><link rel="shortcut icon" href="/images/favicon.ico"><![endif]-->
  <!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- Firefox, Chrome, Safari, IE 11+ and Opera. 192x192 pixels in size. -->
  <link rel="icon" href="/images/favicon.png">
  <!--<meta name="mobile-web-app-capable" content="yes">-->
  <!--<meta name="apple-mobile-web-app-capable" content="yes">-->
  <meta name="format-detection" content="telephone=no">

  {% block extrastyles %}{% endblock %}
  <link rel="stylesheet" href="/nhsuk.css">
  <link rel="stylesheet" href="/app.css">

</head>

<body class="{{ bodyClass }}" {{ dataAtt|safe }}>

  {% include '_partials/_service-alert.html' %}

  {# slightly different design for emails #}
    {% if not hidehead === "true" or not hidehead or hidehead === "undefined" %}
      {% include '_partials/_global_header.html'%}
    {% endif %}


  <main id="content" role="main" tab-index="-1">

    {% block header %}{% endblock %}

    <div class="page-section">
      {% block body %}{% endblock %}
    </div>
  </main>


    {% if not headhead === "true" or not hidehead or hidehead === "undefined" %}
      {% include '_partials/_global_footer.html' %}
    {% endif %}


  <script src="/scripts/jquery-1.12.4.min.js"></script>
  {% block extrascripts %}{% endblock %}
  <script src="/show-hide-content.js"></script>
  <script src="/app.js"></script> 
  <script src="/nhsuk.js"></script>
  <script src="/scripts/selection-buttons.js"></script>
  <script src="/scripts/smooth-scroll.js"></script>

</body>

</html>
