{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Instructions to record a short video{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton %}

{% block content %}

<div class="first-item">

  <section class="" id="scan-id-1">

    {% if hideBack !== 'true' %}
    <p><a href="service-access-video-selfie-triage{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back</i></a></p>
    {% endif %}

    <form>
      <fieldset class="">
        <legend for="radio-inline-group">
          <h1 style="padding-bottom: 0;">
            Get ready to say your numbers
            <!-- Get ready to write your numbers-->
          <!-- Get ready to sign your numbers-->
          </h1>
        </legend>


         <p>Make sure:</p>
        <ul class="list list-bullet">
          <li>your whole face is visible</li>
          <!-- SAY <li>you say the 4 numbers on the next screen</li>-->
          <!-- WRITE <li>you write the 4 numbers, shown on the next screen, clearly on a piece of paper</li>-->
          <!-- WRITE <li>you show the piece of paper clearly</li>-->
          <!-- SIGN <li>your hand can be seen clearly</li>-->
          <!-- SIGN <li>you sign the 4 numbers, shown on the next screen, using British Sign Language</li>-->
          <li>you follow the on-screen instructions</li>
        </ul> 

        <div class="form-group">

        <p>When you are ready to record your video, click <em>start recording</em> on the next screen.</p>

          <script type="application/javascript">
            if(window.MediaRecorder !== undefined) {
              document.write('<a href="service-access-iproov{{ params }}" class="button camera-button">Continue</a>')
            } else {
              document.write('<a href="service-access-iproov{{ params }}" class="button camera-button">Continue</a>')
            }
          </script>

        </div>

      </fieldset>

    </form>

{#     <details class="" role="group">
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">What will happen to the video?</span>
      </summary>

      <div id="details-content-0" aria-hidden="false" class="callout callout--info callout--friendly">
        <div class="reading-width">
          <p>The video clip will be held securely on our server and used only for the purpose of verifying your identity. When the identity check is complete the video clip will be securely deleted.</p>
        </div>
      </div>

    </details> #}

  </section>

</div>

{% endblock %}