<footer role="contentinfo" style="position: relative;">
  <div class="global-footer">
    <div class="global-footer__inner__no-logo ">
      <ul class="link-list">
        <li>
          <a href="/terms-of-use/terms-conditions{{ params }}" title="Terms of use (opens in a new window)">Terms of use</a>
        </li>
        <li>
          <a href="/terms-of-use/cookies{{ params }}" title="Cookies (opens in a new window)">Cookies</a>
        </li>
        <li>
          <a href="/accessibility{{ params }}" title="Accessibility (opens in a new window)">Accessibility</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% include '_partials/_includes/_devmode.html' %}
