<header role="banner" class="global-header with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/" title="Go to the GOV.UK homepage" id="logo" class="content global-header__link">
              <img src="/images/logotype-nhs-mono.png" width="79" height="32" alt="">
            </a>
          </div>
        </div>
        
  <div class="header-proposition">
  <div class="content">
    {% if signedin %}
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    {% endif %}
    <nav id="proposition-menu">
      {% if serviceName %}
        <a href="/" id="proposition-name">{{ serviceName }}</a>
      {% endif %}

      {% if signedin %}
        <ul id="proposition-links">
          <li><a href="https://www.gov.uk/service-manual/service-standard">Dashboard</a></li>
          <li><a href="https://www.gov.uk/service-toolkit">Account</a></li>
          <li><a href="https://www.gov.uk/service-manual">Sign out</a></li>
        </ul>
      {% endif %}
    </nav>
  </div>
</div>


      </div>
    </header>





  <!--<div class="global-header with-proposition">-->
    <!--<div class="global-header__inner header-wrapper">-->
      <!--
      <a href="/" class="global-header__link">
        <img src="/images/logotype-nhs-mono.png" alt="NHS">
      </a>
      -->
<!--
    <div class="header-wrapper">
      <div class="header-global">
        <div class="header-logo">
          <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
            <img src="/public/images/gov.uk_logotype_crown_invert_trans.png?0.23.0" width="36" height="32" alt=""> GOV.UK
          </a>
        </div> 
      </div>

      <div class="header-proposition">
        <div class="content">
          <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
          <nav id="proposition-menu">
            <a href="/" id="proposition-name">{{ serviceName }}</a>
              <ul id="proposition-links">
                <li><a href="https://www.gov.uk/service-manual/service-standard">Dashboard</a></li>
                <li><a href="https://www.gov.uk/service-toolkit">Account</a></li>
                <li><a href="https://www.gov.uk/service-manual">Sign out</a></li>
              </ul>
          </nav>
        </div>
      </div>
    </div>
-->

      {% if serviceName %}
      <!--
      <span class="section-header">{{ serviceName }}</span>
      -->
      {% endif %}

      {% if signedin %}
      <!--
        <div style="float: right;" class="menu-links">
          <p style="padding: 0; margin: 0;"><a href="/account/dashboard">Dashboard</a> | <a href="/account">Account</a> | <a href="/">Sign out</a></p>
        </div>
        -->
      {% endif %}

 
  <!--</div>-->
