<footer role="contentinfo" style="position: relative;">
  <div class="global-footer">
    <div class="global-footer__inner">
      <div>

        <h2 class="util-visuallyhidden">Support links</h2>
        <ul class="link-list">
          <li>
            <a href="https://beta.nhs.uk/help/clinical-assurance">Clinical assurance</a>
          </li>
          <li>
            <a href="https://beta.nhs.uk/help/cookies">Cookies</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  {% if emailLink %}
  <div class="proto-action">
    <a href="/emails/{{ emailLink }}">
      <div class="proto-action-icon">
        email sent
      </div>

      <div class="proto-action-text">
        Email sent: <br><b>{{ emailLink }}</b>
      </div>
    </a>
  </div>


</footer>


{% endif %}