{% if service === "app3" or service === "app4" %}

{% if showWarning === 'true' %}
  <div class="banner alert">
    <div class="page-section">
      <h4>WARNING</h4>
      Crayonz has lost his crayons. If you find them on your journey please let Hindsight know.
    </div>
  </div>
{% endif %}

{% if hideBeta !== 'true' %}
  <div class="banner beta">
      <div class="page-section">
        <span>BETA</span> This is a new service. By using this service you agree to our <a href="/terms-of-use/terms-conditions">terms of use.</a>
      </div>
    </div>
  {% endif %}

{% endif %}

{% if alert.notlive == 'true' %}
  <div class="service-alert">
    <div class="service-alert-inner">
      <p><span>This is <strong>not</strong> a live service. This is something we are currently designing. For the live service go to <a href="//www.nhs.uk">nhs.uk</a>.</span></p>
    </div>
  </div>
{% endif %}

{% if alert.cookies == 'true' %}
    <div class="notification-banner" id="global-cookies-banner" role="alert">
      <p class="notification-banner__inner">
        This service uses cookies to make the site simpler.
        <a href="/terms-of-use/cookie-policy">Find out more about cookies</a>
      </p>
    </div>
  {% endif %}