{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Forgotten password - {{serviceName}}{% endblock %}
{% set signedin = '' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&passwordChange=" + passwordChange + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&poluser=" + poluser %}
{% endif %}

{% block content %}
<p><a href="forgotten-password{{ params }}" class="link-back">Back</a></p>

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="inline">
        <h1 class="heading-large">Check your email</h1>

        <p>We've sent you an <a href="/emails/pb/email-forgotten-password{{ params }}" target="_blank">email</a> so that you can reset your password.</p>
        
        <p>After you have reset your password, come back here and continue.</p>
        <a class="button" href="login-nhs{{ params }}" id="">Continue</a>
        <p>If you do not get an email, check your spam folder or <a href="forgotten-password{{ params }}">try again</a>.</p>

      </fieldset>
    </div>
    
  </form>
</div>

{% endblock %}

