{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}You are logged out{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">

    <div class="form-group">
        <h1>We have logged you out</h1>

        <p>This is to keep your NHS login secure.</p>
        <p>To continue, you need to <a href="login-nhs" title="Log in">log in</a> again.</p>
    </div>

</div>

{% endblock %}