{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - {{ theService.name('login') }}{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">
   <form>

       <div class="form-group">
           <h1>Create an NHS login</h1>
           <p>If you do not have an NHS login you need to create one.</p>
           <a class="button" href="create-acc-terms{{ params }}" id="">Create an NHS login</a>
       </div>

       <hr>

        <div class="form-group">
            <h1>Log in</h1>

            <fieldset class="">

                <div class="form-group">
                    <label class="form-label" for="field1">Email address</label>
                    <input class="form-control" id="field1" name="field1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="field1">Password</label>
                    <input class="form-control" id="field2" name="field2" type="password">
                </div>

                <p><a href="forgotten-password{{ params }}">Forgotten your password?</a></p>

            </fieldset>
        </div>

        <a class="button" href="two-step-code-login{{ params }}" id="">Continue</a>


       {% if devMode === "true" %}
       <details class="" role="group" >
           <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
               <span class="details__summary">Continue with testing scenario</span>
           </summary>
           <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
               <div class="reading-width">
                   <p>Success</p>
                   <ol>
                       <li><a href="two-step-code-login{{ params }}&result=200">[200] Validation success</a></li>
                   </ol>

                   <p>PYI</p>
                   <ol>
                       <li><a href="two-step-code-login{{ params }}&result=idpending">User logs in whilst Identity check is in progress [REF: CID-2001]</a></li>
                   </ol>
               </div>
           </div>
       </details>
       {% endif %}


    </form>
</div>

{% endblock %}