{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Something went wrong{% endblock %}
{% set signedin = '' %}
{% set newUser = 'yes' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&newUser=" + newUser + "&terms=" + terms + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif newUser %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <div class="form-group">
    <h1>Something went wrong!</h1>
    <p>You need to reset your password. We’ve sent you an email telling you how to do this.</p>
  </div>
    
</div>

{% endblock %}

