{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Sign in with {% include '_partials/_components/_name.html' %} - {{serviceName}}{% endblock %}
{% set signedin = '' %}
{% set newUser = 'yes' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif vouch %}
{% set params = "?vouch=" + vouch + "&newUser=" + newUser + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% elif newUser %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}
{% endif %}

{% block content %}

<div class="first-item">

  <div class="form-group">
    <h1>Sorry, this link does not work</h1>
    <p>It's been more than 24 hours. If you want to reset your password, you'll have to start again.</p>
  </div>
    
</div>

{% endblock %}
