@font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 200;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Light.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: normal;
    font-weight: 400;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 600;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Bold.woff") format("woff");
}

@font-face {
    font-family: "FS Me";
    font-style: bold;
    font-weight: 800;
    src: url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.eot?") format("eot"), url("https://dhrlmnmyf2njb.cloudfront.net/assets/fonts/fsme/FSMeWeb-Heavy.woff") format("woff");
}

.c-page-contents__title {
    display: none;
    font-size: 20px;
    line-height: 32px;
}

@media(min-width:925px) {
    .c-page-contents__title {
        display: block;
    }
}

.c-page-contents__list {
    margin-bottom: 32px;
    margin-top: 16px;
    padding-bottom: 32px;
}

@media(min-width:641px) {
    .c-page-contents__link {
        text-decoration: underline;
    }

    .c-page-contents__link:hover {
        text-decoration: none;
    }

    .c-page-contents__link:active {
        text-decoration: none;
        font-weight: bold;
    }
}

.c-links {
    border: 1px solid #ccc;
    padding: 16px;
}

@media(min-width:641px) {
    .c-links {
        border-box: border-box;
        display: table;
        width: 100%;
    }
}

@media(min-width:641px) {
    .c-links__row {
        display: table-row;
    }
}

@media(min-width:641px) {
    .c-links__col {
        border-left: 1px solid #ccc;
        display: table-cell;
        padding-left: 30px;
        width: 45%;
    }
}

@media(min-width:641px) {
    .c-links__col:first-child {
        border-left: 0;
        padding-right: 5%;
        padding-left: 0;
    }
}

@media(max-width:640px) {
    .c-links__col:last-child {
        border-top: 1px solid #ccc;
        margin-top: 32px;
        padding-bottom: 16px;
        padding-top: 24px;
    }
}

.c-links__header {
    font-size: 24px;
}

.c-links__list {
    list-style: none;
    margin-top: 8px;
    padding: 0;
}


.smaller-h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 38px;
}

.account-mgmt h2 {
    font-size: 30px;
}

.account-mgmt {
    margin-top: 0;
}

@media (min-width:925px) {
    .account-mgmt {
        margin-top: -32px;
    }
}

.c-links__list.small {
    margin-top: 10px;
}

@media (min-width:925px) {
    .c-links__list.small {
        margin-top: 32px;
    }
}

.nhs-button {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.125em;
    /*text-align: left;*/
    background: url('images/logotype-nhs-colour__reverse.png') no-repeat #005EB8 6px 12px;
    /*padding-left: 80px;*/
    border-radius: 2px;
}
