.child-import label span{
  display: block;
  font-size: 0.8em;
  margin-top: 4px;
}
.child-import .block-label.selection-button-checkbox:before {
  top: 13px
}
.child-import .block-label.selection-button-checkbox:after {
  top: 24px;
}

div .child-import {
  margin-right: 0px;
}

div .form-group.remember-me {
  margin-right: 0px;
}
