.data-container {

    margin-top: 0;

    .data {
        background-color: #005eb8;
        width: calc(50% - 32px);
        margin: 16px;
        color: white;
        padding:16px 16px 16px 16px;
        float: left;
    
        
    }
    

    .data:first-child {

        &:first-child {
            margin-left: 0;
        }
    }
}

@media (min-width: 641px) {
    .data {
        margin-top: 0.26316em;
        margin-bottom: 1.05263em;
    }
}

.data-item {
    display: block;
    line-height: 1;
}

@media (min-width: 641px) {
    .bold-xxlarge {
        font-size: 80px;
        line-height: 1;
    }
}

.bold-xxlarge {
    //font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 53px;
    line-height: 1.03774;
}

.data-item {
    display: block;
    line-height: 1;
}

@media (min-width: 641px) {
    .bold-xsmall {
        font-size: 16px;
        line-height: 1.25;
    }
}

.bold-xsmall {
    //font-family: "nta", Arial, sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    line-height: 1.14286;
    margin-top:0;
}