.global-alert {

  width: 120%;
  overflow: visible;
  color: #212b32;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: inherit;
  background-color: #ffeb3b;
  margin: 0, 0;
  padding: 24px;

}

.global-alert__updated {
  box-sizing: inherit;
  display: block;
  color: inherit;
  margin-top: 8px;
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 0;
}

.global-alert__content {
  position: relative;

}

.global-alert__message {
  margin-top: 0px;
  background-color: #ffeb3b;
  padding: 24px;

}


