// id check styles


.idcheck-image-container {
  position: relative;
  overflow: hidden;
  margin: 0;

  .expanded & {
    max-width: 100%;
  }
}

.idcheck-help {
  margin: 16px 0;
}

.idcheck-image {
  position: relative;
  margin: 0;
}

.idcheck-video {
  position: relative;
  #uploaded-video {
    margin: 0;
  }
  .expanded & {
    max-width: 30%;
  }
}

.idcheck-media {
  position: relative;
  display: table;

}

.expanded .idcheck-media .idcheck-video,
.expanded .idcheck-media .idcheck-image {
  display: table-cell !important;
  vertical-align: top;
  width: 50%;
}
.expanded .idcheck-media .idcheck-image {
  padding-left: 1em;
  width: 50%;
}

.idcheck-image-expand {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.idcheck-video-paired {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

.idcheck-image-expand-button {
  position: relative;
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  background-image: url('/images/expand.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s;
  &:hover {
    width: 60px;
    height: 60px;
    background-size: 35px;
  }

  &.expanded {
    background-image: url('/images/reduce.svg');
  }
}

.idcheck-video-paired-button {
  position: relative;
  display: block;
  background-color: #fff;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

.idcheck-image-img {
  margin: 0;
}

// dashboard

.idcheck-dash {
  background-color: $nhs-blue;
  color: white;
  padding: 16px;
  &.u-inprogress {
    background-color: $green;
  }
  &.u-inholding {
    background-color: $red;
  }
}

.idcheck-dash-heading {
  margin-bottom: 1em;
}

.idcheck-dash-details {
  display: table;
  margin: 0;
}

.idcheck-dash-number {
  display: table-cell;
  vertical-align: top;
}

.idcheck-dash-desc {
  display: table-cell;
  vertical-align: top;
  padding-top: 0.3em;
  padding-left: 1em;
  line-height: 1.5em;

}


// results page

.idcheck-result {
  @include core-font(24);
  font-weight: bold;
  position: relative;
  padding-left: 60px;
  margin: 0.75em 0 0.25em;

  &::before,
  &::after {
    content: "";
    left: 0.5em;
    top: 0;
    position: absolute;
    zoom: 1;
  }
  &::before {
    background: transparent;
    border: solid;
    border-color: #417505;
    border-width: 0 0 8px 8px;
    height: 18px;
    top: 0.1em;
    transform: rotate(-45deg);
    width: 30px;
  }
  &::active::before {
    height: 100%;
    top: 0;
  }

  .spine & {
    position: relative;
    &::before,
    &::after {
      background: #D0021B;
      border-color: #D0021B;
      height: 10px;
      top: 0.5em;
      transform: rotate(45deg);
      width: 36px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  .fail & {
    position: relative;
    &::before,
    &::after {
      background: #D0021B;
      border-color: #D0021B;
      height: 10px;
      top: 0.5em;
      transform: rotate(45deg);
      width: 36px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &.u-no-icon  {
    padding-left: 0px;
    &::before,
    &::after {
      display: none;
    }
  }
}


.idcheck-panel-actioned {
  font-weight: bold;
  position: relative;
  padding-left: 30px;
  margin: 0em 0 0.25em;
  text-indent: -9999px;
  &::before,
  &::after {
    content: "";
    left: 0.5em;
    top: 0;
    position: absolute;
    zoom: 1;
  }
  &::before {
    background: transparent;
    border: solid;
    border-color: #005eb8;
    border-width: 0 0 7px 7px;
    height: 14px;
    top: 0.1em;
    transform: rotate(-45deg);
    width: 24px;
  }
}


.idcheck-match-reason {
  padding-left: 34px;
}

.idcheck-result-reason {
  @include core-font(18);
  margin-top: 0.5em;
  font-weight: bold;
  position: relative;
  padding-left: 60px;
}

.idcheck-match {
  padding: 1em;
  //background-color: #DEF5E4;
  background-color: $yellow-10;

  table {
    margin: 0;
    td {
      border-bottom: none;
      @include core-font(18);
      padding: 0.5em;
    }
  }

  &.fail,
  &.spine {
    background-color: $red-10;
  }
}

.idcheck-pickedup {
  background-color: $yellow-10;
}

// detective mode edit links

.idcheck-edit {
  display: none;
  float: right
}

.idcheck-dash-clear {
  background-color: $grey-2;
}

.idcheck-message {
  transition: all 0.5s ease-out;

  &.u_hidden {
    height: 0;
    overflow: hidden;
    border: 0;
    padding: 0!important;
  }
}

#id-decline,
#id-canttell {
  margin: 0 0 0 0;
}

// remove video player play icon in Chrome browsers

#uploaded-video {
  position: relative;
}

#uploaded-video::-webkit-media-controls-overlay-play-button {
  //display: none;
  position: absolute;
  display: inline-block;
  text-align: left;
  width: 50%;
  left: 0;
  top: 5px;

  //-webkit-appearance: none;
}

// hide gradient shadow
#uploaded-video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important; //Transparent for your case
}
#uploaded-video::-webkit-media-controls-volume-slider-container,
#uploaded-video::-webkit-media-controls-mute-button,
#uploaded-video::-webkit-media-controls-volume-slider {
  display: none;
}


.id-check_automated {
  background: $nhs-blue;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  margin: 0 !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.id-check_external-link {

  &:after {
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url('/images/icon-ext-link-white.svg');
    background-size: 18px;
    content: "";
    display: inline-block;
    margin-left: 5px;
    margin-bottom: -4px;
  }

  &:hover {
    &:after {
      background-image: url('/images/icon-ext-link.svg');
    }
  }
}

.id-check_pickup {
  cursor: default;
  color: $grey-2;
  &:hover {
    color: $grey-2;
  }
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: -4px;
    height: 20px;
    width: 20px;
    background: transparent url("/images/mini-button-spinner-green.svg") no-repeat;
    background-size: 20px 20px;
    animation-name: spin;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    // spin the svg image
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.idcheck-important {
     font-size: 14px;
     line-height: 1.2em;
     margin-top: 1em;
     padding-left: 38px;
     margin-bottom: -0.75em;
     position: relative;
     color: $grey-1;
     &::before {
         content: "";
         position: absolute;
         display: block;
         margin-top: 0.1em;
         margin-left: -38px;
         height: 28px;
         width: 28px;
         background: transparent url(/images/alert-yellow.svg) no-repeat;
         background-size: 28px 28px;
         background-position: center;
     }
}