// id check styles

.idcheck-image {
  position: relative;
}

.idcheck-image-expand {
  position: absolute;
  top: 10px;
  right: 10px;
}

.idcheck-image-expand-button {
  position: relative;
  display: block;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  background-image: url('/images/expand.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.5s;
  &:hover {
    width: 60px;
    height: 60px;
    background-size: 35px;
  }

  &.expanded {
    background-image: url('/images/reduce.svg');
  }
}

.idcheck-image-img {
  margin: 0;
}

// dashboard

.idcheck-dash {
  background-color: $nhs-blue;
  color: white;
  padding:16px;
  &.u-inprogress {
    background-color: $green;
  }
}