
$_step-width: $baseline-grid-unit * 8;

// TODO: maybe share this back to NHS UK
// intructions pattern

.intructions {
  background-color: $blue;
  padding: 16px;
  color: $white;

  .heading-large {
    color: $white;
  }

  .heading-secondary {
    color: rgba($white, .8);
  }

  @media (min-width: 600px) {
    padding: 32px;
  }

  p {
    @include core-font(24);
  }
  
  a {
    color: $white;
    text-decoration: underline;
  }
}

.instructions--link {
  @include core-font(20);
}

.instructions--image {
  margin: 1em auto;
  display: block;
  text-align: center;
  height: auto;
  @media (min-width: 600px) {
    float: right;
    margin-top: -3em;
  }
}

.instructions--image--small {
  margin: 1.6em auto;
  display: block;
  @media (min-width: 500px) {
    float: right;
    margin: 1.6em 0 0 2em;
  }
}

.instructions-list {
  @include core-font(24);
  counter-reset: li;
  padding: $baseline-grid-unit 0;
  list-style: none;
}

.instructions-list__item {
  position: relative;
  border-bottom: 1px solid $blue;
  border-left: 0;
  margin: 0!important;
  padding: $default-spacing-unit/2 $gutter*1.5;
  padding-right: $gutter*.5;
  @include clearfix;

  // style the numbers
  &:before {
    background-color: $white;
    color: $nhs-blue;
    display: inline-block;
    top: $default-spacing-unit/2;
    left: 0;
    border-radius: 50%;
    content: counter(li);
    counter-increment: li;
    height: $_step-width;
    line-height: $_step-width;
    position: absolute;
    text-align: center;
    width: $_step-width;
    @include core-font(16);
    font-weight: bold;
    padding-top: 0.25em;
  }

  @include media(tablet) {
    padding-top: $default-spacing-unit/2;
    padding-left: $gutter*1.5;
    &:before {
      top: $default-spacing-unit/2;
      left: 0;
    }
  }
}

