// styles for the Onfido app
@media (min-width: 30em) {
  #onfido-mount {
    position: relative;
    top: 10%;
  }
}

.rrui__input-label,
.rrui__input:not(.rrui__input--multiline) {
  margin: 0;
  display: block;
  width: 100%;
  padding: 2px;
  border: none;
  font-family: inherit;
  line-height: inherit;
}

.onfido-sdk-ui-Uploader-dropzone {
  display: none;
}