.passwordRevealer {
  position: relative;
  display: block;
  @media (min-width: 925px) {
    margin-top: 0px !important;
  }
  button {
    position: absolute;
    font-size: 1.125em;
    top: 0px;
    right: 25%;
    bottom: 0px;
    width: 80px;
    color: #ffffff;
    background-color: #005EB8;
    margin-top: 0px;
    border: none;
    @media screen and (max-width: 500px) {
      right: 1px;
    }
  }
  input {
    padding-right: 70px !important;
  }

}