// TODO: maybe share this back to NHS UK
// start page pattern

$_step-width: $baseline-grid-unit * 8;

.service-access__wrapper {
  padding-bottom: 20px;
}

.service-access {
  @include core-font(16);
  counter-reset: li;
  padding: $baseline-grid-unit 0;
  list-style: none;
}

.service-access__item {
  position: relative;
  background-color: white;
  border: 1px solid #d8dde0;
  margin-bottom: 8px;
  padding: $default-spacing-unit;
  @include clearfix;

  &.hide-number {
    &:before {
      content: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.service-access__item__step {
  .completed & {
    display: none;
  }
}


.service-access__item__title {
  vertical-align: top;
  display: block;
  .completed & {
    color: $grey-2;
  }

.service-access__item__title {
  .completed & {
    display: none;

  }
}
  
  @include media(tablet) {
    width: 100%;
    display: inline-block;
  }

  &.ticked {
    position: relative;
    color: $grey-2;
    &::before,
    &::after {
      content: "";
      right: 0;
      top: 0.15em;
      position: absolute;
      zoom: 1;
    }
    &::before {
      background: transparent;
      border: solid;
      border-color: $grey-1;
      border-width: 0 0 6px 6px;
      height: 14px;
      //top: .7em;
      transform: rotate(-45deg);
      width: 22px;
    }
  }
}

//   '@at-root' - this may be an errant bit of code but will keep it here just in case //


.service-access__item__desc {
  display: inline-block;
  margin-top: 0;
  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: .5em;
  }

  .completed & {
    display: none;
  }

  @include media(tablet) {
    width: 100%;
    margin-left: 0;
  }
}

.service-access__item__button {
  display: inline-block;

  line-height: 20px;
  margin-top: 2em;
  @include media(tablet) {
    float: left;
    margin-left: 0;
    margin-top: 3%;
  }
}



