// .service-access - trialling icon & colour scheme for completed progressions in service access steps//

.service-access__item__icons {
  position: relative;
  background-color: #005eb8;
  border: 1px solid #d8dde0;
  margin-bottom: 8px;
  padding: $default-spacing-unit;
  @include clearfix;

  &.hide-number {
    &:before {
      content: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.service-access__item__step__text__leftandright {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-access__item__title__text__leftandright {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.service-access__item__title__icons {
  vertical-align: top;
  display: block;
  .completed & {
    color: $grey-5;
  .name & {
    color: $grey-5;
  }  
}

.service-access__item__title__icons {
  .completed & {
    display: none;
  .name & {
      display: none;  

  }
 }
}

  
  @include media(tablet) {
    width: 100%;
    display: inline-block;
  }

  // &.white_text {
  //   position: relative;
  //   color: #ffffff;
  //   &::before,
  //   &::after {
  //     content: "";
  //     right: 0;
  //     top: 0.15em;
  //     position: absolute;
  //     zoom: 1;
  //   }

  &.ticked {
    position: relative;
    color: #ffffff;
    &::before,
    &::after {
      content: "";
      right: 0;
      top: 0.15em;
      position: absolute;
      zoom: 1;
    }
    &::before {
      background: transparent;
      border: solid;
      // border-color: $grey-2; temporarily taken this out 
      border-color: $grey-5;
      border-width: 0 0 3px 3px;
      height: 12px;
      //top: .7em;
      transform: rotate(-45deg);
      width: 32px;
    }
  }
}


// Flex Box tests//

// .parent {
//   display: flex;
//   height: 300px; /* Or whatever */
// }

.child {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.time {
  text-align: right;
  color: blue;
  .completed & {
    display: none;
  }
}

img.icon__resize {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  max-width:20%;
  max-height:20%;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3.headerchange {
  text-align: center;
  color:$grey-1;
}


.nhsuk-button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B3BBC1; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  // text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 16px;

}

.service-access__item_delete {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid #d8dde0;
  margin-bottom: 4px;
  padding: $default-spacing-unit;
  @include clearfix;

  &.hide-number {
    &:before {
      content: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}