// TODO: maybe share this back to NHS UK
// start page pattern

$_step-width: $baseline-grid-unit * 8;

.service-access__wrapper {
  padding-bottom: 20px;
}

.service-access {
  @include core-font(16);
  counter-reset: li;
  padding: $baseline-grid-unit 0;
  list-style: none;
}

.service-access__item {
  position: relative;
  background-color: white;
  border: 1px solid #d8dde0;
  margin-bottom: 8px;
  padding: $default-spacing-unit;
  @include clearfix;

  &.hide-number {
    &:before {
      content: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.service-access__item__step {
  .completed & {
    display: none;
  }
}


.service-access__item__title {
  vertical-align: top;
  display: block;
  .completed & {
    color: $grey-2;
  }

.service-access__item__title {
  .completed & {
    display: none;

  }
}
  
  @include media(tablet) {
    width: 100%;
    display: inline-block;
  }

  &.ticked {
    position: relative;
    color: $grey-2;
    &::before,
    &::after {
      content: "";
      right: 0;
      top: 0.15em;
      position: absolute;
      zoom: 1;
    }
    &::before {
      background: transparent;
      border: solid;
      border-color: $grey-1;
      border-width: 0 0 6px 6px;
      height: 14px;
      //top: .7em;
      transform: rotate(-45deg);
      width: 22px;
    }
  }
}

.service-access__item__step__text__leftandright {
  display: flex;
  justify-content: space-between;
}

.service-access__item__title__text__leftandright {  
  display: flex;
  justify-content: space-between;
}

// .service-access__icons - trialling icon & colour scheme for completed progressions in service access steps//

//   '@at-root' - this may be an errant bit of code but will keep it here just in case //


.service-access__item__icons {
  position: relative;
  background-color: $blue-50;
  border: 1px solid #d8dde0;
  margin-bottom: 8px;
  padding: $default-spacing-unit;
  @include clearfix;

  &.hide-number {
    &:before {
      content: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}


.service-access__item__title__icons {
  vertical-align: top;
  display: block;
  .completed & {
    color: $grey-5;
  .name & {
    color: $grey-5;
  }  
}

.service-access__item__title__icons {
  .completed & {
    display: none;
  .name & {
      display: none;  

  }
}
  
  @include media(tablet) {
    width: 100%;
    display: inline-block;
  }

  &.white_text {
    position: relative;
    color: #ffffff;
    &::before,
    &::after {
      content: "";
      right: 0;
      top: 0.15em;
      position: absolute;
      zoom: 1;
    }

  &.ticked {
    position: relative;
    color: #ffffff;
    &::before,
    &::after {
      content: "";
      right: 0;
      top: 0.15em;
      position: absolute;
      zoom: 1;
    }
    &::before {
      background: transparent;
      border: solid;
      // border-color: $grey-2; temporarily taken this out 
      border-color: $grey-5;
      border-width: 0 0 3px 3px;
      height: 12px;
      //top: .7em;
      transform: rotate(-45deg);
      width: 32px;
    }
  }
}




// Flex Box tests//

// .parent {
//   display: flex;
//   height: 300px; /* Or whatever */
// }


.child {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}


.time {
  text-align: right;
  color: blue;
  .completed & {
    display: none;
  }
}


.service-access__item__desc {
  display: inline-block;
  margin-top: 0;
  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: .5em;
  }

  .completed & {
    display: none;
  }

  @include media(tablet) {
    width: 100%;
    margin-left: 0;
  }
}

.service-access__item__button {
  display: inline-block;

  line-height: 20px;
  margin-top: 2em;
  @include media(tablet) {
    float: left;
    margin-left: 0;
    margin-top: 3%;
  }
}

img.icon__resize {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  max-width:20%;
  max-height:20%;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

