
// TODO: maybe share this back to NHS UK
// start page pattern

.prove-id {
  border-bottom: 1px solid $blue;
  padding-bottom: 20px;
}

.task {
  width: 100%;
  border-top: 1px solid $blue;

  img {
    display: inline-block;
    }

  h3 {
    display: inline-block;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 4px;
    width: 50%;
  }

  div.status {
    display: inline-block;
    width: 25%;

    span {
      display: inline-block;
      border-radius: 2px;
      padding: 2px;
      color: #fff;
      font-weight: bold;
      font-size: 0.8em;
    }

    span.todo {
      background-color: $blue;
    }

    span.awaiting {
      background-color: $yellow;
    }

    span.rejected {
      background-color: $red;
    }

    span.complete {
      background-color: $green;
    }

  }

  a.button {
    margin-top: 10px;
    line-height: 20px;
    position: relative;
    right: 0;
  }

  div.tick {
    width: 15%;
    display: inline-block;
    text-align: right;
  }

}

.task.complete, .task.pending {

  a.button, p, ul {
    display: none;
  }


}