{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}

{% set isServiceStart = 'true' %}
{% set service = "eredbook2" %}
{% set serviceName = "Access%20eRedbook" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Access eRedbook','') }}
{% endblock %}

{% block content %}

<p>To access this service you need to create an account.</p>
<!-- <p>Before you start it will be useful to have your:</p>
<ul>
	<li>mobile phone</li>
	<li>NHS number</li>
	<li>passport or driving licence number</li>
</ul> -->

<section class="prove-id">

	<ol class="step-list">
		<li class="step-list__item">
			<h3 class="step-list__item--task">Create an NHS account</h3>
			<a href="/create-account/grant-access/create-acc-terms" class="step-list__item__status button">Start</a>
			<p>You will need your phone.</p>
			<p>Your NHS account will allow you to sign into multiple health services in the future.</span></p>
		</li>
	</ol>
</section>

{% endblock %}
{% block rightcol %}{% endblock %}