{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum %}

{% block content %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>Enter your Driving Licence number</legend></h1>

        <div class="form-group">
          <label class="form-label" for="field1">Enter your driving licence number</label>
          <span class="form-hint">Example: MORGA657054SM9IJ</span>
          <input class="form-control" id="field1" name="field2" type="text">
        </div>
        <details class="" role="group">
          <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
            <span class="details__summary">Where to find the driving licence number</span>
          </summary>

          <div id="details-content-0" aria-hidden="false" class="callout callout--info callout--friendly">
            <p>Your driving licence number can be found in section 5 of your driving licence photocard</p>
            <div class="reading-width">
              <p><img src="/images/driving_licence.png" alt="Image of a photo driving licence"/></p>
            </div>
          </div>

        </details>
      </fieldset>


    </div>
    <div class="form-group">
      <a class="button" href="service-access-eredbook-04{{ params }}" id="continue">Continue</a>
    </div>

  </form>
</div>

{% endblock %}