{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Identity verification submitted{% endblock %}

{% set signedin = 'true' %}
{% set verified = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified %}

{% block header %}
<div class="local-header">
	<h1 class="local-header__title">Thank you, we will now verify your identity and match you to your NHS number.</h1>
	<div class="local-header__intro">
		<div class="reading-width">
			<p>This could take up to 24 hours.<br><br>We will <a href="/emails/email-identity-verified{{ params }}">email</a> you when we have made the necessary checks.</p>
		</div>
	</div>
</div>

{% endblock %}

{% block content %}



{% endblock %}
{% block rightcol %}{% endblock %}