{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}

{% set signedin = 'true' %}
<!--{% set isServiceStart = 'true' %}-->
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern(serviceName,'') }}
{% endblock %}

{% block content %}

<section class="prove-id">

	<ol class="step-list">
		<li class="step-list__item">
			<h3 class="step-list__item--task">Create an NHS account</h3>
			<span class="step-list__item__status__text">Completed</span>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Your NHS number</h3>
			<span class="step-list__item__status__text">Completed</span>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Photo ID document details</h3>
			<span class="step-list__item__status__text">Completed</span>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Submit a video selfie</h3>
			<a href="service-access-video-selfie{{ params }}" class="step-list__item__status button">Start</a>
			<p>For security reasons we need this to match your face with your photo ID.</p>
		</li>
		<!-- <li class="step-list__item">
			<h3 class="step-list__item--task">Add children to your eRedbook</h3>
		</li> -->
	</ol>
</section>

{% endblock %}
{% block rightcol %}{% endblock %}