{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}

{% set signedin = 'true' %}
{% set isServiceStart = 'true' %}
{% set service = "eredbook" %}
{% set serviceName = "Access%20eRedbook" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Access eRedbook','') }}
{% endblock %}

{% block content %}

<section class="prove-id">

	<ol class="step-list">
		<li class="step-list__item">
			<h3 class="step-list__item--task">Create an NHS account</h3>
			<a href="#" class="step-list__item__status__text">Completed</a>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Your NHS number</h3>
			<a href="#" class="step-list__item__status__text">Completed</a>
			<!-- <p>If you don't have your NHS number we will ask for some basic information about yourself</p> -->
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Photo ID document details</h3>
			<a href="#" class="step-list__item__status__text">Completed</a>
			<!-- <p>You will need either your passport number or driving licence number</p> -->
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Submit a video selfie</h3>
			<a href="#" class="step-list__item__status__text pending">Awaiting approval</a>
			<p>We will let you know by email once this is complete</p>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Add children to your eRedbook</h3>
		</li>
	</ol>
</section>
<meta http-equiv="refresh" content="25;url=service-access-eredbook-06{{ params }}">
{% endblock %}
{% block rightcol %}{% endblock %}