{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }}{% endblock %}

{% set signedin = 'true' %}
{% set isServiceStart = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Congratulations, you now have an NHS account','You can use this to access other services across the NHS','success') }}
{% endblock %}

{% block content %}

<p>To access your medical record we now need to connect to your GP.</p>
<p><a href="/patient-online/patient-online-help">Find out how to register with your GP for online services.</a></p>

<section class="service-access-wrapper">

	<ol class="service-access">
		<li class="service-access__item active">
			<h3 class="service-access__item__title">Connect to your GP</h3>
			<div class="service-access__item__desc">
				<p>You will need the information that your GP gave you when you first connected to online services with your GP.</p>

			</div>
			<a href="/patient-online/patient-online-start?serviceName=Access%20your%20medical%20record" class="service-access__item__button button">Start</a>
		</li>
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}