{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}{{serviceName}}{% endblock %}

{% set isServiceStart = 'true' %}
{% if service  %}

{% endif %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&hidehead=" + hidehead %}


{% block content %}
<style>
.create {
	background-color: #f0f4f5;
	border-left: 4px solid #d8dde0;
	padding: 15px;
}

.verify-note {
	background: #f0f4f5 url('/images/govuk-verify-transparent.svg') no-repeat 10px 9px;
	background-size: 15%;
	border-left: 4px solid #d8dde0;
	padding: 15px 15px 15px 100px;
	margin-top: 5px;
}
</style>

<p>You have successfully created an NHS account. To access online services you will need to:</p>
<ul>

<li>Connect to your GP</li>
</ul>

{% endblock %}
{% block rightcol %}{% endblock %}

{% block leftHalf %}


{% endblock %}

{% block rightHalf %}

<section class="create">
	<h2 style="font-size: 26px">Create an NHS account - TICK</h2>
	<!--<p>If you do not have an NHS account you can create one here.</p>
	<p class="small">You will need:</p>
	<ul>
		<li class="small">an email address you have access to</li>
		<li class="small">a mobile phone you have access to</li>
	</ul>-->
	<!--<p><a class="button" href="/create-account/create-acc-terms{{ params }}">Create an NHS account</a></p>-->
</section>


<section class="create">
	<h2 style="font-size: 26px">Connect to your GP</h2>
	<p>If you already use online services with your GP you can resuse those details</p>
	<p class="small">You will need:</p>
	<ul>
		<li class="small">online services details</li>
		<li class="small">gp practice postcode / practice name</li>
	</ul>
	<p><a class="button" href="/patient-online/v7/patient-online-gp-lookup{{ params }}">Connect to GP</a></p>
</section>

{% endblock %}
