{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}

{% set isServiceStart = 'true' %}
{% set service = "eredbook" %}
{% set serviceName = "Access%20eRedbook" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}

{% block content %}

<section class="prove-id">
	<h2>Steps</h2>

	<ol class="step-list">
		<li class="step-list__item">
			<h3 class="step-list__item--task">Create an NHS account</h3>
			<a href="#" class="step-list__item__status__text">Completed</a>
			</h3>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Give details about yourself</h3>
			<a href="/create-account/create-acc-terms{{ params }}" class="step-list__item__status button">Start</a>
			<p>We will </p>
			</h3>
		</li>
		<!--<li class="step-list__item">-->
			<!--<h3 class="step-list__item&#45;&#45;task">Enter your photo document ID number</h3>-->
			<!--</h3>-->
		<!--</li>-->
		<li class="step-list__item">
			<h3 class="step-list__item--task">Verify your identity</h3>
			<p>You'll need to send us a picture of yourself</p>
			</h3>
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Accept access to your dependants records</h3>
			</h3>
		</li>
	</ol>
</section>

{% endblock %}
{% block rightcol %}{% endblock %}