{% extends '_layouts/_grids/_grid-2-1-nhsone.html' %}
{% block page_title %}Access {{ serviceName }} - Take a video selfie{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead %}

{% block content %}


<div class="first-item">

  <section class="loading-container" id="scan-id-0" style="display:block">

    <h1 id="spinner-heading" style="padding-bottom: 0; display:none;">Uploading your video</h1>

    <div class="bar_container">
      <div id="main_container">
        <div id="pbar" class="progress-spinner" data-percent="0">
          <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" />
          <div class="ppc-loading">
            <div class="pcc-percents-wrapper">
              <span id="spinner-status">Loading</span><span aria-hidden="true">...</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="" id="scan-id-1" style="display:none">

    <p><a href="service-access-video-selfie-instructions-2{{ params }}" class="link-back">Back</a></p>

    <form>
      <fieldset class="">
        <legend for="radio-inline-group">
          <h1 style="padding-bottom: 0;">
            Video instructions
          </h1>
        </legend>

        <p>Make sure:</p>
        <ul class="list list-bullet">
          {% if mobile %}
          <li>you use the front-facing camera</li>
          {% endif %}
          <li>your whole face is visible</li>
          <li>the video is at least 3 seconds long<br>&nbsp;</li>
        </ul>

        {% if challenge == 'words' %}
        <div class="camera-instructions">
          <div class="camera-instructions-text">Say these 2 words whilst recording your short video: </div>
          <div class="camera-instructions-numbers"><b>Record Wagon</b></div>
        </div>
        {% else %}
          <div class="camera-instructions">
            <div class="camera-instructions-text">Say these numbers whilst recording your short video: </div>
            <div class="camera-instructions-numbers">{{ pinCode }}</div>
          </div>
        {% endif %}

        <div class="form-group">

          <label for="video-selfie" class="camera-button">Open camera
            <input type="file" id="video-selfie" name="video" accept="video/mp4,video/x-m4v,video/*" capture="user">
          </label>

        </div>

      </fieldset>

    </form>

  </section>

  <section class="uploader-container" id="scan-id-3" style="display:none">

    <h1 style="padding-bottom: 0;">
      Uploading your video
    </h1>

    <div class="bar_container">
      <div id="main_container">
        <div id="pbar" class="progress-pie-chart" data-percent="0">
          <div class="ppc-progress">
            <div class="ppc-progress-fill"></div>
          </div>
          <div class="ppc-percents">
            <div class="pcc-percents-wrapper">
              <span>%</span>
            </div>
          </div>
        </div>

        <progress style="display: none" id="progress_bar" value="0" max="100"></progress>
      </div>
    </div>

  </section>

  <section class="" id="scan-id-5" style="display:none">

    <h1 style="padding-bottom: 0;">Review your short video</h1>

    <div class="reading-width">
      <div id="scan-video-preview">
        <video id="uploaded-video" controls autoplay style="max-width:100%;max-height:400px;">
          <source src="#" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    {% if challenge == 'words' %}
    <div class="camera-instructions">
      <div class="camera-instructions-text">Is the video clear and can you hear these 2 Words? </div>
      <div class="camera-instructions-numbers"><b>Record Wagon</b></div>
    </div>
    {% else %}
    <div class="camera-instructions">
      <div class="camera-instructions-text">Is the video clear and can you hear these 4 numbers? </div>
      <div class="camera-instructions-numbers">{{ pinCode }}</div>
    </div>
    {% endif %}

    <div class="form-group">
      <a class="button" href="" id="submit-videoSelfie2-button">Use this video</a>
      <p><a href="service-access-video-selfie-camera{{ params }}" id="">Cancel</a></p>
    </div>

  </section>

  <section  class="" id="scan-id-6" style="display:none">

    <h1 style="padding-bottom: 0;">Upload error</h1>

    <div id="nhs-number" class="has-error form-row-error-active">
      <span class="error error-message error-label error-text error-message-active" id="nhs-number-error">There was an problem uploading your video.</span>
    </div>

    <div class="form-group">
      <a class="button" href="" id="video-selfie-back-button">Retry upload</a>
      <p><a href="service-access-video-selfie-camera{{ params }}" id="">Cancel</a></p>

    </div>

  </section>

  {% if formerror === 'invalid' %}
  <button id="continueButton" style="visibility:hidden" onclick="window.location='service-access-confirmation{{ params }}';">Continue</button>
  {% else %}
  <button id="continueButton" style="visibility:hidden" onclick="window.location='service-access-confirmation{{ params }}';" >Continue</button>
  {% endif %}


</div>

<script type="text/javascript">

    //show then hide the spinner animation
    setTimeout(function(){
        document.getElementById('scan-id-0').style.display = 'none'
    }, 2500)
    setTimeout(function(){
        document.getElementById('scan-id-1').style.display = 'block'
    }, 2500)
</script>

{% endblock %}