{% extends '_layouts/_grids/_grid-2-1-nhsone.html' %}
{% block page_title %}Access {{ serviceName }} - Step 3: About you{% endblock %}

{% set signedin = 'true' %}
{% set isServiceStart = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&poluser=" + poluser %}


{% block header %}
  {% if hidehead !== 'true' %}
    {% import "_partials/_components/_local-header.html" as localHeader %}
    {{ localHeader.pattern(serviceName,'') }}
  {% endif %}
{% endblock %}

{% block content %}

<section class="service-access-wrapper">

	<ol class="service-access">
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Create an NHS One account</h3>
			<div class="service-access__item__desc">
				<p>You will need your phone.</p>
				<p>Your NHS One account will allow you to sign into multiple health services in the future.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item completed">
			<h3 class="service-access__item__title">Enter your registration details</h3>
			<div class="service-access__item__desc">
				<p>You will need your online registration details.</p>
				<p>These are the registration details you will have received from your GP surgery to access online services, for example booking appointments.</p>
			</div>
			<span class="service-access__item__status">Completed</span>
		</li>
		<li class="service-access__item active">
			<h3 class="service-access__item__title">About you</h3>
			<div class="service-access__item__desc">
				<p>You will need to give us some details about yourself.</p>
			</div>
			<a href="/patient-online/v9/patient-online-about-you-name{{ params }}" class="service-access__item__button button">Start</a>
		</li>
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}