{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Browser error{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&lsId=" + lsId + "&lsStudy=" + lsStudy + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&uplift=" + uplift + "&manual=" + manual + "&testing=" + testing %}

{% block content %}

<div class="first-item">

  <div class="warning-callout margin-top-3">
        <h3 class="warning-callout__label">There is a problem</h3>
        <p>We are unable to prove who you are using this device or browser.</p>
        {# <p style="font-weight: bold;"> To proceed please open the link we have emailed you in a different browser or device.</p> #}

        <p style="font-weight: bold;">To continue try:</p>

        <ul>
          <li>Updating or changing your browser</li>
          <li>Using a different device (e.g. a smartphone or tablet)</li>
        </ul>

           <p>Alternatively you can <a href="/patient-online/v24/patient-online-details?serviceName=NHS%20App&amp;service=undefined&amp;lsId=undefined&amp;lsAccess=undefined&amp;lsStudy=undefined&amp;system=undefined&amp;mobileNum=undefined&amp;hidehead=undefined&amp;devMode=undefined&amp;returnUrl=undefined&amp;surgery=undefined&amp;practiceID=undefined&amp;supported=undefined&amp;manual=undefined&amp;uplift=undefined?manual=true&amp;showWarning=undefined&amp;throttleAlert=undefined&amp;serviceAlert=undefined&amp;throttle=undefined&amp;manual=undefined&amp;drop=need">prove who you are using your GP surgery’s online registration details</a>.</p>

  </div>

  {# <h1 class="">There is a problem</h1>

  <p>Your current device or browser does not allow you to record a video.</p> #}

{#   <p class="small">Reference: CID-####</p> #}    
  {# <p>Reference: <b>CID4017</b></p> #}

  {# <p>Visit the <a href="https://support-nhslogin.herokuapp.com/takeandupload/article#unabletorecord">NHS login help centre</a> for advice on how to fix this problem.</p> #}

</div>

{% endblock %}