{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Record a short video{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID + "&supported=" + supported + "&manual=" + manual + "&uplift=" + uplift + "&testing=" + testing %}

{% block content %}

<div class="first-item">
<p><a class="link-back" href="service-access-video-selfie-triage{{ params }}">Back</a></p>


{#     {% if hideBack !== 'true' %}
    <p><a href="service-access-video-selfie{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back</i></a></p>
    {% endif %} #}

<form>
      <fieldset class="">
        <legend for="radio-inline-group">
          <h1 style="padding-bottom: 0;">
            Record your video
          </h1>
        </legend>
        
        <p>You need to record a video so we can match your face to your ID.</p>
        <p>To do this, you must allow us access to your device's camera. </p>
        <p>Ask someone to help you record the video if it’s easier.</p>

        <p>Make sure:
        <ol>
        <li>Your whole face is visible</li>
        <li>You click start recording</li>
        <li>You write the numbers: <strong>7 3 0 8</strong>, clearly on a piece of paper</li>
        <li>You hold the paper to camera to show us the numbers </li>
        <li>You stop the recording when you have finished</li>
        <li>You check the video</li>
        </ol>
        </p>

        <div class="form-group">

        <p>When you are ready to record your video, select <em>continue</em> to open your camera.</p>


		  	<div class="form-group">
		<a class="button" href="service-access-video-selfie-write-camera-html5{{ params }}">Continue</a>
			</div>

        </div>

      </fieldset>

    </form>

</div>

{% endblock %}
