{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - What type of ID do you have?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&formerror=" + formerror + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&manual=" + manual + "&uplift=" + uplift + "&testing=" + testing %}

{% block content %}

<div class="first-item">

{#   {% if linkback === "true" %}

  <p><a href="/patient-online/v24/patient-online-details-2{{ params }}" class="link-back">Back</a></p>

  {% else %}

  <p><a href="service-access-what-you-need{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> How to prove who you are</a></p>

  {% endif %} #}

  <div class="reading-width">
      
    <h1 class="heading-large"> 
    {# <span class="heading-secondary">Step 1 of 3 </span> #} 
    Do you have any accessibility needs?</h1>


    <form action="service-access-routes-question{{ params }}" method="POST">
        <fieldset class="accessibility-question">
      <div class="form-group">

          <legend for="radio-inline-group">
            <h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
              Select everything that is relevant
            </h2>
          </legend>

          
              <div class="multiple-choice__container">
                <label class="multiple-choice multiple-choice--checkbox">
                  <input class="multiple-choice__input" type="checkbox" name="checks" value="1">
                  I am visually impaired
                </label>
                <label class="multiple-choice multiple-choice--checkbox">
                  <input class="multiple-choice__input" type="checkbox" name="checks" value="2">
                  I have XXXX
                </label>
                <label class="multiple-choice multiple-choice--checkbox">
                  <input class="multiple-choice__input" type="checkbox" name="checks" value="3">
                  I am XXXX
                </label>
              </div>

        </fieldset>


        <div class="form-group">
          <button class="button" id="">Continue</button>
        </div>

        {# <p><a href="/patient-online/v23/patient-online-details{{ params }}&drop=type">How to prove who you are without sending a photo of your I.D.</a></p> #}

      </div>

    </form>


    <!--<p class=""><a href="service-access-no-documents{{ params }}">I don't have a photo ID document.</a></p>-->

    {% if devMode === "true" %}
    <details class="dev-mode" role="group" >
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Reload this page with a testing scenario</span>
      </summary>
      <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">
          <p>Photo upload errors</p>
          <ol>
            <li><a href="service-access-photo-id-type{{ params }}challenge=undefined">Photo ID upload successfull</a></li>
            <li><a href="service-access-photo-id-type{{ params }}&challenge=invalid">Photo ID Validation Failure</a></li>
            <li><a href="service-access-photo-id-type{{ params }}&challenge=invalid">Photo ID Upload Failure</a></li>
          </ol>
        </div>
      </div>
    </details>
    {% endif %}

  </div>

</div>

{% endblock %}