{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2 - Match your face to your photo I.D.{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item"> 

	<div class="reading-width">

		<h1 class="heading-large">Write the numbers 7 - 3 - 0 - 8 on peice of paper.</h1>
				

			<div class="form-group">
				<a class="button" href="service-access-video-selfie-write-camera-html5{{ params }}" id="continue">Continue</a>
			</div>

		</form>

	</div>

</div>

{% endblock %}
{% block rightcol %}{% endblock %}