{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 2 - Match your face to your photo I.D.{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&hidehead=" + hidehead + "&challenge=" + challenge + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&manual=" + manual + "&uplift=" + uplift + "&testing=" + testing %}

{% block content %}

<div class="first-item"> 

	<div class="reading-width">
	<a class="link-back" href="service-access-video-selfie-triage?service=undefined&amp;serviceName=undefined&amp;emailAddress=undefined&amp;mobileNum=undefined&amp;idType=undefined&amp;formerror=undefined&amp;hidehead=undefined&amp;devMode=undefined&amp;returnUrl=undefined&amp;uplift=undefined&amp;manual=undefined">Back</a>

		<h1 class="heading-large">Write the numbers 7 - 3 - 0 - 8 on a piece of paper</h1>
		
		<p> You will need to show us these 4 numbers and your face on the next page.</p>


				

	<a class="button" href="service-access-video-selfie-write-camera-html5{{ params }}" id="">Continue</a>

		</form>

	</div>

</div>

{% endblock %}
{% block rightcol %}{% endblock %}