{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}
{% if uplift === 'true' %}
Access {{ serviceName }} - Please submit your information
{% else %}
Access {{ serviceName }} - Step 3 of 3 
{% endif %}
{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&manual=" + manual + "&testing=" + testing + "&uplift=" + uplift + "&throttle=" + throttle %}

{% block content %}

{%if loggedin === "true" %}
	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
{% endif %}

<section class="service-access-wrapper">

	<ol class="service-access">

		{% if uplift === 'true' %}


{# 		<li class="service-access__item completed">
			<h3 class="service-access__item__title ticked" style="font-size:18px">Help us find your NHS record</h3>
			<div class="service-access__item__desc">
				</div>
		</li> #}

		<li class="service-access__item completed">
			<h3 class="service-access__item__title ticked" style="font-size:18px">Send your photo ID</h3>
			<div class="service-access__item__desc">
				</div>
		</li>

				<li class="service-access__item completed">	
				<h3 class="service-access__item__title ticked" style="font-size:18px">Record your face</h3>
				<div class="service-access__item__desc">
				</div>

			<li class="service-access__item">
			<h3 class"service-access__item__title">Please submit your information</h3>
			<div class="service-access__item__desc">
	<p>By selecting submit, you agree to send us your personal information, photo and video.</p>
	<p>Your data will be stored securely. Read our <a href="#">privacy notice</a> to find out what we will do with your data.</p>
	<a href="service-access-complete{{ params }}" class="service-access__item__button button">Submit information</a>
	</div>
</li>
	
	{% else %}

			<li class="service-access__item completed">
			<h3 class="service-access__item__title ticked" style="font-size:18px">Send your photo ID</h3>
			<div class="service-access__item__desc">
				</div>
		</li>

		<li class="service-access__item completed">	
				<h3 class="service-access__item__title ticked" style="font-size:18px">Record your face</h3>
				{# <h3 class="service-access__item__title ticked">Record a short video</h3> #}
				<div class="service-access__item__desc">
				</div>
				
		<li class="service-access__item active">		
				<span class="service-access__item__title__text__leftandright"><b>Step 3 of 3</b>{# 5 mins #}</span>
				<h3 class="service-access__item__title">Help us find your NHS record</h3>
				<div class="service-access__item__desc">
					<p>You will need to tell us some details so that we can connect to your existing health record.</p>
				</div>
				<a href="service-access-nhs-number-automated{{ params }}" class="service-access__item__button button">Continue</a>
	</li>

{% endif %}
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}