{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Steps{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&lsId=" + lsId + "&lsStudy=" + lsStudy + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&manual=" + manual + "&testing=" + testing %}

{% block content %}

{%if loggedin === "true" %}
	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
{% endif %}

<div class="first-item">

	<section class="intructions">

		<div class="reading-width">
			
			<h1 class="heading-large">You need to prove who you are</h1>
			<p>There are 3 ways for you to prove who you are, some will take longer than others to get your NHS login account.</p>
		</div>

	</section>

<section class="service-access-wrapper">

	<ol class="service-access">
		
		<li class="service-access__item active">
				<h3 class="service-access__item__title">PYI Auto</h3>
			<div class="service-access__item__desc">
				<p>Things you need: photo ID</p>
				<p>This route will ask you to scan your face and match it to your photo ID</p>
				<a href="service-access-nhs-number{{ params }}" class="button">Start</a>
				<br><br>
				<span class="service-access__item__step">This route takes <b>14 mins</b> to get verified</span>
			</div>
		<li>

		<li class="service-access__item active">
				<h3 class="service-access__item__title">PYI Manual</h3>
			<div class="service-access__item__desc">
				<p>Things you need: photo ID</p>
				<p>This route will ask you send a photo of your ID and a video of you telling us 4 numbers</p>
				<a href="service-access-nhs-number{{ params }}" class="button">Start</a>
				<br><br>
				<span class="service-access__item__step">This route currently takes <b>5 hours</b> to get verified</span>
			</div>
		</li>

		<li class="service-access__item active">
			<h3 class="service-access__item__title">POL</h3>
			<div class="service-access__item__desc">
				<p>Things you need: GP online registration details</p>
				<p>This route is the simplest of the routes, but will only work if you have details from your GP</p>
				<a href="service-access-nhs-number{{ params }}" class="button">Start</a>
				<br><br>
				<span class="service-access__item__step">This route takes <b>2 mins</b> to get verified</span>
			</div>
		</li>

	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}