{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}You will need photo ID{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID + "&supported=" + supported + "&manual=" + manual + "&uplift=" + uplift + "&throttle=" + throttle + "&testing=" + testing %}

{% block content %}

<div class="first-item">

	<div class="reading-width">

		<h1>You will need photo ID</h1>

 		<p>You should get your photo ID or save a photo of your ID to this device.</p>

    <p>We will help you send a photo of your ID online.</p>

    <a href="/service-access/v24/service-access-steps_1{{params}}" class="service-access__item__button button">Continue to send a photo of my ID</a><br>

    <br><br>
		<p>Alternatively, if you have your GP surgery's online details, <a href="/patient-online/v24/patient-online-details{{ params }}">you can use these instead</a>.</p>


{# 
	<div class="action-link">
        <a class="action-link__link" href="/patient-online/v24/patient-online-details{{ params }}">
          <svg class="icon icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="action-link__text" style="font-size: 20px;">Use your GP surgery's online details</span>
        </a>
      </div> #}


{% endblock %}
