{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Steps{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&loggedin=" + loggedin + "&manual=" + manual %}

{% block content %}

{%if loggedin === "true" %}
	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
{% endif %}


<section class="service-access-wrapper">

	<ol class="service-access">
	

		<div class="center-image">
            <img class="icon__resize" src="/images/person_icon_2.png" alt="user image"></img>
    </div>
            <h3 style="color: white; text-align: center;">Jackie Weaver</h3>
            <div class="service-access__item__desc">    
            </div>   

		<li class="service-access__item"> 
    <div class="center-image">
            <img class="icon__resize" src="/images/blue_barchart.png" alt="account icon"></img>
    </div>
            <h3 class="headerchange">Account details</h3>
            <div class="service-access__item__desc">    
            </div>  
        </li>

     <li class="service-access__item"> 
    <div class="center-image">
            <img class="icon__resize" src="/images/Accessible_symbol_ PNG_Blue.png" alt="accessibility icon"></img>
    </div>
            <h3 class="headerchange">Accessibility</h3>
            <div class="service-access__item__desc">    
            </div>  
        </li>   

		<li class="service-access__item"> 
    <div class="center-image">
            <img class="icon__resize" src="/images/Help_Blue.png" alt="help icon"></img>
    </div>
           <h3 class="headerchange">Help centre</h3>
            <div class="service-access__item__desc">    
            </div>  
        </li>

    <div class="nhsuk-card nhsuk-card--clickable">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      <a class="nhsuk-card__link" href="https://help.login.nhs.uk/">Help centre</a>
    </h2>
    <h6 class="nhsuk-card__description">Help on the NHS Login experience</h6>
  </div>
</div>    


        <details class="" role="group" style="margin-top: 0;">
          <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
            <span class="details__summary">Delete my account</span>
          </summary>
          <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
            <div class="reading-width">
              <p>The account will no longer be available, and all the data in the account will be permanently deleted.</p>
            
             <button class="nhsuk-button-style" type="submit">
              Delete your account
             </button>

             <a class="button button--cancel-size" href="#">Delete</a>
{# 
             <div class="nhsuk-width-container-fluid">
  <!-- Main content wrapper here -->
</div> #} 
         
            {# <div class="multiple-choice__container">
                <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
                  <input class="multiple-choice__input" type="radio" name="radio" value="1">
                 Delete my account
                </label>
            </div> #}
              
            </div>
          </div>
        </details>

   

		{# <div>
    <button class="nhsuk-button-style" type="submit">
  Delete my account
</button>

  <div class="multiple-choice__container">
                <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
                  <input class="multiple-choice__input" type="radio" name="radio" value="1">
                 Delete my account
                </label>
  </div> #}
 

	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}