{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - What type of ID do you have?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&lsId=" + lsId + "&lsStudy=" + lsStudy + "&mobileNum=" + mobileNum + "&formerror=" + formerror + "&idType=" + idType + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&manual=" + manual + "&uplift=" + uplift + "&testing=" + testing %}

{% block content %}

<div class="first-item">

  {% if linkback === "true" %}

  <p><a href="/patient-online/v24/patient-online-details-2{{ params }}" class="link-back">Back</a></p>

  {% else %}

  <p><a href="service-access-what-you-need{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> How to prove who you are</a></p>

  {% endif %}

  <div class="reading-width">
      
      {% if uplift !== 'true' %}

    <h1 class="heading-large"><span class="heading-secondary">Step 1 of 3 </span>Send a photo of your ID</h1>

			{% else %}

    <h1 class="heading-large"><span class="heading-secondary">Step 1 of 2 </span>Send a photo of your ID</h1>


			{% endif %}
      

<script type="text/javascript" src="assets/js/accessible-autocomplete.min.js"></script>


    <form action="service-access-photo-id-type{{ params }}" method="POST">
      <div class="form-group">
        <fieldset class="">

          <legend for="radio-inline-group">
            <h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
              What type of ID do you have?
            </h2>
            <span class="form-label__hint">type your ID in the box below</span>
          </legend>


{# <form action="/action_page.php" method="get"> #}
        <div class="form-group">
  <input list="photo-id" name="id-list" id="id-list">
  <datalist id="photo-id">
    <option value="Passport">
    <option value="Firefox">
    <option value="Chrome">
    <option value="Opera">
    <option value="Safari">
  </datalist>
  </div>
  {# <input type="submit"> #}
{# </form> #}

{# 
          <div>
            <label class="block-label selection-button-radio" for="radio-inline-1">
              <input id="radio-inline-1" type="radio" name="idType" value="passport">
              Passport
            </label>
          </div>

          <div>
            <label class="block-label selection-button-radio" for="radio-inline-2">
              <input id="radio-inline-2" type="radio" name="idType" value="UK driving licence">
              UK driving licence (full or provisional)
            </label>
          </div>

          <div>
            <label class="block-label selection-button-radio" for="radio-inline-3">
              <input id="radio-inline-3" type="radio" name="idType" value="UK residence card or BRP">
              UK residence card or biometric residence permit (BRP)
            </label>
          </div>

          <div>
            <label class="block-label selection-button-radio" for="radio-inline-4">
              <input id="radio-inline-4" type="radio" name="idType" value="European driving licence">
              European driving licence (full)
            </label>

          </div>

          <div>
            <label class="block-label selection-button-radio" for="radio-inline-5">
              <input id="radio-inline-5" type="radio" name="idType" value="European national identity card">
              European national identity card
            </label>
          </div>

        </fieldset>

        <p>You may need to send 2 photos of your ID – 1 of the front and 1 of the back.</p>
 #}
        <div class="form-group">
          <button class="button" id="">Continue</button>
        </div>
<br>
 <details class="" role="group" >
              <summary data-analytics="summary" role="button" aria-controls="details-content-1" aria-expanded="true">
                  <span class="details__summary">What to do if your photo ID is not on this list</span>
              </summary>
              <div class="callout callout--friendly" id="details-content-1" aria-hidden="false">
                  <div class="reading-width">
<p>If you do not have an accepted photo ID you can <a href="/patient-online/v24/patient-online-details{{ params }}&drop=type">prove who you are without sending a photo of your ID</a>.</p>
              </div>
        </details>
      </div>

    </form>


    <!--<p class=""><a href="service-access-no-documents{{ params }}">I don't have a photo ID document.</a></p>-->

    {% if devMode === "true" %}
    <details class="dev-mode" role="group" >
      <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="details__summary">Reload this page with a testing scenario</span>
      </summary>
      <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
        <div class="reading-width">
          <p>Photo upload errors</p>
          <ol>
            <li><a href="service-access-photo-id-type{{ params }}challenge=undefined">Photo ID upload successfull</a></li>
            <li><a href="service-access-photo-id-type{{ params }}&challenge=invalid">Photo ID Validation Failure</a></li>
            <li><a href="service-access-photo-id-type{{ params }}&challenge=invalid">Photo ID Upload Failure</a></li>
          </ol>
        </div>
      </div>
    </details>
    {% endif %}

  </div>

</div>

{% endblock %}

