{% extends '_layouts/_blank_layout_no_css.html' %}

{% set params = "?service=app4&serviceName=Helm" + "&mobileNum=" + mobileNum + "&devMode=" + devMode %}

{% block body %}

<!DOCTYPE html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

  </head>

<style>

body {
  margin: 0;
  padding: 0;
}

</style>

  <body>

    <div>

      <img src="/images/helm-mobile.png" />
      
    </div>

</body></html>

{% endblock %}