{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Step 1: Photo ID document details{% endblock %}

{% set signedin = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead %}

{% block content %}

<p><a href="service-access-triage-1" class="link-back">Back</a></p>
<h1>Complete these steps</h1>

<section class="service-access__wrapper">

	<ol class="service-access">

		<li class="service-access__item active">
			<h3 class="service-access__item__title">Help us find your NHS record​</h3>
			<div class="service-access__item__desc">
				<p>You'll need to give us some details so we can connect you to your <abbr title="general practitioner">GP</abbr> surgery. ​</p>
			</div>
			<a href="service-access-offline-nhs-number{{ params }}" class="service-access__item__button button">Start</a>
		</li>
		<li class="service-access__item">
			<h3 class="service-access__item__title">Take your photo <abbr title="Identity document">ID</abbr>​ to a Post Office to be checked​</h3>
			<div class="service-access__item__desc">
				<!--<p>This is so we can check that your face matches your photo ID.</p>-->
			</div>
		</li>
	</ol>

</section>

{% endblock %}
{% block rightcol %}{% endblock %}