{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - We will now check your information{% endblock %}

{% set signedin = 'true' %}
{% set verified = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&hidehead=" + hidehead %}

{% block header %}
<div class="local-header">
	<h1 class="local-header__title">We will now check your information</h1>
	<div class="local-header__intro">
		<div class="reading-width">
			<p>We’ll <a href="/emails/v5/email-identity-verified{{ params }}">email</a> you to tell you if it did or did not pass our checks.</p>
		</div>
	</div>
</div>
{% endblock %}


{% block content %}

{% endblock %}
{% block rightcol %}{% endblock %}