{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - You will not be able to prove your identity online without a UK photo ID document.{% endblock %}

{% set signedin = 'false' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <section class="intructions">

    <div class="reading-width">

      <h1 class="heading-large">Face to Face</h1>

      <p>You will need to visit a local Post Office and:</p>

      <ul>
        <li>Take with you either your passport, driving license or identity card</li>
      </ul>
      <div class="form-control" style="margin: 32px 0 16px;">
        <a class="button--information" href="service-access-offline-1{{ params }}">Continue</a>
      </div>
    </div>

    <p><a href="service-access-no-documents{{ params }}" class="instructions--link">Another way</a></p>
  </section>

</div>

{% endblock %}