{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Choose a Post Office{% endblock %}

{% set signedin = 'false' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&idType=" + idType + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead %}

{% block content %}

<div class="first-item">

  <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

  <form action="service-access-offline-find-place{{ params }}" method="POST">
    <div class="form-group">
      <fieldset>

        <legend for="radio-inline-group">
          <h1 style="padding-bottom: 0;">
            Choose a Post Office
          </h1>
        </legend>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="place" value="postoffice1">
            Post Office 1
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="place" value="postoffice2">
            Post Office 2
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-3">
            <input id="radio-inline-3" type="radio" name="place" value="postoffice3">
            Post Office 3
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-4">
            <input id="radio-inline-4" type="radio" name="place" value="postoffice4">
            Post Office 4
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-5">
            <input id="radio-inline-5" type="radio" name="place" value="postoffice5">
            Post Office 5
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-6">
            <input id="radio-inline-6" type="radio" name="place" value="postoffice6">
            Post Office 6
          </label>
        </div>

      </fieldset>
    </div>

    <div class="form-group">
      <button class="button" id="">Continue</button>
    </div>

  </form>

</div>

{% endblock %}