

{% extends '_layouts/_service-nhs-number.html' %}
{% block page_title %}Find my NHS number{% endblock %}
{% set signedin = '' %}

{% block body %}

<div class="page-band">
    <div class="page-section">
      Find my NHS Number
    </div>
  </div>

<div class="page-section">
    <div class="reading-width">
      <h1 class="page-title stepper">Enter your code <small>Step 3 of 4</small></h1>
      <div class="grid-row">
        <div class="column--two-thirds">
            <p class="alert alert-success" role="alert" style="" tabindex="-1">
              Your code has been successfully sent!
            </p>
            <p id="resend-notice" style="display:none;">We’ve resent your code to your chosen option. The code will expire in 30 minutes. Do not close this browser window or your code will also expire.</p>

            <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
              <h2 id="error-summary" class="h3">To use this online service, enter your code</h2>
              <ul class="link-list">
                <li>
                  <a class="error-text" href="#code-input">No code was provided</a>
                </li>
              </ul>
            </div>

          <form class="form" action="javascript:submitCode()">
            <div class="form-group form-row">
              <label class="form-label" for="code-input">Enter the code received on your mobile or email</label>
              <div id="code-input-error" class="error error-message">
                <p class="error-text error-label">Enter your code below</p>
                <br>
              </div>
              <input id="code-input" class="-small form-control" type="number">
              <p>Didn't receive your code? <a id="resend-code" href="javascript:void(0);" onclick="resendCode()">Resend code</a></p>
              <!--<input type="button" class="button" value="Submit" onclick="submitCode()">-->
              <a href="nhs-number" class="button">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




{% endblock %}

