

{% extends '_layouts/_service-nhs-number.html' %}
{% block page_title %}Find my NHS number{% endblock %}
{% set signedin = '' %}

{% block body %}



<div class="page-band">
    <div class="page-section">
      Find my NHS Number
    </div>
  </div>

<div class="page-section">
    <div class="reading-width">
      <h1 class="page-title stepper">Here is your NHS number <small>Step 4 of 4</small></h1>

      <div class="grid-row">
        <div class="column--two-thirds">
          <div class="reading-width">
            <h2 id="your-preference" class="h3">Your NHS Number</h2>
            <p>123-456-7890</p>
           

            
                
              <!--<a href="end" class="button">Submit</a>  -->
              <!--<input id="submit-pref" class="button" type="submit" name="submit-pref" value="Continue">-->

          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}

