{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Find my NHS Number{% endblock %}
{% set signedin = '' %}

{% block topRow %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Find my NHS Number',' ') }}
{% endblock %}

{% block content %}


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>


<a href="how-to-find" class="button">Start</a>

{% endblock %}

{% block rightcol %}{% endblock %}