

{% extends '_layouts/_service-nhs-number.html' %}
{% block page_title %}Find my NHS number{% endblock %}
{% set signedin = '' %}



{% block body %}


<div class="page-band">
    <div class="page-section">
      Find my NHS Number
    </div>
  </div>

<div class="page-section">
      <div class="reading-width">
        <h1 class="page-title stepper">Your details <small>Step 1 of 4</small></h1>
          <div class="grid-row">
            <div class="column--two-thirds">
              <div class="reading-width">
                <div class="error error-summary callout callout--error error-message" role="alert" tabindex="-1">
                  <h2 class="h3" id="error-summary">To use this online service, resolve the following errors</h2>
                  <ul class="link-list" id="link-to-errors">
                  </ul>
                </div>

                  <!--<form class="measure" method="post" onsubmit="return !!(formValidation() &amp; matchDetails());">-->
                  <form class="measure" method="post">
                      <div class="grid-row">
                        <div class="column--two-thirds">
                          <div class="form-group form-row" id="first-name">
                            <label for="first-name-input" class="form-label error-label">First name</label>
                            <span class="error error-message error-text" id="first-name-error">
                              Enter your first name
                            </span>
                            <input autocomplete="off" type="text" class="form-control" id="first-name-input" name="first-name" value="">
                          </div>
                        </div>
                      </div>

                      <div class="grid-row">
                        <div class="column--two-thirds">
                          <div class="form-group form-row" id="last-name">
                            <label for="last-name-input" class="form-label error-label">Last name</label>
                            <span class="error error-message error-text" id="last-name-error">Enter your last name
                            </span>
                            <input autocomplete="off" type="text" class="form-control" id="last-name-input" name="last-name" value="">
                          </div>
                        </div>
                      </div>

                      <div class="grid-row">
                        <div class="column--two-thirds">
                          <div class="-date form-group form-row" id="dob">
                              <fieldset>
                                <legend class="form-label error-label">
                                  Date of Birth
                                </legend>
                                <span class="form-label__hint">For example, '05 07 1948'</span>
                                  <span class="error error-message error-text" id="dob-error">
                                    Enter your date of birth
                                  </span>
                                <div>
                                  <label for="dob-day-input">Day</label>
                                  <input autocomplete="off" type="number" id="dob-day-input" name="dob-day" value="" class="day form-control" maxlength="2">
                                </div>
                                <div>
                                  <label for="dob-month-input">Month</label>
                                  <input autocomplete="off" type="number" id="dob-month-input" name="dob-month" value="" class="month form-control" maxlength="2">
                                </div>
                                <div>
                                  <label for="dob-year-input">Year</label>
                                  <input autocomplete="off" type="number" id="dob-year-input" name="dob-year" value="" class="year form-control" maxlength="4">
                                </div>
                              </fieldset>

                          </div>
                        </div>
                      </div>


                      <div class="grid-row">
                        <div class="column--three-quarters">
                          <div id="postcode">
                            <div class="form-row">
                              <label for="postcode" class="form-label error-label">Postcode</label>
                              <span class="error error-message error-text" id="postcode-error">Please enter your postcode</span>
                              <input autocomplete="off" type="text" id="postcode-input" name="postcode" value="" class="-small form-control">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="grid-row">
                        <div class="column--three-quarters">
                          <div id="gender">

                          <div class="form-group">
      <fieldset class="">
       <label class="form-label error-label">Gender</label>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="">
            Male
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="">
            Female
          </label>
        </div>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-3">
            <input id="radio-inline-3" type="radio" name="radio-inline-group" value="">
            Prefer not to say
          </label>
        </div>
        </fieldset>
    </div>
  </div>
</div>
</div>


                    
                      <a href="verification" class="button">Submit</a>
                      <!--<input type="submit" class="button" id="submit-details" value="Submit">-->
                  </form>
              </div>
            </div>
          </div>
      </div>
  </div>
<!--
<a href="create-1" class="button">Start</a>
-->
{% endblock %}

