{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}
{% set signedin = 'true' %}
{% set isServiceStart = 'false' %}

{% block content %}

  <form>

    <div class="form-group">

      <h1><legend>Get access to Rosie Dymond's eRedbook</legend></h1>

      <p>Enter the password to get access to Rosie Dymond's eRedbook. You can get this password from Corinna.</p>

      <fieldset>
        <div class="form-group">
          <label class="form-label" for="field1">Password</label>
          <input class="form-control" id="field1" name="field1" type="password">
        </div>
      </fieldset>
    </div>

    <div class="form-group">
      <a class="button" href="/service-access/get-access-eredbook" id="continue">Continue</a>
    </div>

  </form>

{% endblock %}