{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access eRedbook{% endblock %}
{% set signedin = 'true' %}
{% set isServiceStart = 'false' %}

{% block content %}

  <form>
    <div class="form-group">

      <h1><legend>Share access to Rosie Dymond's eRedbook</legend></h1>

      <p>Please provide a password for the person you are sharing Rosie Dymond's eRedbook with. You will need to tell them this password so they can log in.</p>

      <p><b>Do not use your NHS account password.</b></p>

      <fieldset>
        <div class="form-group">
          <label class="form-label" for="field1">Password</label>
          <input class="form-control" id="field1" name="field1" type="password">
        </div>
        <div class="form-group">
          <label class="form-label" for="field2">Confirm password</label>
          <input class="form-control" id="field2" name="field2" type="password">
        </div>
      </fieldset>
    </div>


    <div class="form-group">
      <a class="button" href="share-access-complete" id="continue">Continue</a>
    </div>

  </form>

{% endblock %}