<h3>Forgotten password</h3>

<div class="first-item">
    <form>
        <div class="form-group">
            <fieldset>

                <p>We will send you instructions on how to reset your password to your email</p>

                <div class="form-group">
                    <label class="form-label" for="email">Email address</label>
                    <input autocomplete="off" type="email" class="form-control" name="email" id="email" value="">
                </div>

            </fieldset>
        </div>
        <a href="service-childs-health-record?message=email-resent" class="button" id="continue">Continue</a>
    </form>
</div>