
<h3>Log in to your NHS account</h3>

<div class="first-item">
    <form>
        <div class="form-group">
            <fieldset class="">

                <div class="form-group">
                    <label class="form-label" for="field1">Email</label>
                    <input class="form-control2" id="field1" name="field1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="field1">Password</label>
                    <input class="form-control" id="field1" name="field1" type="text">
                </div>

            </fieldset>
        </div>

        <a class="button" href="service-childs-health-record?sidebar=2fa" id="continue">Continue</a>


        <p><a href="service-childs-health-record?sidebar=create-new">Create a new NHS account</a></p>

        <p><a href="service-childs-health-record?sidebar=forgot-pass">Forgotten your password?</a></p>
    </form>
</div>