
<h3>Securing your NHS account</h3>

<div class="first-item">
    <form>
        <div class="form-group">
            <fieldset class="">

                <h2 class="heading-xlarge"><legend>We need your mobile number to make your account more secure.</legend></h2>

                <p>We'll send you a security code to your mobile. This is to make sure that the mobile number you enter belongs to you.</p>
                <p>We'll send you a code every time you sign in, to make sure it's not someone pretending to be you.</p>

                <div class="form-group">
                    <label class="form-label" for="phone">Mobile number</label>
                    <input type="text" class="form-control" name="phone" id="phone" value="">
                </div>

            </fieldset>
        </div>
        <a href="service-childs-health-record?sidebar=2fa-new" class="button" id="continue">Continue</a>
    </form>
</div>