{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}ID Checker{% endblock %}

{% set nhsNumber = 'undefined' %}
{% set nameMatchPDS = "false" %}
{% set nameMatchID = "false" %}
{% set dateMatchID = "false" %}
{% set videoMatchID = "false" %}

{% set params = "?nhsNumber=" + nhsNumber + "&nameMatchPDS=" + nameMatchPDS + "&nameMatchID=" + dateMatchID + "&dateMatchID=" + videoMatchID + "&videoMatchID"  %}

{% block content %}

<style>
.id-check {
  display: flex;
}


.inline-id-check {
  width: 50%;
  list-style: none;
  margin-top: 0 !important;
}

.step-left__left {
  width: 75%;
  float: left;
}

.step-left__left input {
  width: 75%;
}

.step-left__right {
  width: 25%;
  float: left;
  margin-top: 0;
}
</style>

<h3>ID Checker</h3>
<h1>Profile: 0001</h1>

<section class="callout callout--attention">
    <ul class="id-check">
      <li class="inline-id-check">
        <p><strong>First Name:</strong> David </br>
        <strong>D.O.B:</strong> 28 / 09 / 1985 </br>
        <strong>Postcode:</strong> BD13 4BE</p>
      </li>
      
      <li class="inline-id-check">
        <p><strong>Surname:</strong> Smith </br>
        <strong>NHS No:</strong> 98234509283 </br>
        <strong>Passport No:</strong> 3948530948532 </br>
        <strong>Drivers Licence No:</strong> SMITH3983939</p>
      </li>
    </ul>
    
</section>

<ol class="step-list">
		<li class="step-list__item">
			<div class="step-left__left">
        <h3 class="">Enter NHS No.</h3>
        <input type="text" />
      </div>

      <div class="step-left__right">
        <p style="text-align: right"><a href="">Not found</a></p>
      </div>

      <!--<div class="step-left__right">
        <div class="multiple-choice__container" >
          <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="radio" value="1">
            Yes
          </label>
          <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
          <input class="multiple-choice__input" type="radio" name="radio" value="0">
            No
          </label>
        </div>
      </div>
-->
      
      <!--<h3 class="step-list__item--task">Enter NHS No.</h3>
      <input type="text" />
      <p><a href="">Not found</a></p>-->
			<!--<a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>-->
      
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Does name match PDS?</h3>
      <!--<a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>-->
    <div class="step-left__left">
    </div>
    <div class="step-left__right">
      <div class="multiple-choice__container" >
        <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="radio" value="1">
          Yes
        </label>
        <label class="multiple-choice multiple-choice--inline multiple-choice--radio">
        <input class="multiple-choice__input" type="radio" name="radio" value="0">
          No
        </label>
      </div>
    </div>
</div>




			<!--<a href="id-document-1{{ params }}" class="step-list__item__status button">Start</a>-->
			<!-- <p>If you don't have your NHS number we will ask for some basic information about yourself</p> -->
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Does D.O.B match PDS</h3>
      <a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>
			<!--<a href="id-document-1{{ params }}" class="step-list__item__status button">Start</a>
			<p>You will need either your passport number or driving licence number.</p>-->
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Does name match photo ID</h3>
      <a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>
			<!-- <p>This helps us match your face with your photo ID</p> -->
		</li>
		<li class="step-list__item">
			<h3 class="step-list__item--task">Does DOB match photo ID</h3>
      <a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>
		</li>
    <li class="step-list__item">
			<h3 class="step-list__item--task">Does Video match photo ID</h3>
      <a class="button button--cancel step-list__item__status" href="{{ params }}">No</a>
      <a style="margin-right:8px;" href="{{ params }}" class="step-list__item__status button">Yes</a>
	<!-- <p>This helps us match your face with your photo ID</p> -->
  </br>
  <a style="margin-left: 0" href="" class="button">Play video</a> 
  	</li>
	</ol>

<a class="button" href="">Approve / reject</a>
<p><a href="">Skip this applicant</a></p>

{% endblock %}
