{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = '' %}

{% block content %}

<h1>Dashboard</h1>

<div class="grid-row">
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Pending</p>

      <div class="idcheck-dash-details">

        {% if state === 'inprogress' or state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">14</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">15</div>
        {% endif%}

        {% if state === 'inprogress' or state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-desc">First: 15 minutes ago <br>Last: 2 hours ago</div>
        {% else %}
        <div class="idcheck-dash-desc">First: 2 minutes ago <br>Last: 2 hours ago</div>
        {% endif%}
      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash {% if state === 'inprogress' %}u-inprogress{% endif %}">
      <p class="idcheck-dash-heading">In progress</p>
      <div class="idcheck-dash-details">
        {% if state === 'inprogress' %}
        <span class="idcheck-dash-number bold-xxlarge">2</span>
        {% else %}
        <span class="idcheck-dash-number bold-xxlarge">1</span>
        {% endif%}

        <div class="idcheck-dash-desc">Logged in RA's: 2</div>
      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Complete today by you</p>

      <div class="idcheck-dash-details">

        {% if state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">9</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">8</div>
        {% endif %}

        {% if state === 'declined' %}
        <div class="idcheck-dash-desc">Approved: 6 <br>Declined: 3</div>
        {% elif state === 'approved' %}
        <div class="idcheck-dash-desc">Approved: 7 <br>Declined: 2</div>
        {% else %}
        <div class="idcheck-dash-desc">Approved: 6 <br>Declined: 2</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if state === 'inprogress' %}
<p>You still have a verification in progress</p>
<a class="button" href="id-checker-review">Continue verification</a>
<p><a href="id-checker-dashboard">Abort</a></p>
{% else %}
<a class="button" href="id-checker-review">Start next verification</a>
{% endif%}


{% endblock %}
