{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}NHS Identity Verification and Matching Service - holding list{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = 'true' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&state=" + state + "&devMode=" + devMode %}


{% block content %}

<h1>Holding list</h1>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Reason</th>
      <th>Submitted</th>
      <th>Holding time</th>
      <th>&nbsp;</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td>00003</td>
      <td>Maria Anders</td>
      <td>Numbers didn't show</td>
      <td>1 hour 15 minutes</td>
      <td>43 minutes</td>
      <td><a href="id-checker-review{{ params }}" class="">View</a> </td>
    </tr>
    <tr>
      <td>00004</td>
      <td><i style="color: grey;">Not available</i></td>
      <td>No information appeared for PDS check</td>
      <td>55 minutes</td>
      <td>20 minutes</td>
      <td><a href="id-checker-review{{ params }}" class="">View</a> </td>
    </tr>
    <tr>
      <td>00005</td>
      <td>John Locke</td>
      <td>The video won't play on my computer</td>
      <td>29 minutes</td>
      <td>7 minutes</td>
      <td><span style="color: grey;">Checked out</span></td>
    </tr>
    </tbody>
  </table>


{% endblock %}
