{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = 'true' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&failreason=" + failreason %}

{% block content %}

<div class="panel">
    <div class="panel__content panel__content--half">
        <h3>Submitted details</h3>

        {% if demographics !== 'true' %}

        <div class="form-group">
            <label class="form-label">NHS Number</label>
            <input type="text" id="nhsnum" name="" value="485 777 3456" class="year" maxlength="10" readonly style="display: inline-block; margin-bottom: 0;">
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>
        <div class="form-group">
            <fieldset style="display: inline-block; margin-bottom: 0;">
                <legend class="form-label">
                Date of birth
                </legend>
                <div class="form-group -date" style="margin-top: 10px;">
                    <div class="form-date-field">
                        <!--<label for="dob-day" style="margin-bottom: 5px; display: block;">Day</label>-->
                        <input type="tel" id="dob-day" name="dob-day" pattern="[0-9]" value="9" class="day" maxlength="2" min="1" max="31" readonly>
                    </div>
                    <div class="form-date-field">
                        <!--<label for="dob-month" style="margin-bottom: 5px; display: block;">Month</label>-->
                        <input type="tel" id="dob-month" name="dob-month" pattern="[0-9]" value="2" class="month" maxlength="2" min="1" max="12" readonly>
                    </div>
                    <div class="form-date-field">
                        <!--<label for="dob-year" style="margin-bottom: 5px; display: block;">Year</label>-->
                        <input type="tel" id="dob-year" name="dob-year" pattern="[0-9]" value="1979" class="year" maxlength="4" min="1900" max="2018" readonly>
                    </div>
                </div>
            </fieldset>
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>

        {% else %}

        <div class="form-group">
            <label class="form-label">first name</label>
            <input type="text" id="" name="" value="Joe" class="" maxlength="" readonly style="display: inline-block; margin-bottom: 0;">
            {% if result == 'fail' %}
                <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label">Middle names</label>
            <input type="text" id="" name="" value="" class="" maxlength="" readonly style="display: inline-block; margin-bottom: 0;">
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label">Last name</label>
            <input type="text" id="" name="" value="Bloggs" class="" maxlength="" readonly style="display: inline-block; margin-bottom: 0;">
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>
        <div class="form-group">
            <fieldset style="display: inline-block">
                <legend class="form-label">
                    Date of birth
                </legend>
                <div class="form-group -date" style="margin-top: 10px;">
                    <div class="form-date-field">
                        <!--<label for="dob-day" style="margin-bottom: 5px; display: block;">Day</label>-->
                        <input type="tel" id="dob-day" name="dob-day" pattern="[0-9]" value="9" class="day" maxlength="2" min="1" max="31" readonly style="margin-bottom: 0;">
                    </div>
                    <div class="form-date-field">
                        <!--<label for="dob-month" style="margin-bottom: 5px; display: block;">Month</label>-->
                        <input type="tel" id="dob-month" name="dob-month" pattern="[0-9]" value="2" class="month" maxlength="2" min="1" max="12" readonly style="margin-bottom: 0;">
                    </div>
                    <div class="form-date-field">
                        <!--<label for="dob-year" style="margin-bottom: 5px; display: block;">Year</label>-->
                        <input type="tel" id="dob-year" name="dob-year" pattern="[0-9]" value="1979" class="year" maxlength="4" min="1900" max="2018" readonly style="margin-bottom: 0;">
                    </div>
                </div>
            </fieldset>
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="form-label">Postcode</label>
            <input type="text" id="" name="" value="BD7 1DP" class="" maxlength="" readonly style="display: inline-block; margin-bottom: 0;">
            {% if result == 'fail' %}
            <a href="#" class="idcheck-edit">Edit</a>
            {% endif %}
        </div>

        {% endif %}
    </div>
    <div class="panel__content panel__content--half">
        <h3>PDS match</h3>
        <p class="small" id="loader"><img src="/images/ajax-loader.gif" style="width: 30px" alt="loading">&nbsp; Running trace</p>

        <div id="trace" class="idcheck-match {{ result }}" style="display:none;-webkit-animation-delay: 2s;-moz-animation-delay: 2s;animation-delay: 2s;" >


            {% if result !== 'fail' and result !== 'spine' %}

            <table class="">

                {% if demographics === 'true' %}
                <tr>
                    <td>NHS Number:</td>
                    <td><b>485 777 3456</b></td>
                </tr>
                {% endif %}

                <tr>
                    <td>First name:</td>
                    <td><b>Joe</b></td>
                </tr>
                <tr>
                    <td>Middle names:</td>
                    <td><b>Frederick</b></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><b>Bloggs</b></td>
                </tr>
                <tr>
                    <td>Date of birth:</td>
                    <td><b>9th February, 1979</b></td>
                </tr>
                <!--<tr>-->
                    <!--<td>Gender:</td>-->
                    <!--<td><b>Male</b></td>-->
                <!--</tr>-->
            </table>

            {% endif %}

            <div class="idcheck-result">
                {% if result === 'fail' %}
                    Match not found
                {% elif result === 'spine' %}
                    Lookup error
                {% else %}
                    Match
                {% endif %}
            </div>

            {% if result === 'fail' %}

                {% if demographics === 'true' %}
                <div class="idcheck-result-reason" id="failed">
                    <p>The submitted demographic details do not match an NHS record.</p>
                </div>
                {% else %}

                    {% if failreason === 'multiple' %}
                    <div class="idcheck-result-reason" id="failed">
                        <p>Multiple results were returned</p>
                    </div>
                    {% elif failreason === 'invalid' %}
                    <div class="idcheck-result-reason" id="failed">
                        <p>The submitted NHS number is invalid</p>
                    </div>
                    {% elif failreason === 'expired' %}
                    <div class="idcheck-result-reason" id="failed">
                        <p>The submitted NHS number has expired</p>
                    </div>
                    {% else %}
                    <div class="idcheck-result-reason" id="failed">
                        <p>Either the NHS number is invalid or it does not match to the date of birth submitted.</p>
                    </div>
                    {% endif %}

                {% endif %}

            {% endif %}

            {% if result === 'spine' %}
                <div class="idcheck-result-reason" id="failed">
                    <p>There was an issue connecting to the Patient Demographic Service.</p>
                    <p>Please try again in a few minutes</p>
                </div>
            {% endif %}

        </div>

        {% if result === 'fail' %}

            <div class="form-group" id="declinebtn-2" style="display: none;">
                <fieldset>

                    <p>Can you find the person’s NHS number using a manual PDS check?</p>

                    <span  style="padding-bottom: 32px;" class="form-label__hint">Use the name and date of birth from their photo ID document. </span>

                    <div class="selection-button-radio-inline">
                        <div class="multiple-choice" data-target="nhs-yes">
                            <input id="radio-inline-1" type="radio" name="radioinlinegroup" value="yes">
                            <label for="radio-inline-1" class="block-label" style="position: static;">Yes</label>
                        </div>
                    </div>
                    <div class="selection-button-radio-inline">
                        <div class="multiple-choice" data-target="nhs-no">
                            <input id="radio-inline-2" type="radio" name="radioinlinegroup" value="no">
                            <label for="radio-inline-2"class="block-label" style="position: static;">No</label>
                        </div>
                    </div>

                </fieldset>

                <div aria-hidden="true" aria-expanded="false" class=" js-hidden" id="nhs-yes" style="margin: 0;">

                    <div class="form-group">
                        <label class="form-label" for="nhs_number">NHS Number</label>
                        <input class="form-control code" id="nhs_number" name="nhs_number" type="text">
                    </div>
                    <div id="id-approve2">
                        <a href="id-checker-dashboard?state=approved&emailLink=email-idcheck-approved" id="approveBtn2" class="button button--approve">Submit</a>
                    </div>
                </div>

                <div aria-hidden="true" aria-expanded="false" class="js-hidden" id="nhs-no" style="margin: 0 0 32px;">
                    <div id="id-decline2">
                        <a href="id-checker-dashboard?state=declined&emailLink=email-idcheck-declined" id="declineBtn2" class="button button--decline">Decline</a>
                    </div>
                </div>



        </div>

        {% endif %}

        {% if result === 'spine' %}
        <div id="retrybtn-1" style="display:none;">
            <div id="id-retry">
                <a href="id-checker-review?demographics=false&role=undefined&result=spine" id="retryBtn" class="button button--retry">Retry</a>
            </div>
        </div>


        {% endif %}



    </div>
</div>

<div class="panel" style="display: block;">
    <div class="panel__content panel__content--half">
        <h3>Identity document</h3>
        <div class="reading-width">

            <div class="idcheck-image">
                <div class="idcheck-image-expand"><a href="#" class="idcheck-image-expand-button">Expand image</a></div>
                <img src="/images/passport_redacted.jpg" class="idcheck-image-img" style="width: 100%;" alt="Image of a passport"/>
            </div>
        </div>
    </div>
    <div class="panel__content panel__content--half">

        <div class="qa-questions-group" id="document" data-complete="false">

            <div class="qa-questions-question" data-answered="false">
                <p class="qa-questions-question-text">Does the Name and DOB on the PDS trace match those on the Photo ID?</p>
                <div class="qa-questions-answer-group multiple-choice__container" data-answered="false">
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" for="0" aria-checked="false">
                        <input type="radio" id="0" name="a-1" class="multiple-choice__input" tabindex="0" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>Yes
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" for="1" aria-checked="false">
                        <input type="radio" id="1" name="a-1" class="multiple-choice__input" tabindex="1" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>No
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel" style="display: block;">
    <div class="panel__content panel__content--half">
        <h3>Video selfie</h3>
        <div class="idcheck-media">
            <div class="idcheck-video">
                <div class="idcheck-video-paired"><a href="#" class="idcheck-video-paired-button">Show document</a></div>
                <video id="uploaded-video" controls autoplay="" name="media" style="width:100%;height:auto;">
                    <source src="/images/challenge.mp4" type="video/mp4">
                </video>
            </div>
            <div class="idcheck-image" style="display: none;">
                <img src="/images/passport_redacted.jpg" class="idcheck-image-img" style="width: 100%;" alt="Image of a passport"/>
            </div>
        </div>

    </div>
    <div class="panel__content panel__content--half">

        <div class="qa-questions-group" id="selfie" data-complete="false">
            <div class="qa-questions-question" data-answered="false">
                <p class="qa-questions-question-text">Does the submitted video clearly show it's the same person pictured in the identity document?</p>
                <div class="qa-questions-answer-group multiple-choice__container">
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" aria-checked="false">
                        <input type="radio" id="2" name="b-1" class="multiple-choice__input" tabindex="2" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>Yes
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" aria-checked="false">
                        <input type="radio" id="3" name="b-1" class="multiple-choice__input" tabindex="3" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>No
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                </div>
            </div>
            <div class="qa-questions-question" data-answered="false">
                <p class="qa-questions-question-text">Are the 4 numbers read out 4-0-6-6</p>
                <div class="qa-questions-answer-group multiple-choice__container">
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" aria-checked="false">
                        <input type="radio" id="4" name="b-2" class="multiple-choice__input" tabindex="4" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>Yes
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                    <label class="qa-questions-answer multiple-choice multiple-choice--inline multiple-choice--radio" aria-checked="false">
                        <input type="radio" id="5" name="b-2" class="multiple-choice__input" tabindex="5" {% if result === 'fail' or result === 'spine' %}disabled{% endif %}>No
                        <div class="qa-questions-answer-radio-indicator"></div>
                    </label>
                </div>
            </div>
        </div>

        <div id="id-buttons">
            <div id="id-approve">
                <a href="id-checker-dashboard?state=approved&emailLink=email-idcheck-approved" id="approveBtn" class="button button--approve" style="display: none;">Approve</a>
            </div>
            <div id="id-decline">
                <a href="id-checker-dashboard?state=declined&emailLink=email-idcheck-declined" id="declineBtn" class="button button--decline" style="display: none;">Decline</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // hide or show the buttons based on selections
    // localStorage.removeItem("idchecker")
    addEventListeners()
    resetAllSections()
    questionsComplete = false

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var state = getParameterByName('state')

    setTimeout(function(){
        document.getElementById('trace').style.display = 'block'
        document.getElementById('retrybtn-1').style.display = 'block'
        if (state === 'noresult') {
            $('label[for="1"]').click()
        }
    }, 2000)
    setTimeout(function(){
        document.getElementById('loader').style.display = 'none'
    }, 2000)

    setTimeout(function(){
        document.getElementById('declinebtn-2').style.display = 'block'
        var errors = document.getElementsByClassName('idcheck-edit')
        for (i = 0; i < errors.length; i++) {
            errors[i].style.display = 'inline-block'
        }
        if (state === 'noresult') {
            $('label[for="1"]').click()
        }
    }, 2000)
    setTimeout(function(){
        document.getElementById('loader').style.display = 'none'
    }, 2000)

    var processClick = function(e) {
        // update local storage straight away
        updateStorageFromElements()

        // first unset all the aria-checked attributes in an answer group
        var labels = e.parentNode.parentNode.getElementsByClassName('qa-questions-answer')
        for (i = 0; i < labels.length; i++) {
            labels[i].setAttribute('aria-checked', false)
        }
        // then check only the selected one
        e.parentNode.setAttribute('aria-checked', true)

        // a click will trigger the showing and hiding of question groups
        // get the section the click was in and pass it into a function
        var section = e.parentNode.parentNode.parentNode.parentNode
        checkSectionComplete(section)
        // show the solutions if all the questions are answered
        if (checkSectionComplete(section)) {
            updateSolutions()
        }
    }

    // run through all sections checking for completeness
    function resetAllSections() {
        // get an array of all the question groups
        var questionGroups = document.getElementsByClassName('qa-questions-group')
        // lets hold the completion state of each section in an array
        for (i = 0; i < questionGroups.length; i++) {
            // reset attributes
            questionGroups[i].setAttribute('data-complete', false)
            // get array of all the answer groups
            var questions = questionGroups[i].getElementsByClassName('qa-questions-question')
            // loop through all the question groups
            for (j = 0; j < questions.length; j++) {
                // get array of the labels
                var answers = questionGroups[i].getElementsByClassName('qa-questions-answer')
                // loop through answers
                for (k = 0; k < answers.length; k++) {
                    answers[k].setAttribute('aria-checked', false)
                    // get the individual inputs
                    var inputs = answers[k].getElementsByTagName('input')
                    // loop through all the inputs and uncheck them
                    for (l = 0; l < inputs.length; l++) {
                        inputs[l].checked = false
                    }
                }
            }
        }
    }

    function addEventListeners() {
        var inputs = document.getElementsByTagName('input')
        for (i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('click', function(){
                processClick(this)
            })
        }
    }

    function updateElementsFromStorage() {
        var idCheck = JSON.parse(localStorage['idchecker'])
        for (i = 0; i < idCheck.length; i++) {
            if (idCheck[i]) {
                var input = document.getElementById(i)
                input.setAttribute('checked', 'checked')
                input.parentNode.setAttribute('aria-checked', true)
            }
        }
        // check each section for completion
        checkAllSections()
    }

    function updateStorageFromElements() {
        var idCheck = []
        var inputs = document.getElementsByTagName('input')
        for (i = 0; i < inputs.length; i++) {
            var inputId = inputs[i].getAttribute('id')
            idCheck[inputId] = inputs[i].checked
        }
        localStorage.setItem('idchecker', JSON.stringify(idCheck))
    }

    function checkSectionComplete(section) {
        // get an array of all the question subgroups
        var questions = section.getElementsByClassName('qa-questions-question')
        var sectionComplete = true
        for (i = 0; i < questions.length; i++) {
            var inputs = questions[i].getElementsByTagName('input')
            var questionComplete = false
            for (j = 0; j < inputs.length; j++) {
                if (inputs[j].checked) {
                    questionComplete = true
                }
            }
            if (false == questionComplete) {
                sectionComplete = false
            }
        }
        if (sectionComplete) {
            section.setAttribute('data-complete', true)
            unlockNextSection(section)
            return true
        }
    }

    function unlockNextSection(section) {
        var id = section.getAttribute('id')
        var sections = []
        var groups = document.getElementsByClassName('qa-questions-group')
        for (i = 0; i < groups.length; i++) {
            sections[i] = groups[i].getAttribute('id')
        }
        // work out what the next section is
        var currentSectionPosition = sections.indexOf(id)
        var nextSectionPosition = currentSectionPosition + 1

        // If all of the sections are complete trigger the solutions
        if (nextSectionPosition >= sections.length) {
            // Set globally scoped variable
            questionsComplete = true
            updateSolutions()
            // find the answers
            var solution = document.getElementById('qa-solution')
            // Scroll down to answers
            scrollTo(solution)
        }
        else {
            var nextSection = sections[nextSectionPosition]
            // get the next section object
            nextSection = document.getElementById(nextSection)
            scrollTo(nextSection)
            nextSection.setAttribute('aria-hidden', false)

            // enable radio buttons
            var nextRadios = nextSection.getElementsByTagName('input')
            for (j = 0; j < nextRadios.length; j++) {
                nextRadios[j].removeAttribute('disabled')
            }
        }
    }

    function updateSolutions() {
        // pull in the answer array
        var idCheck = JSON.parse(localStorage['idchecker'])

        if (idCheck[1] === true || idCheck[3] === true || idCheck[5] === true){
            document.getElementById('approveBtn').style.display = "none"
            document.getElementById('declineBtn').style.display = "inline-block"

            if (idCheck[1] === true){
                $("#id-decline").appendTo("#document")
            } else {
                $("#id-decline").appendTo("#id-buttons")
            }
        }

        else if (idCheck[0] === true && idCheck[2] === true && idCheck[4] === true){
            document.getElementById('approveBtn').style.display = "inline-block"
            document.getElementById('declineBtn').style.display = "none"
        }

        else {
            document.getElementById('approveBtn').style.display = "none"
            document.getElementById('declineBtn').style.display = "none"
        }

    }

    // run through all sections checking for completeness
    function checkAllSections() {
        // get an array of all the question groups
        var questionGroups = document.getElementsByClassName('qa-questions-group')
        // lets hold the completion state of each section in an array
        var allComplete = []
        for (i = 0; i < questionGroups.length; i++) {
            // get array of all the answer groups
            var questions = questionGroups[i].getElementsByClassName('qa-questions-question')
            var sectionComplete = true
            // loop through all the question groups
            for (j = 0; j < questions.length; j++) {
                var inputs = questions[j].getElementsByTagName('input')
                var questionComplete = false
                // loop through all the inputs
                for (k = 0; k < inputs.length; k++) {
                    if (inputs[k].checked) {
                        questionComplete = true
                    }
                }
                if (false == questionComplete) {
                    sectionComplete = false
                }
            }
            if (sectionComplete) {
                questionGroups[i].setAttribute('data-complete', true)
                allComplete[i] = true
                // unset disabled state of the radio buttons
                var sectionRadios = questionGroups[i].getElementsByTagName('input')
                for (m = 0; m < sectionRadios.length; m++) {
                    sectionRadios[m].removeAttribute('disabled')
                }
            } else {
                // unlock next section if not all are unlocked
                var nextSectionPosition = questionGroups[i-1]
                unlockNextSection(nextSectionPosition)
            }
        }
        // if all sections are complete go to the solutions
        if (allComplete.length == questionGroups.length) {
            questionsComplete = true
        }
    }
</script>

{% endblock %}
