{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = '' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&failreason=" + failreason + "&devMode=" + devMode + "&idType=" + idType %}


{% block content %}

<p><a href="id-checker-supervisor-dashboard{{ params }}" class="link-back">Back</a></p>

<h1>Contested lists</h1>

<table>
    <thead>
    <tr>
        <th>Audit period</th>
        <th>number</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>11th March 2019 - 17th March 2019</td>
        <td>3</td>
        <td><span style="color: grey;">Current period</span></td>
        <td><a href="id-checker-supervisor-contested{{ params }}" class="">View</a> </td>
    </tr>
    <tr>
        <td>4th March 2019 - 10th March 2019</td>
        <td>14</td>
        <td>&nbsp;</td>
        <td><a href="id-checker-supervisor-contested{{ params }}" class="">View</a> </td>
    </tr>
    <tr>
        <td>25th February 2019 - 3rd March 2019</td>
        <td>11</td>
        <td>&nbsp;</td>
        <td><a href="id-checker-supervisor-contested{{ params }}" class="">View</a> </td>
    </tr>
    </tbody>
</table>


{% endblock %}

