{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = '' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&state=" + state %}

{% block content %}

<h1>Dashboard</h1>

<div class="grid-row">
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Pending</p>

      <div class="idcheck-dash-details">

        {% if state === 'inprogress' or state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">14</div>
        {% elif state === 'clear' %}
        <div class="idcheck-dash-number bold-xxlarge">0</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">15</div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash {% if state === 'inprogress' %}u-inprogress{% endif %}">
      <p class="idcheck-dash-heading">In progress</p>
      <div class="idcheck-dash-details">
        {% if state === 'inprogress' %}
        <span class="idcheck-dash-number bold-xxlarge">2</span>
        {% else %}
        <span class="idcheck-dash-number bold-xxlarge">1</span>
        {% endif%}
      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Completed today by you</p>

      <div class="idcheck-dash-details">

        {% if state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">9</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">8</div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% if state === 'inprogress' %}
<p>You still have a verification in progress</p>
<a class="button" href="id-checker-review{{ params }}">Continue verification</a>
<p><a href="id-checker-dashboard">Abort</a></p>
{% elif state === 'clear' %}

{% else %}
<a class="button" href="id-checker-review{{ params }}">Start next verification</a>
{% endif%}


<details class="" role="group" >
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="details__summary">Testing scenarios</span>
  </summary>
  <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
    <div class="reading-width">
      <ol>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=success">User submits NHS Number and match found</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail">User submits NHS Number and match <b>not</b> found</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=success">User submits demographics and match found</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=fail">User submits demographics and match <b>not</b> found</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=spine">User submits NHS Number and PDS trace fails</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=multiple">User submits NHS Number and PDS returns multiple matches</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=expired">User submits NHS Number and PDS returns an expired NHS number. i.e dead person</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=invalid">User submits NHS Number and PDS returns invalid NHS number</a></li>
      </ol>
    </div>
  </div>
</details>

{% endblock %}
