{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = 'audit' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&state=" + state %}

{% block content %}

<h1>Auditing</h1>

<p>Current period: 11th March 2019 - 17th March 2019</p>

<div class="grid-row">
    <div class="column--one-quarter">
        <div class="idcheck-dash idcheck-dash-{{ queue}}" id="pending">
            <p class="idcheck-dash-heading">Total</p>

            <div class="idcheck-dash-details">

                {% if state === 'inprogress' or state === 'declined' or state === 'approved' %}
                <div class="idcheck-dash-number bold-xxlarge">1111</div>
                {% else %}

                <div class="idcheck-dash-number bold-xxlarge">1112</div>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="column--one-quarter">
        <div class="idcheck-dash {% if state === 'inprogress' %}u-inprogress{% endif %}"id="inprogress" >
            <p class="idcheck-dash-heading">Completed</p>
            <div class="idcheck-dash-details">
                {% if state === 'inprogress' %}
                <span class="idcheck-dash-number bold-xxlarge">40</span>
                {% else %}
                <span class="idcheck-dash-number bold-xxlarge" id="progress-num">40</span>
                {% endif%}
            </div>
        </div>
    </div>
    <div class="column--one-quarter">
        <div class="idcheck-dash {% if holding === 'inholding' %}u-inholding{% endif %}">
            <p class="idcheck-dash-heading">Percentage</p>

            <div class="idcheck-dash-details">

                <div class="idcheck-dash-number bold-xxlarge">3.6%</div>

            </div>
        </div>
    </div>
    <div class="column--one-quarter">
        <div class="idcheck-dash u-inholding">
            <p class="idcheck-dash-heading">Contested</p>

            <div class="idcheck-dash-details">

                {% if state === 'declined' or state === 'approved' %}
                <div class="idcheck-dash-number bold-xxlarge">4</div>
                {% else %}
                <div class="idcheck-dash-number bold-xxlarge">3</div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% if state === 'inprogress' %}
<p>You still have a verification in progress</p>
<a class="button" href="id-checker-review{{ params }}">Continue verification</a>
<p><a href="id-checker-dashboard{{ params }}&state=none">Abort</a></p>
{% elif queue === 'cleared' %}
<a class="button" id="cleared" href="id-checker-dashboard{{ params }}">Start next audit</a>
{% elif queue === 'clear' %}
{% else %}
<a class="button" href="id-checker-review{{ params }}">Start next audit</a>
{% endif%}

<div>
    <p><a class="" href="id-checker-supervisor-contested-periods{{ params }}">Open the contested list</a></p>
</div>

{% endblock %}
