{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = '' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&state=" + state %}

{% block topRow %}

{% if result === "null" %}

{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('','There are currently no verification requests pending','alert') }}

{% elif result === "resubmit" %}

{% import "_partials/_components/_callout.html" as callout2 %}
{{ callout2.pattern('','The verification request has joined the back of the queue ','warning') }}


{% endif %}

{% endblock %}


{% block content %}

<h1>Dashboard</h1>

<div class="grid-row">
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Pending</p>

      <div class="idcheck-dash-details">

        {% if state === 'inprogress' or state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">14</div>
        {% elif state === 'clear' %}
        <div class="idcheck-dash-number bold-xxlarge">0</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">15</div>
        {% endif %}

      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash {% if state === 'inprogress' %}u-inprogress{% endif %}">
      <p class="idcheck-dash-heading">In progress</p>
      <div class="idcheck-dash-details">
        {% if state === 'inprogress' %}
        <span class="idcheck-dash-number bold-xxlarge">2</span>
        {% else %}
        <span class="idcheck-dash-number bold-xxlarge">1</span>
        {% endif%}
      </div>
    </div>
  </div>
  <div class="column--one-third">
    <div class="idcheck-dash">
      <p class="idcheck-dash-heading">Completed today by you</p>

      <div class="idcheck-dash-details">

        {% if state === 'declined' or state === 'approved' %}
        <div class="idcheck-dash-number bold-xxlarge">9</div>
        {% else %}
        <div class="idcheck-dash-number bold-xxlarge">8</div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% if state === 'inprogress' %}
<p>You still have a verification in progress</p>
<a class="button" href="id-checker-review{{ params }}">Continue verification</a>
<p><a href="id-checker-dashboard">Abort</a></p>
{% elif state === 'clear' %}
{% set params = "?result=null" + "&state=" + state %}
<a class="button" href="id-checker-dashboard{{ params }}">Start next verification</a>
{% else %}
<a class="button" href="id-checker-review{{ params }}">Start next verification</a>
{% endif%}


<details class="" role="group" >
  <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
    <span class="details__summary">Testing scenarios</span>
  </summary>
  <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
    <div class="reading-width">

      <p>NHS number</p>
      <ol>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=success">SMSP-0000: User submits NHS Number and match found</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail">DEMOG-0001: User submits NHS Number and match <b>not</b> found</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=success">DEMOG-0017: User submits NHS Number and PDS returns superseded NHS number</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=invalid">DEMOG-0022: User submits NHS Number and PDS returns invalid NHS number</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=invalid">DEMOG-0040: User submits NHS Number and PDS returns NHS Number not verified</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail">DEMOG-0042: User submits NHS Number and PDS returns NHS Number is old style</li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=fail&failreason=invalid">DEMOG-9999: User submits NHS Number and PDS returns unspecified error</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=spine&failreason=invalid">SMSP-0001: User submits NHS Number and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=spine&failreason=validation">SMSP-0002: User submits NHS Number and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=spine&failreason=unavailable">SMSP-0003: User submits NHS Number and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=false&role=undefined&result=spine">SMSP-0004: User submits NHS Number and PDS trace fails</a></li>
      </ol>
      <p>Demographics</p>
      <ol>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=success">SMSP-0000: User submits demographics and match found</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=fail">DEMOG-0001: User submits demographics and match <b>not</b> found</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=fail&failreason=multiple">DEMOG-0007: User submits demographics and PDS returns multiple matches</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=fail&failreason=invalid">DEMOG-9999: User submits demographics and PDS returns unspecified error</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=spine&failreason=invalid">SMSP-0001: User submits demographics and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=spine&failreason=validation">SMSP-0002: User submits demographics and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=spine&failreason=unavailable">SMSP-0003: User submits demographics and PDS trace fails with invalid parameters</a></li>
        <li><a href="id-checker-review?demographics=true&role=undefined&result=spine">SMSP-0004: User submits demographics and PDS trace fails</a></li>
      </ol>
      <p>Other</p>
      <ol>
        <li><a href="id-checker-dashboard?state=clear">The queue is empty</a></li>
        <!--<li><a href="id-checker-review?demographics=true&role=undefined&result=fail&failreason=expired">User submits demographics and PDS returns an expired NHS number. i.e dead person</a></li>-->
      </ol>
    </div>
  </div>
</details>

{% endblock %}
