{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}NHS Identity Verification and Matching Service{% endblock %}

{% set service = "idchecker" %}
{% set serviceName = "Identity Verification and Matching Service" %}
{% set signedin = '' %}
{% set params = "?demographics=" + demographics + "&role=" + role + "&result=" + result + "&state=" + state %}

{% block content %}

<style>
  tr:hover:not(first-of-type) {
    cursor: pointer;
    background-color: #f4f4f4;
  }
  a:visited {
    text-decoration: line-through;
  }
</style>


<h1>Completed assurance requests</h1>

<table>
  <tr>
    <th>Date, time</th>
    <th>Name or NHS number</th>
    <th>Status</th>
    <th></th>
  </tr>

  <tr class='clickable-row' data-href='/id-checker/id-checker-supervisor-review'>
    <td>1st May 2018, 11:56am</td>
    <td>Joe Blogs</td>
    <td>Approved</td>
    <td><a href="/id-checker/id-checker-supervisor-review">View</a></td>
  </tr>

  <tr class='clickable-row' data-href='/id-checker/id-checker-supervisor-review?demographics=true'>
    <td>1st May 2018, 10:56am</td>
    <td>Mark Young</td>
    <td>Declined</td>
    <td><a href="/id-checker/id-checker-supervisor-review?demographics=true">View</a></td>
  </tr>

</table>

<script type="application/javascript">
    var clickable = document.getElementsByClassName('clickable-row')
    for (i = 0; i < clickable.length; i++) {
        clickable[i].addEventListener('click', function(event){
            window.location = this.dataset.href
        })
    }
</script>

{% endblock %}
