{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Welcome to your medical record{% endblock %}
{% set signedin = 'true' %}


{% block topRow %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Access your medical record',' ') }}
{% endblock %}

{% block content %}

<h1>Welcome to your medical record</h1>
<ul>
  <li><a href="#">Medical history</a></li>
  <li><a href="#">Medication</a></li>
  <li><a href="#">Appointments</a></li>
</ul>

{% endblock %}

{% block rightcol %}{% endblock %}