{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Welcome to your childs health records{% endblock %}
{% set signedin = 'true' %}


{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Access your childs health record',' ') }}
{% endblock %}

{% block content %}

<h1>Welcome to your childs health record</h1>
<ul>
  <li><a href="#">Your childs weight</a></li>
  <li><a href="#">Your childs height</a></li>
  <li><a href="#">something eredbook related</a></li>
</ul>

{% endblock %}

{% block rightcol %}{% endblock %}