{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% endif %}

{% block topRow %}
{% if service == "results" %}

{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('Attention','The service you are trying to access requires that you prove your identity first.','warning') }}

{% endif %}
{% endblock %}

{% block content %}

  <form>
    <div class="form-group">

      <!--<span class="section-header">About you</span>-->

        <h1><legend>How would you like to prove your identity?</legend></h1>
      <fieldset>
        <div>
          <label class="block-label selection-button-radio" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="pyi-details-name">
            Prove my identity online now
          </label>
        </div>

        <div>
          <label class="block-label selection-button-radio" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="pyi-continue-offline">
            Find a local service that can prove my identity in person
          </label>
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a class="button" href="#" id="continue">Continue</a>
    </div>
  </form>

{% endblock %}