{% extends '_layouts/_grids/_grid-1.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}

{% block content %}

  <span class="section-header">Submitting your evidence</span>

	{# Part 1 - take a pic of your document #}

	<div id="scan-id-1">

		{% if mobile %}
			<h1 class="heading-large"><span class="heading-secondary">Step 1 of 2</span>Photographing your photo ID</h1>
		{% else %}
			<h1 class="heading-large"><span class="heading-secondary">Step 1 of 4</span>Photographing your photo ID</h1>
		{% endif %}

		<div class="callout callout--info">
			<h3>Instructions to complete the process:</h3>

			<img src="/images/diagram-doc-scan.png" alt="" class="image-right" height="146" width="146">

			<ul>
				<li>Place your ID in good lighting, preferably daylight</li>
				<li>Hold the camera straight above the ID</li>
				<li>Avoid light reflecting on the ID</li>
				{% if mobile %}
				<li>Review the photo immediately after taking it</li>
				{% endif %}
				<li>Make sure all information is visible</li>
			</ul>
		</div>

		<form>
			<div class="form-group">
				<label for="id-document" class="camera-button button">
          {% if mobile %}
          Open your camera
          {% else %}
          Upload a photo
          {% endif %}
					<input type="file" id="id-document" accept="image/*" capture="environment">
				</label>
			</div>
		</form>

	</div>

	{# Part 2 - Review your document photo #}


	<div id="scan-id-2" style="display:none">
		<h1 class="heading-large"><span class="heading-secondary">Step 2 of 4 </span>Review your photo ID</h1>

		<div class="callout callout--info">
			<!--<h3>Review your Photo</h3>-->
			<div id="scan-id-preview">
				<img id="uploaded-id" src="#" alt="your image" style="max-width:400px;height:auto;"/>

			</div>
		</div>

		<div class="form-group">
			<a class="button" href="#" id="submit-id-button">Submit ID photo</a>
			<a href="scan-id" >Retake</a>
		</div>

	</div>

	{# Part 3 - take a selfie video #}

	<div id="scan-id-3" style="display:none">

    {% if mobile %}
      {% block topRow %}
        {% import "_partials/_components/_callout.html" as callout %}
        {{ callout.pattern('','You have submitted your photo ID.','warning') }}
      {% endblock %}
    {% endif %}


		{% if mobile %}
			<h1 class="heading-large"><span class="heading-secondary">Step 2 of 2 </span>Create a selfie video</h1>
		{% else %}
			<h1 class="heading-large"><span class="heading-secondary">Step 3 of 4 </span>Create a selfie video</h1>
		{% endif %}

		<div class="callout callout--info">
			<h3>Instructions to complete the process:</h3>

			<img src="/images/selfie-scan.png" alt="" class="image-right" height="146" width="146">

			<ul>
				<li>Use the front-facing camera</li>
				<li>Make sure your whole face is visible</li>
				<li>Move your face from side to side</li>
				{% if mobile %}
				<li>Review the video immediately after taking it</li>
				{% endif %}
			</ul>
		</div>

		<form>
			<div class="form-group">
				<label for="id-selfie" class="camera-button button">
          {% if mobile %}
          Open your camera
          {% else %}
          Upload a video
          {% endif %}
					<input type="file" id="id-selfie" name="video" accept="video/mp4,video/x-m4v,video/*" capture="user">
				</label>
			</div>
		</form>

	</div>

	{# Part 4 - Review your selfie video #}

	<div id="scan-id-4" style="display:none">

		<h1 class="heading-large"><span class="heading-secondary">Step 4 of 4 </span>Review your selfie video</h1>

		<div class="callout callout--info">
			<div id="scan-video-preview">
				<video id="uploaded-video" width="320" height="240" controls autoplay loop muted style="max-width:400px;height:auto;">
					<source src="#" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>

		<div class="form-group">
			<a class="button" href="pyi-scan-id-uploading{{ params }}" id="submit-video-button">Submit selfie video</a>
			<a href="scan-id" >Retake</a>
		</div>

{% endblock %}