{% extends '_layouts/_grids/_grid-email-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Confirm your email address{% endblock %}
{% set hidehead = "true" %}
{% set hideBeta = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&passwordChange=" + passwordChange + "&newUser=" + newUser + "&terms=" + terms + "&emailAddress=" + emailAddress + "&poluser=" + poluser%}
{% elif vouch %}
  {% set params = "?vouch=" + vouch + "&service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&terms=" + terms + "&emailAddress=" + emailAddress %}
{% elif newUser %}
  {% set params = "?newUser=" + newUser + "&service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&terms=" + terms + "&emailAddress=" + emailAddress %}
{% endif %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;" >
  <h1>Confirm your email address</h1>
  <p><a class="button" href="/create-account/demo/email-confirmed{{ params }}">Confirm your email address</a></p>
  <p><a href="/create-account/demo/email-confirmed{{ params }}">http:/anyoldlink/create-account/demo/confirm-email</a></p>
  <p>Ignore this email if you did not sign up. We will delete your information after 24 hours.</p>

  
  <!--<p>Or copy and paste this link:<br><a href="/create-account/login-nhs{{ params }}">https://nhs-cid.herokuapp.com/create-account/login-nhs{{ params }}</a></p>-->
</div>

{% endblock %}