{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Take a photo of your {{ idType }}{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&idType=" + idType + "&formerror=" + formerror + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&genericButton=" + genericButton + "&upload=" + upload + "&manual=" + manual + "&side=back" %}

{% block content %}


<div class="first-item">

    <section class="loading-container" id="scan-id-0" style="display:none">

        <h1 id="spinner-heading" style="padding-bottom: 0;">Checking your photo</h1>

        <div class="bar_container">
            <div id="main_container">
                <div id="pbar" class="progress-spinner" data-percent="0">
                    <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class=""/>
                    <div class="ppc-loading">
                        <div class="pcc-percents-wrapper">
                            <span id="spinner-status">Please wait</span><span aria-hidden="true">...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <details class="dev-mode" role="group" id="scenarios" style="display: none;">
            <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">
                <span class="details__summary">Choose a testing scenario</span>
            </summary>
            <div class="callout callout--info callout--friendly" id="details-content-0" aria-hidden="false">
                <div class="reading-width">
                    <p>No issues</p>
                    <ol>
                        <li><a href="#" id="image-fine">Image is fine</a></li>
                    </ol>
                    <p>Photo issues</p>
                    <ol>
                        <li><a href="#" id="image-blurred-1">Image is blurred (v1)</a></li>
                        <li><a href="#" id="image-blurred-2">Image is blurred (v2)</a></li>
                        <li><a href="#" id="image-blurred-3">Image is blurred (v3)</a></li>
                        <li><a href="#" id="image-notfound">No Document found</a></li>
                        <li><a href="#" id="image-notfound-2">No Document found (no radios)</a></li>
                        <li><a href="#" id="image-noface">No face detected</a></li>
                        <li><a href="#" id="image-multiplefaces">Multiple faces detected</a></li>
                        <li><a href="#" id="image-technical">AWSTechnical error</a></li>
                        <li><a href="#" id="image-virus">Virus detected</a></li>
                        <li><a href="#" id="image-backend">Failed backend validation</a></li>
                        <li><a href="#" id="image-backendtechnical">Backend validation error</a></li>
                        <li><a href="#" id="image-s3error">Couldn't generate S3 url</a></li>
                    </ol>
                </div>
            </div>
        </details>

    </section>


    <section class="" id="scan-id-1" style="display:block; margin-top: 0;">

        {% if front === 'done' %}

            {% if upload === 'file' %}
            <p><a href="service-access-photo-id-camera{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Upload a photo of the front of your I.D.</a></p>
            {% else %}
            <p><a href="service-access-photo-id-camera{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Take a photo of the front of your I.D.</a></p>
            {% endif %}

        {% else %}

            {% if mobileOs === 'Apple Mac' or mobileOs === 'Microsoft Windows' %}
                <p><a href="service-access-photo-id-type{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Choose the photo I.D. you want to use</a></p>
            {% else %}
                {% if idType === 'passport' or idType === 'UK driving licence' %}
                    <p><a href="service-access-photo-id-instructions{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Choose how to send a photo of your I.D.</a></p>
                {% else %}
                    <p><a href="service-access-photo-id-instructions{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Choose how to send the photos of your I.D.</a></p>
                {% endif %}
            {% endif %}

        {% endif %}

        <form>
            <fieldset class="">
                <legend for="radio-inline-group">
                    <h1 style="padding-bottom: 0;">

                    {% if idType === 'passport' or idType === 'UK driving licence' %}

                        {% if upload === 'file' %}
                            Upload a photo of your {{ idType }}
                        {% else %}
                            Take a photo of your {{ idType }}
                        {% endif %}

                    {% else %}

                        {% if upload === 'file' %}
                            Upload a photo of the {% if front === 'done' %}back{% else %}front{% endif %} of your {{ idType }}
                        {% else %}
                            Take a photo of the {% if front === 'done' %}back{% else %}front{% endif %} of your {{ idType }}
                        {% endif %}

                    {% endif %}

                    </h1>
                </legend>

                {% if upload !== 'file' %}
<!--                <img src="/images/DL-guide@2x.png" alt="Take a photo of your Driving Licence avoiding covering up the details " width="600" style="display:block;margin-left:auto;margin-right:auto;">-->
                {% endif %}

                <ul class="list list-bullet">

                    {% if idType === 'passport' %}

                        <li>you have not covered any part of the page</li>
                        <li>all 4 edges of the page are in your photo</li>
                        <li>you can clearly see your face and all the text</li>
                        <li>there's no shine from a light or window</li>

                    {% else %}

                        {% if upload === 'file' %}
                            <li>you have not covered any of the corners</li>
                        {% else %}
                            <li>you do not cover any of the corners</li>
                        {% endif %}

                        <li>you can clearly see your face and all the text</li>
                        <li>there's no shine from a light or window</li>

                    {% endif %}

                </ul>

                <div class="form-group">

                    {% if mobileOs === 'Apple Mac' or mobileOs === 'Microsoft Windows' %}
                      {% set instruction = 'Choose a file' %}
                    {% else %}
                      {% if mobileOs === 'iPhone' or mobileOs === 'iPad' %}
                        {% if upload === 'file' %}
                            {% set instruction = 'Open Photo Library' %}
                        {% else %}
                            {% set instruction = 'Open camera' %}
                        {% endif %}
                      {% else %}
                        {% set instruction = 'Open camera' %}
                      {% endif %}
                    {% endif %}

                    <label for="photo-id-document-any" class="camera-button">{{ instruction }}
                        <input type="file" id="photo-id-document-any" accept="image/*" {% if upload === 'file' %} {% else %}capture="environment" {% endif %} />
                    </label>

                </div>

            </fieldset>

        </form>

        {% if devMode === 'true' %}
        <div style="display: inline-block;background-color: #ffb81c;padding: 0.25em 0.5em;">
            <small>OS version: {{ mobileOsV }}</small><br>
            <small>OS type: {{ mobileOs }}</small><br>
            <small>Side: {{ side }}</small><br>
            <small>Front: {{ front }}</small><br>
        </div>
        {% endif %}

    </section>

    <section class="uploader-container" id="scan-id-3" style="display:none">

        <h1 style="padding-bottom: 0;">
            Checking your photo
        </h1>

        <div class="bar_container">
            <div id="main_container">
                <div id="pbar" class="progress-pie-chart" data-percent="0">
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                    </div>
                    <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                            <span>%</span>
                        </div>
                    </div>
                </div>

                <progress style="display: none" id="progress_bar" value="0" max="100"></progress>
            </div>
        </div>

    </section>


    {# section to show paycasso blurred error version 1 #}
    <section class="preview-container" id="scan-id-4a" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>Your photo is blurred.</p>

        <p>Help avoid blur by:</p>

        <ul class="list list-bullet">
            <li>keeping your camera as still as possible</li>
            <li>making sure the image is in focus</li>
            <li>ensuring the camera lens is clean</li>
        </ul>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="">Take another photo</a>
        </div>

        <p class="small">Reference: {% if manual === 'true' %}CIDXXXX{% else %}CIDXXXX{% endif %}</p>

    </section>


    {# section to show paycasso blurred error version 2 #}
    <section class="preview-container" id="scan-id-4b" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>Your photo is blurred. We may be unable to complete your application with this photo.</p>

        <div class="reading-width">
            <div id="scan-id-preview" style="padding-top: 16px;">
                <img id="uploaded-id-2" src="#" alt="A preview of your photo of your I.D document" style="height:auto;"/>
            </div>
        </div>

        <p>Help avoid blur by:</p>

        <ul class="list list-bullet">
            <li>keeping your camera as still as possible</li>
            <li>making sure the image is in focus</li>
            <li>ensuring the camera lens is clean</li>
        </ul>


        <legend><h2 class="h3" style="margin-top: 32px;">What do you want to do?</h2></legend>

        <div class="selection-button-radio" style="margin-top: 16px;">
            <div class="multiple-choice" data-target="advice-7-yes" style="margin-bottom: 0;">
                <input id="radio-inline-11" type="radio" name="radio-inline-group-7" value="retry">
                <label for="radio-inline-11" class="block-label" style="position: static;">Take another photo</label>
            </div>
        </div>
        <div class="selection-button-radio" style="margin-top: 8px;">
            <div class="multiple-choice" data-target="advice-7-no" style="margin-bottom: 0;">
                <input id="radio-inline-12" type="radio" name="radio-inline-group-7" value="continue">
                <label for="radio-inline-12"class="block-label" style="position: static;">Use this photo</label>
            </div>
        </div>


        <div class="form-group">
            <a class="button button--next" href="#" id="check-7-submit">Continue</a>
        </div>


        <p class="small">Reference: {% if manual === 'true' %}CIDXXXX{% else %}CIDXXXX{% endif %}</p>

    </section>


    {# section to show paycasso blurred error version 3 #}
    <section class="preview-container" id="scan-id-4c" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>Your photo is blurred. We may be unable to complete your application with this photo.</p>


        <details class="" role="group" >
            <summary data-analytics="summary" role="button" aria-controls="details-content-1" aria-expanded="true">
                <span class="details__summary">View my photo</span>
            </summary>
            <div class="reading-width">
                <div id="scan-id-preview" style="padding-top: 16px;">
                    <img id="uploaded-id-3" src="#" alt="A preview of your photo of your I.D document" style="height:auto;"/>
                </div>
            </div>
        </details>

        <p>Help avoid blur by:</p>

        <ul class="list list-bullet">
            <li>keeping your camera as still as possible</li>
            <li>making sure the image is in focus</li>
            <li>ensuring the camera lens is clean</li>
        </ul>


        <legend><h2 class="h3" style="margin-top: 32px;">What do you want to do?</h2></legend>

        <div class="selection-button-radio" style="margin-top: 16px;">
            <div class="multiple-choice" data-target="advice-8-yes" style="margin-bottom: 0;">
                <input id="radio-inline-13" type="radio" name="radio-inline-group-8" value="retry">
                <label for="radio-inline-13" class="block-label" style="position: static;">Take another photo</label>
            </div>
        </div>
        <div class="selection-button-radio" style="margin-top: 8px;">
            <div class="multiple-choice" data-target="advice-8-no" style="margin-bottom: 0;">
                <input id="radio-inline-14" type="radio" name="radio-inline-group-8" value="continue">
                <label for="radio-inline-14"class="block-label" style="position: static;">Use this photo</label>
            </div>
        </div>


        <div class="form-group">
            <a class="button button--next" href="#" id="check-8-submit">Continue</a>
        </div>


        <p class="small">Reference: {% if manual === 'true' %}CIDXXXX{% else %}CIDXXXX{% endif %}</p>

    </section>



    {# section to show paycasso preflight no-image error #}
    <section class="preview-container" id="scan-id-4d" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>We could not detect a {{ idType }} in the photo</p>

        <p>This might be because:</p>

        <ul class="list list-bullet">
            <li>we cannot see the edges of the details page of the {{ idType }}</li>
            <li>we cannot see all the information we need</li>
            <li>you did not take a photo of a {{ idType }}</li>
        </ul>

        <div class="reading-width">
            <div id="scan-id-preview" style="padding-top: 16px;">

                {% if idType === 'passport' %}
                <img src="/images/how-to-hold-a-passport.png" alt="how to take a photo of your {{ idType }} " width="600" style="display:block;margin-left:auto;margin-right:auto;">
                {% else %}
                <img src="/images/DL-guide@2x.png" alt="how to take a photo of your {{ idType }} " width="600" style="display:block;margin-left:auto;margin-right:auto;">
                {% endif %}
            </div>
        </div>


        <legend><h2 class="h3" style="margin-top: 32px;">What do you want to do?</h2></legend>

        <div class="selection-button-radio" style="margin-top: 16px;">
            <div class="multiple-choice" data-target="advice-9-yes" style="margin-bottom: 0;">
                <input id="radio-inline-15" type="radio" name="radio-inline-group-9" value="retry">
                <label for="radio-inline-15" class="block-label" style="position: static;">Take another photo</label>
            </div>
        </div>
        <div class="selection-button-radio" style="margin-top: 8px;">
            <div class="multiple-choice" data-target="advice-9-no" style="margin-bottom: 0;">
                <input id="radio-inline-16" type="radio" name="radio-inline-group-9" value="continue">
                <label for="radio-inline-16"class="block-label" style="position: static;">Use this photo</label>
            </div>
        </div>


        <div class="form-group">
            <a class="button button--next" href="#" id="check-9-submit">Continue</a>
        </div>

        <p class="small">Reference: {% if manual === 'true' %}CIDXXXX{% else %}CIDXXXX{% endif %}</p>

    </section>


    {# section to show paycasso preflight no-image error try again only #}
    <section class="preview-container" id="scan-id-7e" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>We could not detect a {{ idType }} in the photo</p>

        <p>This might be because:</p>

        <ul class="list list-bullet">
            <li>we cannot see the edges of the details page of the {{ idType }}</li>
            <li>we cannot see all the information we need</li>
            <li>you did not take a photo of a {{ idType }}</li>
        </ul>

        <div class="reading-width">
            <div id="scan-id-preview" style="padding-top: 16px;">

                {% if idType === 'passport' %}
                <img src="/images/how-to-hold-a-passport.png" alt="how to take a photo of your {{ idType }} " width="600" style="display:block;margin-left:auto;margin-right:auto;">
                {% else %}
                <img src="/images/DL-guide@2x.png" alt="how to take a photo of your {{ idType }} " width="600" style="display:block;margin-left:auto;margin-right:auto;">
                {% endif %}
            </div>
        </div>


        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="">Take another photo</a>
        </div>

        <p class="small">Reference: {% if manual === 'true' %}CIDXXXX{% else %}CIDXXXX{% endif %}</p>

    </section>




    {# section to show user driven checks #}

    <section class="preview-container" id="scan-id-5" style="display:none">

        {% include '_partials/_includes/_check-photo-v3.html' %}

    </section>



    {# section to show uploading error #}
    <section class="preview-container" id="scan-id-6" style="display:none">

        <h1 style="padding-bottom: 0;">Something went wrong</h1>

        <div id="nhs-number" class="has-error form-row-error-active">
            <p>We could not upload your photo.</p>
        </div>

        <div class="form-group">
            <a class="button" href="" id="submit-photoId-back-button">Try again</a>
            <!--<p><a href="service-access-photo-id-camera{{ params }}" id="">Cancel</a></p>-->
        </div>

        <div class="callout callout--info" style="margin-top: 28px;">
            <p>If you keep getting this message, please try again later. It might be a problem with your internet
                connection.</p>
        </div>


        <p class="small">Reference: {% if manual === 'true' %}CID4001{% else %}CID8001{% endif %}</p>

    </section>


    {# section to show the AWS face check validation errors - no face #}
    <section class="preview-container" id="scan-id-7a" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>We cannot see all the information we need.</p>
        <p>Make sure you follow the photo instructions.</p>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-type{{ params }}" id="">Back to step 1 - send a photo of your I.D.</a>
        </div>
        <p class="small" style="margin-top: 28px;">Reference: {% if manual === 'true' %}CID4005{% else %}CID8005{% endif %}</p>
    </section>




    {# section to show the AWS face check validation errors - multiple face #}

    <section class="preview-container" id="scan-id-7b" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem with your photo</h1>

        <p>There is more than 1 face in your photo.</p>

        <div class="reading-width">
            <div id="scan-id-preview" style="padding-top: 16px;">

                {% if idType === 'passport' %}
                <img src="/images/how-to-hold-a-passport.png" alt="how to take a photo of your {{ idType }} " width="600" style="display:block;margin-left:auto;margin-right:auto;">
                {% endif %}
            </div>
        </div>
                

        <details class="" role="group" >
            <summary data-analytics="summary" role="button" aria-controls="details-content-1" aria-expanded="true">

                {% if idType === 'passport' %}
                <span class="details__summary">There are multilple faces on the same page</span>
                {% else %}
                <span class="details__summary">There are 2 faces on my I.D. card</span>
                {% endif %}

            </summary>
            <div class="callout callout--info callout--friendly" id="details-content-1" aria-hidden="false">
                <div class="reading-width">
                    <p>Some I.D. types have multiple faces on the same side. If so, you can use the photo taken.</p>
                    <p><a href="javascript:fakeClick(event, document.getElementById('continueButton2'))" id="check-6-submit">Use this photo</a></p>
                </div>
            </div>
        </details>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-type{{ params }}" id=""><i style="font-style: normal;">Back to:</i> Step 1 - send a photo of your I.D.</a>
        </div>
        <p class="small" style="margin-top: 28px;">Reference: CID8006</p>
    </section>




    {# section to show the AWS technical errors or timeouts #}

    <section class="preview-container" id="scan-id-7c" style="display:none">

        <h1 style="padding-bottom: 0;">Something went wrong</h1>

        <p>There was a technical problem.</p>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-type{{ params }}" id=""><i style="font-style: normal;">Back to:</i> Step 1 - send a photo of your I.D.</a>
        </div>
        <p class="small" style="margin-top: 28px;">Reference: {% if manual === 'true' %}CID4007{% else %}CID8007{% endif %}</p>
    </section>



    {# section to show the antivirus error #}
    <section class="preview-container" id="scan-id-8" style="display:none">

        <h1 style="padding-bottom: 0;">You cannot send this photo because the file is damaged</h1>

        <p>You can <a class="" href="service-access-photo-id-camera{{ params }}" id="tryagain">{% if upload === 'file' %}upload{% else %}take{% endif %} another photo.</a></p>
        <p>If this keeps happening, there might be a problem with your device. You could take a photo using a different device, and then upload it.</p>

        <p class="small" style="margin-top: 28px;">Reference: {% if manual === 'true' %}CID4015{% else %}CID8015{% endif %}</p> <!-- CID4015 for Automation -->
    </section>






    {# section to show the file saving and server-side validation errors #}
    <section class="preview-container" id="scan-id-9a" style="display:none">

        <h1 style="padding-bottom: 0;">There is a problem</h1>

        <p>You might have sent a file format we cannot accept.</p>
        <p>If this keeps happening, you could take a photo using a different device or mobile phone app, then upload it.</p>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="tryagain">Try again</a>
        </div>
        <p class="small" style="margin-top: 28px;">Reference: {% if manual === 'true' %}CID4003{% else %}CID8003{% endif %}</p>
    </section>

    {# section to show the technical or timeout errors #}
    <section class="preview-container" id="scan-id-9b" style="display:none">

        <h1 style="padding-bottom: 0;">Something went wrong</h1>

        <p>There was a technical problem.</p>

        <div class="form-group">
            <a class="button" href="service-access-photo-id-camera{{ params }}" id="">Try again</a>
        </div>

        <div class="" style="margin-top: 28px;">
            <p>If you keep getting this message, there might be a problem with your internet connection</p>
        </div>

        <p class="small">Reference: {% if manual === 'true' %}CID4004{% else %}CID8004{% endif %}</p>

    </section>

    <button id="confirmButton" class="u-visuallyhidden" style="visibility:hidden;"
            onclick="fakeClick(event, document.getElementById('continueButton2'))">Continue
    </button>

    {% if idType === 'European driving licence' or idType === 'European driving licence' %}
        {% if side === 'back' %}
            <a id="continueButton2" class="u-visuallyhidden" style="visibility:hidden;" href="service-access-video-selfie{{ params }}">Continue</a>
        {% else %}
            <a id="continueButton2" class="u-visuallyhidden" style="visibility:hidden;" href="service-access-photo-id-camera{{ params }}&front=done">Continue</a>
        {% endif %}
    {% else %}
    <a id="continueButton2" class="u-visuallyhidden" style="visibility:hidden;" href="service-access-video-selfie{{ params }}">Continue</a>
    {% endif %}


    <script>
        function fakeClick(event, anchorObj) {
            if (anchorObj.click) {
                anchorObj.click()
            } else if(document.createEvent) {
                if(event.target !== anchorObj) {
                    var evt = document.createEvent("MouseEvents");
                    evt.initMouseEvent("click", true, true, window,
                        0, 0, 0, 0, 0, false, false, false, false, 0, null);
                    var allowDefault = anchorObj.dispatchEvent(evt);
                    // you can check allowDefault for false to see if
                    // any handler called evt.preventDefault().
                    // Firefox will *not* redirect to anchorObj.href
                    // for you. However every other browser will.
                }
            }
        }
    </script>

</div>

{% endblock %}