{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block content %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item">

  <div class="form-group">
    <h1><legend>Your account might be compromised</legend></h1>

    <p>We recommend that you do the following:</p>
    <ol>
      <li>Change password</li>
      <li>Make sure your phone has a lock screen</li>
    </ol>
    <p>If you have any more issues then please email <a href="mailto:support@nhs.net">support@nhs.net</a></p>

  </div>

</div>

{% endblock %}


