{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Your NHS Account{% endblock %}
{% set signedin = 'true' %}
{% set alert = {'cookies':'true','notlive':'false'} %}

{# work out where to send users #}
{% if vouch %}
{% set params = "?vouch=" + vouch %}
{% endif %}

{% block topRow %}
  {% if vouch == "yes" %}
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('Congratulations','Your NHS account has been linked up to your medical record.','attention') }}
  {% elif vouchNew == "yes" %}
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('Congratulations','You now have an NHS account.','attention') }}
  {% elif later == "yes" %}
    {% import "_partials/_components/_callout.html" as callout %}
    {{ callout.pattern('message sent','','attention') }}
  {% endif %}

{% endblock %}

{% block content %}
<div>
  <h1>Welcome to your NHS</h1>
  <h3 class="heading-large">Your Services</h3>
  <ul>
    <li>
    <a href="../service/your-childs-health-record">Personal Child Health Record</a>
    <strong class="phase-tag phase-tag-verified">VERIFIED</strong>
    </li>
  </ul>

  <h3 id="conditions" class="heading-large">Common conditions</h3>
  <ul>
    <li><a href="https://beta.nhs.uk/conditions/common-cold/">Common cold</a></li>
    <li><a href="https://beta.nhs.uk/conditions/diabetes/">Diabetes</a></li>
    <li><a href="https://beta.nhs.uk/conditions/chickenpox/">Chickenpox</a></li>
    <li><a href="https://beta.nhs.uk/conditions/blisters/">Blisters</a></li>
  </ul>
  <h3 id="symptoms" class="heading-large">Your conditions</h3>
  <ul>
    <li><a href="https://beta.nhs.uk/conditions/glandular-fever">Glandular fever</a></li>
    <li><a href="https://beta.nhs.uk/conditions/hay-fever">Hay fever</a></li>
  </ul>
  <h3 id="symptoms" class="heading-large">Your medicines</h3>
  <ul>
    <li><a href="https://beta.nhs.uk/medicines/citalopram">Citalopram</a></li>
    <li><a href="https://beta.nhs.uk/medicines/ibuprofen-for-children">Ibuprofen for children</a></li>
  </ul>
</div>
{% endblock %}
