{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account settings - Name{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
	<div class="smaller-h1">Manage devices</div>
</h1>
<hr>

<style>
	.c-page-contents__link.link-devices {
		font-weight: bold;
		text-decoration: none;
	}
</style>

{% endblock %}

{% block content %}


{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">

	<h2 class="">Device removed</h2>

			<p class="">You will need to enter the password sent to your phone when using your NHS login on this device.</p>

			<p><a class="" href="devices-deviceRemoved">Return to manage devices</a></p>

</div>

{% endblock %}
