{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - manage phone number{% endblock %}

{% set signedin = 'true' %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Account','Manage your account and security settings') }}
{% endblock %}

{% block content %}

{% block alert %}{% endblock %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item">
	<h2>Check your email</h2>

	<p>We need to validate your email address. Please check your <a href="mail-validate">email</a>.</p>
    <p>If you haven't received the email check your spam folder.</p>
    <p>You have 48 hours to validate your email before the link is deactivated.</p>
</div>

{% endblock %}


