{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Email address</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-email {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% block alert %}{% endblock %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <h2>Check your phone</h2>

        <p>We have sent a security code to your phone. This is to prove it is you who wants to change your email address.</p>

        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="email-edit" class="button">Continue</a>
    </div>

  </form>
</div>

{% endblock %}
