{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Change password</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-password { 
    font-weight: bold; 
    text-decoration: none; 
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">
  <form>
    <div class="form-group">
      <fieldset class="inline">

        <!-- <span class="section-header">Edit email address</span> -->

        <h1><legend>Check your phone</legend></h1>

        <p>We have sent a security code to your phone</p>

        <div class="form-group">
          <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="">
        </div>

      </fieldset>
    </div>
    <div class="form-group">
      <a href="password-success" class="button">Continue</a>
    </div>

  </form>
</div>

{% endblock %}


