{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Account','Manage your account and security settings') }}
{% endblock %}

{% block content %}

{% block alert %}{% endblock %}

<div class="c-page-contents" style="">
	<ul class="c-links__list js-page-nav-list">
		<li class="c-links__list"><a href="account" class="c-page-contents__link">Profile</a></li>
		<li class="c-links__list"><a href="phone" class="c-page-contents__link">Phone number</a></li>
		<li class="c-links__list"><a href="password" class="c-page-contents__link">Manage password</a></li>
	</ul>
</div>

{% endblock %}

{% block rightcol %}

<div class="first-item">
  	<form>
    	<div class="form-group">

      		<h1>Change password</h1>
      		<div class="form-group">
        		<label class="form-label" for="field3">New password</label>
        		<p class="small">Your password must have:</p>
        		<ul>
          			<li class="small">at least 8 characters</li>
          			<li class="small">at least one capital letter</li>
          			<li class="small">at least one number</li>
          			<li class="small">at least one symbol, for example: ?!£%</li>
        		</ul>
        		<input class="form-control" id="field3" name="field3" type="password">
      		</div>
      		<div class="form-group">
        		<label class="form-label" for="field2">Retype password</label>
        		<input class="form-control" id="field2" name="field2" type="password">
      		</div>

    	</div>
    	<a class="button" href="change-password-success">Change password</a>
 	</form>
</div>

{% endblock %}


