{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - manage phone number{% endblock %}

{% set signedin = 'true' %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Account','Manage your account and security settings') }}
{% endblock %}

{% block content %}

{% block alert %}{% endblock %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item">

	<h2>Check your email</h2>

	<p>We've sent you a message with a security code to gh*****@***c.co</p>

	<fieldset class="inline">
		<div class="form-group">
	        <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="" class="code">
	    </div>
	</fieldset>
	<a class="button" href="phone-edit">Continue</a>

</div>

{% endblock %}


