{% extends '_layouts/_grids/_grid-1-2-stacked-nhsone.html' %}
{% block page_title %}Account - manage phone number{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Phone number</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-phone { 
    font-weight: bold; 
    text-decoration: none; 
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">
	<h2>Enter new phone number</h2>

	<p>We need to validate your phone number to make your account more secure.</p>

	<div class="form-group">	

		<label class="form-label" for="new-phone">New phone number</label>
		<input class="form-control" id="new-phone" name="field2" type="number">
	</div>

	<a class="button" href="phone-code">Continue</a>

</div>

{% endblock %}


