// NHSUK button overrides


// back button when on a blue bg
.button--back-white {
  @include button($blue);
  border: 2px solid rgba(#1a5095,1);
  margin-top: 0.5em !important;
}

// New login buttons
.button--patient-access {
  @include button(#cb784f);
  box-shadow: none;
}

.button--systm-one {
  @include button($grey-4);
  box-shadow: none;
}

.button--systm-one--dark {
  @include button(rgb(0, 109, 178));
  box-shadow: none;
}

.button--systm-one--light {
  @include button($white);
  box-shadow: none;
}

.button--verify {
  @include button($grey-4);
}

.button--email {
  @include button(#005eb8);
}

.button--disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 641px) {
  .button--patient-access,
  .button--systm-one,
  .button--systm-one--dark,
  .button--verify,
  .button--email {
    width: 66%;
    + .button {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

#onfido-button,
button.onfido-sdk-ui-Theme-btn.onfido-sdk-ui-Theme-btn-centered.onfido-sdk-ui-Theme-btn-primary {
  @include button($green);
}