// NHSUK button overrides


// back button when on a blue bg
.button--back-white {
  @include button($blue);
  border: 2px solid rgba(#1a5095,1);
  margin-top: 0.5em !important;
}

// New login buttons
.button--patient-access {
  @include button(#cb784f);
  box-shadow: none;
}

.button--systm-one {
  @include button($grey-4);
  box-shadow: none;
}

.button--systm-one--dark {
  @include button(rgb(0, 109, 178));
  box-shadow: none;
}

.button--systm-one--light {
  @include button($white);
  box-shadow: none;
}

.button--verify {
  @include button($grey-4);
}

.button--email {
  @include button(#005eb8);
}

.button--approve,
.button--decline {
  @include button($green);
  position: relative;
  padding: ($baseline-grid-unit * 6) ($baseline-grid-unit * 12);
  padding-left: ($baseline-grid-unit * 16);
  &::before,
  &::after {
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    zoom: 1;
  }
  &::before {
    background: transparent;
    border: solid;
    border-color: $white;
    border-width: 0 0 8px 8px;
    height: 18px;
    top: 1.3em;
    left: 1.1em;
    transform: rotate(-45deg);
    width: 30px;
  }
  &:active::before {
    height: 18px !important;
    top: 1.3em !important;
  }
}

.button--decline {
  @include button($red);
  padding: ($baseline-grid-unit * 6) ($baseline-grid-unit * 12);
  padding-left: ($baseline-grid-unit * 17);
  &::before,
  &::after {
    background: $white;
    height: 10px;
    top: 1.8em;
    left: 1em;
    transform: rotate(45deg);
    width: 36px;
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:active::before {
    height: 10px !important;
    top: 1.8em !important;
  }
}

.button--retry {
  @include button($green);
  position: relative;
  padding: ($baseline-grid-unit * 6) ($baseline-grid-unit * 12);
  padding-left: ($baseline-grid-unit * 16);
  &::before {
    content: "";
    position: absolute;
    top: 1.3em;
    left: 1.4em;
    height: 30px;
    width: 30px;
    background: transparent url("/images/three-circling-arrows.svg") no-repeat;
    background-size: 25px 25px;
    background-position: middle;
  }
  &:active::before {
    top: 1.3em;
    height: 30px;
  }
}

.button--play {
  @include button($green);
  position: relative;
  padding: ($baseline-grid-unit * 4) ($baseline-grid-unit * 8);
  padding-left: ($baseline-grid-unit * 18);
  &::before {
    content: "";
    position: absolute;
    top: 1em;
    left: 1.6em;
    height: 24px;
    width: 24px;
    background: transparent url("/images/play-button.svg") no-repeat;
    background-size: 25px 25px;
    background-position: middle;
  }
  &:active::before {
    top: 1.3em;
    height: 30px;
  }
}


.button--save {
  position: relative;
  transition: width ease 5s;
  &::before {
    content: "";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -6px;
    height: 25px;
    width: 25px;
    background: transparent url("/images/mini-button-spinner.svg") no-repeat;
    background-size: 25px 25px;
    animation-name: spin;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    // spin the svg image
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  // override opacity of disabled button so spinner is more visible
  &[disabled],
  &[disabled]:hover {
    background-color: #9abda0;
    opacity: 1;
    box-shadow: 0 2px 0 #88988c
  }
}


.button--recording {
  background-color: $red !important;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    //right: 0;
    margin-left: 10px;
    height: 25px;
    width: 25px;
    background: transparent url("/images/spinner.gif") no-repeat;
    background-size: 25px 25px;
  }
}

.button--disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@media (min-width: 641px) {
  .button--patient-access,
  .button--systm-one,
  .button--systm-one--dark,
  .button--verify,
  .button--email {
    width: 66%;
    + .button {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}

.button--clippy {

}

#onfido-button,
button.onfido-sdk-ui-Theme-btn.onfido-sdk-ui-Theme-btn-centered.onfido-sdk-ui-Theme-btn-primary {
  @include button($green);
}

.button--information {
    @include button($white);
}
