// NHSUK callout overrides

.callout--friendly {
  background-color: transparent;
  border-color: #005eb8;
  padding: 0 32px
}

.callout--instructions {
  background-color: transparent;
  border-color: $white;
  padding: 0 32px
}

.callout--warning {
  color: $black;
}

.js-hidden {
  display: none;
  visibility: hidden;
}

.callout--compact {
  margin-top: 0;
}

.u-visuallyhidden {
  @include visuallyhidden;
}