// NHSUK callout overrides

.callout--friendly {
  background-color: transparent;
  border-left: 12px solid #005eb8;
  max-width: 44em;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 16px;
}

.callout--description {
  background-color: #f0f4f5;
  max-width: 44em;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 16px;
}

.callout--error {
  background-color: transparent;
}

.callout--icon {
  padding-left: 48px;
}


.callout--instructions {
  background-color: transparent;
  border-left: 12px solid #ffffff;
  border-color: $white;
  padding: 0 32px
}

.callout--infonew {
  background-color: transparent;
  max-width: 44em;
  margin-bottom: 40px;
  margin-top: 40px;
}

.callout--warning {
  color: $black;
}

.js-hidden {
  display: none;
  visibility: hidden;
}

.callout--compact {
  margin-top: 0;
}

.u-visuallyhidden {
  @include visuallyhidden;
}