// NHS Form overrides

// TODO rewrite HTML to use NHSUK classes and we should be able to get rid of all this

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 8px;
  border: 2px solid #005EB8;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  line-height: 32px;
}

/* Overrides to remove number input spinners */

/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select{
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right 10px center white;
  //background-position: right 10px 20px 0;
}

@media (min-width: 500px) {
  input[type='text'],
  input[type='number'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  select {
    width: 75%;
    margin: 16px 0 32px 0;
  }
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus,
select:focus,
textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

input[type='text'].-small,
input[type='number'].-small,
input[type='password'].-small,
input[type='email'].-small,
input[type='tel'].-small {
  width: 8em;
}

@media (min-width: 500px) {
  input[type='text'].postcode,
  input[type='number'].postcode,
  input[type='password'].postcode,
  input[type='email'].postcode,
  input[type='tel'].postcode {
    width: 30%;
  }
}

input[type='text'].code,
input[type='number'].code,
input[type='password'].code,
input[type='email'].code,
input[type='tel'].code {
  width: 50%;
}

.-date div {
  float: left;
  padding-right: 1em;
}

.-date .day,
.-date .month {
  width: 3em;
  &[type=number] {
    -webkit-appearance: none;
    font-size:1.6em;
    width: 2.2em;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0
    }
  }
}

.-date .year {
  width: 4em;
  &[type=number] {
    -webkit-appearance: none;
    font-size:1.6em;
    width: 4em;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0
    }
  }
}

.error-summary {
  margin: 32px 0;
}

.error-summary > div {
  float: left;
  border-top: 2px solid #D81E05;
  background-color: #fbe9e6;
  padding: 0 32px;
  color: #a61704;
}

.error-summary a {
  color: #a61704;
}

.error-hint {
  display: block;
  color: #D81E05;
}

.form-group.-errors {
  border-left: 4px solid #D81E05;
  padding-left: 20px;
}

.form-group.-errors input,
.form-group.-errors textarea {
  border-color: #D81E05;
  border-width: 4px;
}



// radio check styles //

.block-label {
  display: block;
  position: relative;
  width: auto;
  padding: 7px 0 7px 50px;
  margin: 16px 0;
  cursor: pointer;
  font-size: 20px;
}

@media (min-width: 500px) {
  .block-label {
    float: left;
    clear: both;
  }
}

.block-label input {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 38px;
  height: 38px;
}

.block-label input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.block-label.selection-button-radio {
  position: relative;
  width: 100%;
}

.selection-button-radio-inline-background {
  display: inline-block;
  padding-right: 2em;
  margin-top: 0;
  &:last-of-type {
    padding-right: 0;
  }
}

.block-label.selection-button-radio-background::before {
  content: "";
  border: 3px solid #ffffff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0);
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-radio-background::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.selection-button-radio-inline {
  display: inline-block;
  padding-right: 2em;
  margin-top: 0;
  &:last-of-type {
    padding-right: 0;
  }
}

.block-label.selection-button-radio::before {
  content: "";
  border: 3px solid #005EB8;
  border-radius: 50%;
  background: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-radio::after {
  content: "";
  border-radius: 50%;
  background: currentColor;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-checkbox::before {
  content: "";
  border: 3px solid #005EB8;
  background: #fff;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0;
  left: 0;
}

.block-label.selection-button-checkbox::after {
  content: "";
  border: solid;
  border-width: 0 0 5px 5px;
  background: transparent;
  width: 20px;
  height: 10px;
  position: absolute;
  top: 15px;
  left: 7px;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  filter: alpha(opacity=0);
  opacity: 0;
}

.block-label.selection-button-radio.focused::before, .block-label.selection-button-checkbox.focused::before {
  -webkit-box-shadow: 0 0 0 5px #F7E214;
  -moz-box-shadow: 0 0 0 5px #F7E214;
  box-shadow: 0 0 0 5px #F7E214;
}

.block-label.selection-button-radio.selected::after, .block-label.selection-button-checkbox.selected::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.inline div {
  display: inline-block;
  margin-right: 50px;
}

// end radio check styles //


.form-date-field {
  margin-top: 0 !important;
}

.form-hint {
  clear: both;
  color: $grey-2;
}

input,
textarea {
  border-color: #D81E05;
  &[readonly],
  &[disabled] {
    border: 2px solid $grey-3;
  }
}


$_border-colour: $grey-2;
$_border-width: 2px;
$_element-size: 38px;
$_radio-size: 20px;
$_radio-spacing: ($_element-size - $_radio-size) / 2;


.multiple-choice {
  display: block;
  float: none;
  clear: left;
  position: relative;
  padding: 0 0 0 0px;
  margin-bottom: 10px;

  @include clearfix;

  .js-enabled & {
    //padding: 0 0 0 0;
    label {
      cursor: pointer;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 0;
      margin: 0;
    }
    input {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 38px;
      height: 38px;
      z-index: 1;
      margin: 0;
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0;
    }
    [type=checkbox] + label,
    [type=radio] + label
    {
      //position: auto;
    }
    [type=checkbox] + label::before {
      background: $white;
      border: $_border-width solid $_border-colour;
      content: "";
      height: $_element-size;
      left: 0;
      position: absolute;
      top: 0;
      width: $_element-size;
    }

    [type=checkbox] + label::after {
      background: transparent;
      border: solid;
      border-width: 0 0 5px 5px;
      content: "";
      filter: alpha(opacity=0);
      height: 12px;
      left: 8px;
      opacity: 0;
      position: absolute;
      top: 13px;
      transform: rotate(-45deg);
      width: 22px;
      zoom: 1;
    }
    [type=radio] + label::before {
      content: "";
      border: 3px solid #005eb8;
      border-radius: 50%;
      background: #fff;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: 0
    }
    [type=radio] + label::after {
      content: "";
      border-radius: 50%;
      background: currentColor;
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      left: 10px;
      zoom: 1;
      filter: alpha(opacity=0);
      opacity: 0
    }

    + .panel {
      margin: 0 0 32px
    }

  }

  &.multiple-choice--inline {
    display: inline-block;
  }
}

.js-enabled .multiple-choice--radio {
  &:before {
    border: 2px solid #005EB8;
  }
  &[disabed]:before {
    border: 2px solid #768692;
  }
}


.js-enabled .multiple-choice input:checked + label::after {
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

// GOV UK small checkboxes

.govuk-fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border:0
}

.govuk-fieldset:after {
  content: "";
  display: block;
  clear:both
}

@supports not (caret-color: auto) {
  .govuk-fieldset, x:-moz-any-link {
    display:table-cell
  }
}

.govuk-fieldset__legend {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  margin-bottom: 10px;
  padding: 0;
  white-space:normal
}

@media print {
  .govuk-fieldset__legend {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-fieldset__legend {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height:1.31579
  }
}

@media print {
  .govuk-fieldset__legend {
    font-size: 14pt;
    line-height:1.15
  }
}

@media print {
  .govuk-fieldset__legend {
    color:#000
  }
}

.govuk-fieldset__legend--xl {
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  margin-bottom:15px
}

@media print {
  .govuk-fieldset__legend--xl {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-fieldset__legend--xl {
    font-size: 48px;
    font-size: 3rem;
    line-height:1.04167
  }
}

@media print {
  .govuk-fieldset__legend--xl {
    font-size: 32pt;
    line-height:1.15
  }
}

.govuk-fieldset__legend--l {
  font-weight: 700;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.04167;
  margin-bottom:15px
}

@media print {
  .govuk-fieldset__legend--l {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-fieldset__legend--l {
    font-size: 36px;
    font-size: 2.25rem;
    line-height:1.11111
  }
}

@media print {
  .govuk-fieldset__legend--l {
    font-size: 24pt;
    line-height:1.05
  }
}

.govuk-fieldset__legend--m {
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.11111;
  margin-bottom:15px
}

@media print {
  .govuk-fieldset__legend--m {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-fieldset__legend--m {
    font-size: 24px;
    font-size: 1.5rem;
    line-height:1.25
  }
}

@media print {
  .govuk-fieldset__legend--m {
    font-size: 18pt;
    line-height:1.15
  }
}

.govuk-fieldset__legend--s {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height:1.25
}

@media print {
  .govuk-fieldset__legend--s {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-fieldset__legend--s {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height:1.31579
  }
}

@media print {
  .govuk-fieldset__legend--s {
    font-size: 14pt;
    line-height:1.15
  }
}

.govuk-fieldset__heading {
  margin: 0;
  font-size: inherit;
  font-weight:inherit
}

.govuk-hint {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom: 15px;
  color:#6f777b
}

@media print {
  .govuk-hint {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-hint {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height:1.31579
  }
}

@media print {
  .govuk-hint {
    font-size: 14pt;
    line-height:1.15
  }
}

.govuk-label:not(.govuk-label--m):not(.govuk-label--l):not(.govuk-label--xl) + .govuk-hint {
  margin-bottom:10px
}

.govuk-fieldset__legend:not(.govuk-fieldset__legend--m):not(.govuk-fieldset__legend--l):not(.govuk-fieldset__legend--xl) + .govuk-hint {
  margin-bottom:10px
}

.govuk-fieldset__legend + .govuk-hint, .govuk-fieldset__legend + .govuk-hint {
  margin-top:-5px
}

.govuk-label {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: block;
  margin-bottom:5px
}

@media print {
  .govuk-label {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-label {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height:1.31579
  }
}

@media print {
  .govuk-label {
    font-size: 14pt;
    line-height:1.15
  }
}

@media print {
  .govuk-label {
    color:#000
  }
}

.govuk-checkboxes__item {

  line-height: 1.25;
  display: block;
  position: relative;
  min-height: 40px;
  margin-bottom: 10px;
  padding-left: 40px;
  clear:left
}

@media print {
  .govuk-checkboxes__item {
    font-family:sans-serif
  }
}

@media (min-width: 40.0625em) {
  .govuk-checkboxes__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height:1.31579
  }
}

@media print {
  .govuk-checkboxes__item {
    font-size: 14pt;
    line-height:1.15
  }
}

.govuk-checkboxes__item:last-child, .govuk-checkboxes__item:last-of-type {
  margin-bottom:0
}

.govuk-checkboxes__input {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -2px;
  left: -2px;
  width: 44px;
  height: 44px;
  margin: 0;
  opacity:0;
}

.govuk-checkboxes__label {
  display: inline-block;
  margin-bottom: 0;
  padding: 8px 15px 5px;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action:manipulation
}

.govuk-checkboxes__label::before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid currentColor;
  background:white
}

.govuk-checkboxes__label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border: solid;
  border-width: 0 0 5px 5px;
  border-top-color: transparent;
  opacity: 0;
  background:transparent
}

.govuk-checkboxes__hint {
  display: block;
  padding-right: 15px;
  padding-left:15px
}

.govuk-checkboxes__input:focus + .govuk-checkboxes__label::before {
  border-width: 4px;
  -webkit-box-shadow: 0 0 0 3px #fd0;
  box-shadow:0 0 0 3px #fd0
}

.govuk-checkboxes__input:checked + .govuk-checkboxes__label::after {
  opacity:1
}

.govuk-checkboxes__input:disabled, .govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  cursor:default
}

.govuk-checkboxes__input:disabled + .govuk-checkboxes__label {
  opacity:.5
}

.govuk-checkboxes__conditional {
  margin-bottom: 15px;
  margin-left: 18px;
  padding-left: 33px;
  border-left:4px solid #b1b4b6
}

@media (min-width: 40.0625em) {
  .govuk-checkboxes__conditional {
    margin-bottom:20px
  }
}

.js-enabled .govuk-checkboxes__conditional--hidden {
  display:none
}

.govuk-checkboxes__conditional > :last-child {
  margin-bottom:0
}
.govuk-checkboxes--small {
  margin-top: 0 !important;
}

.govuk-checkboxes--small .govuk-checkboxes__item {
  min-height: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 34px;
  float:left
}

.govuk-checkboxes--small .govuk-checkboxes__item:after {
  content: "";
  display: block;
  clear:both
}

.govuk-checkboxes--small .govuk-checkboxes__input {
  left:-10px
}

.govuk-checkboxes--small .govuk-checkboxes__label {
  margin-top: -2px;
  padding: 13px 15px 13px 1px;
  float:left
}

@media (min-width: 40.0625em) {
  .govuk-checkboxes--small .govuk-checkboxes__label {
    padding:11px 15px 10px 1px
  }
}

.govuk-checkboxes--small .govuk-checkboxes__label::before {
  top: 8px;
  width: 24px;
  height:24px
}

.govuk-checkboxes--small .govuk-checkboxes__label::after {
  top: 14px;
  left: 6px;
  width: 12px;
  height: 7.5px;
  border-width:0 0 3px 3px
}

.govuk-checkboxes--small .govuk-checkboxes__hint {
  padding: 0;
  clear:both
}

.govuk-checkboxes--small .govuk-checkboxes__conditional {
  margin-left: 10px;
  padding-left: 20px;
  clear:both
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label::before {
  -webkit-box-shadow: 0 0 0 10px #b1b4b6;
  box-shadow:0 0 0 10px #b1b4b6
}

.govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus + .govuk-checkboxes__label::before {
  -webkit-box-shadow: 0 0 0 3px #fd0, 0 0 0 10px #b1b4b6;
  box-shadow:0 0 0 3px #fd0, 0 0 0 10px #b1b4b6
}

@media (hover: none),(pointer: coarse) {
  .govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:not(:disabled) + .govuk-checkboxes__label::before {
    -webkit-box-shadow: initial;
    box-shadow:initial
  }

  .govuk-checkboxes--small .govuk-checkboxes__item:hover .govuk-checkboxes__input:focus + .govuk-checkboxes__label::before {
    -webkit-box-shadow: 0 0 0 3px #fd0;
    box-shadow:0 0 0 3px #fd0
  }
}