// NHSUK typography overrides

h1,
h1>legend {
  @include bold-font(36);
}

// step numbers
.heading-secondary {
  padding-top: 4px;
  padding-bottom: 6px;
  font-size: 24px;
  line-height: 1.11111;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b;
}

.global-header {

  &.with-proposition {

    .header-wrapper {
      .header-proposition {
        .content {
          //margin: 0 15px;
        }
      }
    }
  }

  .header-proposition {
    padding-top: 10px;
  }
}

.global-header .header-proposition a.menu {
  //font-family: "nta", Arial, sans-serif;
  //font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  color: black;
  display: block;
  float: right;
  text-decoration: none;
  padding-top: 6px;
}



@media (min-width: 641px) {

  .global-header .header-proposition a.menu {
      font-size: 16px;
      line-height: 1.25;
    }



  }


  .global-header .header-proposition a.menu:after {
    display: inline-block;
    font-size: 8px;
    height: 8px;
    padding-left: 5px;
    vertical-align: middle;
    content: " \25BC";
}

.global-header .header-proposition #proposition-menu {
  margin-top: 5px;
}

.global-header .header-proposition #proposition-name {
  //font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  //font-size: 18px;
  //line-height: 1.2;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

@media (min-width: 641px) {
  .global-header .header-proposition #proposition-name {
      //font-size: 24px;
      //line-height: 1.25;
  }
}

@media (min-width: 769px) {
  .global-header .header-proposition a.menu {
      display: none;
  }
}

.js-enabled .global-header .header-proposition #proposition-link, .js-enabled .global-header .header-proposition #proposition-links {
  display: none;
}

@media (min-width: 769px) {
  .js-enabled .global-header .header-proposition #proposition-link, .js-enabled .global-header .header-proposition #proposition-links {
      display: block;
  }
}

.global-header .header-proposition #proposition-link li, .global-header .header-proposition #proposition-links li {
  float: left;
  width: 50%;
  padding: 3px 0;
  border-bottom: 1px solid #2e3133;
}

@media (min-width: 769px) {
  .global-header .header-proposition #proposition-link li, .global-header .header-proposition #proposition-links li {
      display: block;
      width: auto;
      padding: 0 15px 0 0;
      border-bottom: 0;
  }
}

@media (min-width: 769px) {
  .global-header .header-proposition #proposition-link li, .global-header .header-proposition #proposition-links li {
      display: block;
      width: auto;
      padding: 0 15px 0 0;
      border-bottom: 0;
  }
}


.global-header .header-proposition #proposition-link a, .global-header .header-proposition #proposition-links a {
  color: black;
  text-decoration: none;
  //font-family: "nta", Arial, sans-serif;
  text-transform: none;
  //font-size: 12px;
  //line-height: 1.25;
}