
.link-back {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.1428571429;
  //margin-top: 15px;
  //margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c !important;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 6px solid #0b0c0c;
    border-bottom: 5px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
  }
}