// NHSUK local header overrides

.local-header--success,
.local-header--failure {
  $_list-padding: $default-spacing-unit * 2;
  .local-header__title {
    position: relative;
    padding-left: 1.5em;
    &::before,
    &::after {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      zoom: 1;
    }
    &::before {
      background: transparent;
      border: solid;
      border-color: $white;
      border-width: 0 0 8px 8px;
      height: 18px;
      top: .7em;
      transform: rotate(-45deg);
      width: 30px;
    }
  }
}

.local-header--failure {
  $_list-padding: $default-spacing-unit * 2;
  .local-header__title {
    position: relative;
    &::before,
    &::after {
      background: $white;
      height: 10px;
      top: .9em;
      transform: rotate(45deg);
      width: 36px;
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}