// NHSUK panel overrides

.panel {
  @include clearfix;
  background-color: $grey-5;
  display: block;
  width: 100%;
  @include media(tablet) {
    display: table;
  }
}

.panel-border-narrow {
  float: left;
  width: 100%;
  clear: both;
  border-left: 12px solid #005eb8;
  max-width: 44em;
  background-color: transparent;
  padding: 16px;
  padding-bottom: 0;
  margin-bottom: 40px;
  margin-top: 40px;
  border-left-width: 5px;
  &.js-hidden {
    display: none;
    visibility: hidden;
  }
  &:last-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  input:last-of-type {
    //margin: 0;
    margin-bottom: 0;
  }
}

.panel__content--half {
  border: solid $grey-4;
  border-width: 4px 0 0;

  @include media(tablet) {
    border-width: 0 0 0 4px;
    display: table-cell;
    max-width: 50%;
    vertical-align: top;

    @include ie-lte(7) {
      border-width: 4px 0 0;
      display: block;
      width: auto;
    }
  }
  + * {
    margin-top: 0;
  }

  &.expanded {
    display: block;
    width: 100%;
    max-width: 100%;
    &:last-of-type {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.panel__content--third {
  border: solid $grey-4;
  border-width: 4px 0 0;

  @include media(tablet) {
    border-width: 0 0 0 4px;
    display: table-cell;
    max-width: 33.33%;

    @include ie-lte(7) {
      border-width: 4px 0 0;
      display: block;
      width: auto;
    }
  }


  
  + * {
    margin-top: 0;
  }
}

.panel-confirmation {
  color: #fff;
  background: #28a197;
}

.panel-confirmation__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.09375;

  @include media(tablet) {
    font-size: 48px;
    line-height: 1.04167;
  }
}