// NHS paragraph overrides

p.small,
li.small {
  font-size: 16px;
  line-height: 1.1em;
}
p.small {
  line-height: 1.2em;
}

p.16 {
  font-size:16px;
}

.reading-width {
  @include reading-width();
}

.hint {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  color: #4c6272;
  display: block;
  margin-bottom: 16px;
}
