{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{serviceName}} - {{ theService.name('login') }}{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">

    <!-- <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p> -->

    <div class="form-group">
            <h1>Sharing your information</h1>
            <p>You can not get access to NHS App without agreeing to share some of your information with them. To get access to NHS App you will have to <a href="login-nhs">log in again.</a></p>
    </div>
</div>

{% endblock %}