{% extends '_layouts/_grids/_grid-email.html' %}
{% block page_title %}Change your phone number{% endblock %}
{% set hidehead = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName  + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser + "&recoveryEmail=" + recoveryEmail + "&newMobileNum=" + newMobileNum %}
{% elif vouch %}
{% set params = "?newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&hidehead=" + hidehead + "&poluser=" + poluser + "&newMobileNum=" + newMobileNum %}
{% endif %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;" >
  <form>
    <div class="form-group">
      <legend>
        <h1 class="heading-large">Change your phone number</h1>
      </legend>
      <p style="margin-top: 0px;">Confirm the change in your phone number to {{newMobileNum}}</p>
    </div>
    <div class="form-group">
       <a class="button" href="/account-recovery/wait-24-hours{{params}}">Confirm phone number change</a>
      <input style="display: none; width: 20em;" aria-label="Phone number" class="form-control" id="newMobileNum" name="newMobileNum" value="{{newMobileNum}}" type="tel"></input> 
    </div>
  </form>

  <p style="border-top: 1px solid #768692; padding-top: 24px;">If you did not request to change your number, contact the National Service Desk. You will need to make note of the reference below.</p>
  <p><b>Email:</b> <a href="mailto:ssd.nationalservicedesk@nhs.net">nationalservicedesk@nhs.net</a></p>
  <p style="margin-top: 8px;"><b>Phone:</b> 0300 303 5035</p>
  <p style="margin-top: 8px;"><b>Reference:</b> ABC1234</p>

</div>

{% endblock %}