{% extends '_layouts/v1/_iframe_layout.html' %}
{% block page_title %}Sign in to your NHS account {{serviceName}}
{% endblock %}
{% set signedin = '' %}

{% block body %}

<style>
.global-header__inner {
  padding-left: 16px;
}
.page-section {
    padding: 0 16px 16px 16px;
}

input.form-control {
    margin-top: 0;
    margin-bottom:16px;
}
</style>

<div class="first-item">
   <form>
        <div class="form-group">
            <fieldset class="">

                <div class="form-group">
                    <label class="form-label" for="field1">Email</label>
                    <input class="form-control" id="field1" name="field1" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="field1">Password</label>
                    <input class="form-control" id="field2" name="field2" type="password">
                </div>

            </fieldset>
        </div>
        
        <a id="modalLoginComplete" href="service-diabetes-logged-in{{ params }}" class="button">Continue</a>

        <p><a id="modal-create-acc" href="/service-access/v1/service-access-eredbook">Create a new NHS account</a></p>

        <p><a href="forgotten-password">Forgotten your password?</a></p>

        <div style="width: 100%; height: 12px; border-bottom: 1px solid black; text-align: center; margin-bottom: 40px;">
          <span style="font-size: 18px; background-color: #ffffff; padding: 0 10px;">Or</span>
        </div>


        <div class="sidebar-button sidebar-button--gv">
            <a id="modal-verify" href="https://nhs-cid-verify.herokuapp.com/intro{{ params }}">
                <img src="/images/logo-verify@2x.png" width="60" />
                <p style="font-size: 16px; line-height: 22px; color: #000;" class="font-xsmall">Log in to your NHS account with <strong>GOV.UK Verify</strong></p>
            </a>
        </div>
    </form>
</div>

{% endblock %}