{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}View your Diabetes Record{% endblock %}

{% set isServiceStart = 'true' %}
{% set service = "results" %}
{% set serviceName = "view%20your%20Personal%20Child%20Health%20Record%20" %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}

{% block header %}
  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern("Diabetes",'') }}
{% endblock %}

{% block content %}
<!--
<p>Use this service to:</p>
<ul>
  <li>manage the screening and routine reviews</li>
  <li>chart your child's weight and height</li>
  <li>manage your child's immunisation schedule</li>
</ul>
-->

 <div class="modal-overlay" id="modal_window" aria-hidden="true" role="dialog" aria-labelledby="modal_title">test
  <div class="modal-content" id="modal_holder" role="document" style="width: 75%; height:85%; background-color:white; overflow: hidden; padding: 0">
  <iframe style="width:100%; height:100%; border: none" src="{{ rootUrl }}/delegated-access/login-nhs">
   <!-- {% include "create-account/_partials/_create-new-account.html" %}-->
    </iframe>    
    <button class="btn-close" id="modal_close" type="button" aria-label="close" style="color: white; right: 8px; top: -28px;">
      &times;
    </button>
  </div> <!-- end .modal-content -->
</div> <!-- end .modal-overlay -->



<a id="modal_create" href="#" class="button">Create Account</a></br>
<a href="/create-account/v3/sign-on{{ params }}" class="button">Login</a>

{% endblock %}
{% block rightcol %}{% endblock %}