{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Change password{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Password</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-password {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item account-mgmt">
  	<div class="form-group">

        <h2>Change your password</h2>

        <div class="form-group">
	        <label class="form-label" for="old-password">Current password</label>
	        <input class="form-control" id="old-password" name="old-password" type="password">
	    </div>

        <div class="form-group">
        <label class="form-label" for="password">New password</label>
        <span class="form-label__hint">Your password must have:</span>
        <ul style="margin-top: 10px;">
          <li class="small"><span class="form-label__hint">8 characters or more</span></li>
          <li class="small"><span class="form-label__hint">1 capital letter or more</span></li>
        </ul>
        <input class="form-control" id="password" name="password" type="password">
      </div>
      <div class="form-group">
        <label class="form-label" for="password2">Confirm new password</label>
        <input class="form-control" id="password2" name="password2" type="password">
      </div>

      <a class="button" href="account-password-done">Change password</a>

  	</div>
</div>

{% endblock %}
