{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Your NHS login is disabled{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">

    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

   <form>

        <div class="form-group">
            <h1>Your NHS login is disabled</h1>

            <p>We've disabled your NHS login. It will be permanently deleted in 7 days.</p>
            <p>Our <a href="terms-of-use/terms-conditions">terms and conditions</a> explain what happens to your information when you delete your NHS login.</p>

    </form>
</div>

{% endblock %}