{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - delete account{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
  <div class="smaller-h1">Delete login</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-delete {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item account-mgmt">

  <h2>Are you sure you want to delete your NHS login?<h2>

  <p><a class="button" href="account-delete-end{{ params }}">Yes - continue</a></p>
  <p><a href="account-delete">No - I don't want to</a></p>



{% endblock %}
