{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Change your phone number{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
    <div class="smaller-h1">Phone number</div>
</h1>
<hr>

<style>
  .c-page-contents__link.link-phone {
    font-weight: bold;
    text-decoration: none;
  }
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

<div class="first-item">

	<h2>Check your phone</h2>

	<p>Enter the security code we've sent to 077** ***123.</p>

	<fieldset class="inline">
		<div class="form-group">
	        <label class="form-label" for="code">Security code</label>
	        <p class="form-label__hint">The code is 6 numbers</p>
	        <input autocomplete="off" type="tel" class="form-control" name="code" id="code" value="" class="code">
	    </div>
	</fieldset>
	<a class="button" href="account-phone-done">Continue</a>


	<p>If you do not get a code, you can <a href="account-phone-edit">enter your number and try again.</a></p>

</div>

{% endblock %}
