{% extends '_layouts/_grids/_grid-1-2-stacked.html' %}
{% block page_title %}Account - profile{% endblock %}

{% set signedin = 'true' %}

{% block topRow %}

<h1>Account settings
	<div class="smaller-h1">Email address</div>
</h1>
<hr>

<style>
	.c-page-contents__link.link-email {
		font-weight: bold;
		text-decoration: none;
	}
</style>

{% endblock %}

{% block content %}

{% include '_partials/_components/_account-menu-pb.html' %}

{% endblock %}

{% block rightcol %}

{% block alert %}{% endblock %}

<div class="first-item account-mgmt">

	<h2>Enter new email address</h2>
	<p>We will send a security code to your new email address.</p>

	<div class="form-group">
		<input class="form-control" id="new-email" name="field2" type="email">
	</div>

	<a class="button" href="account-email-password">Continue</a>

</div>

{% endblock %}
