{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Access {{ serviceName }} - Confirm submission of your evidence{% endblock %}

{% set signedin = 'true' %}
{% set verified = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&hidehead=" + hidehead %}

{% block header %}
  {% if hidehead !== 'true' %}
    {% import "_partials/_components/_local-header.html" as localHeader %}
    {{ localHeader.pattern(serviceName,'') }}
  {% endif %}
{% endblock %}

{% block content %}

<section class="service-access-wrapper">

	<p>You now have the required information to prove your identity.</p>

	<ol class="service-access">
		<!--<li class="service-access__item completed">-->
			<!--<h3 class="service-access__item__title">Create an NHS account</h3>-->
			<!--<div class="service-access__item__desc">-->
				<!--<p>You will need your phone.</p>-->
				<!--<p>Your NHS account will allow you to sign into multiple health services in the future.</p>-->
			<!--</div>-->
			<!--<span class="service-access__item__status">Completed</span>-->
		<!--</li>-->
		<li class="service-access__item hide-number">
			<p class="h3 service-access__item__title ticked">Your NHS number</p>
			<!--<span class="service-access__item__status">Completed</span>-->
		</li>
		<li class="service-access__item hide-number">
			<p class="h3 service-access__item__title ticked">Photo ID document</p>
			<!--<span class="service-access__item__status">Completed</span>-->
		</li>
		<li class="service-access__item hide-number">
			<p class="h3 service-access__item__title ticked">Video selfie</p>
			<!--<span class="service-access__item__status">Completed</span>-->
		</li>
	</ol>

	<a href="service-access-complete{{ params }}" class="button">Submit information</a>
	<p class="small">You are agreeing to submit your evidence for checking. It will be held for 7 days after checking and then deleted.</p>
</section>

{% endblock %}
{% block rightcol %}{% endblock %}