{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Patient Identity Vouching Service{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">
   <form>

       <div class="form-group">
           <h1>Patient Identity Vouching Service</h1>
           <p><strong>If your patient has photographic ID such as a passport or a driver's licence then just refer them directly to the service that you are prescribing.</strong></p>
           <p>Only use this vouching service if they don't have ID or if you think that the patient will not be able to complete the online journey.</p>
           <p>By vouching for this patient you will only be giving access to one service at a time.</p>
           <a class="button" href="vouching-patient-info{{ params }}" id="">Start</a>
       </div>

    </form>
</div>

{% endblock %}