{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Patient Identity Vouching Service{% endblock %}
{% set signedin = '' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="callout callout--warning">
  <h3>Success</h3>
  <p>Your patient should receive an email inviting them to log in to Leeds Helm.</p>
</div>

<div class="first-item">
   <form>

       <div class="form-group">
           <h1>Patient identity vouching</h1>
           <p><strong>If your patient has UK photo ID, such as a passport or drivers licence, ask them to go directly to the service you are prescribing and set up a login.</strong></p>
           <p>Use this service only if your patient:</p>
           <ul>
            <li>does not have UK Photo ID</li>
            <li>cannot set up an NHS login on their own</li>
           </ul>
           <p>You will need to do separate vouching for each service you give access to.</p>
           <a class="button" href="vouching-nhs-number" id="">Start</a>
       </div>

    </form>
</div>

{% endblock %}