{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

<div class="first-item">
  <form>
    <div class="form-group">
      <fieldset class="">
        <h1><legend>TODO - Gain access to your medical record and more</legend></h1>
        
        <div class="form-group">
          <label class="form-label" for="field1">Token / Code</label>
          <input class="form-control" id="field1" name="field1" type="text">
        </div>

        <div class="form-group">
          <label class="form-label" for="field1">Dont show me this again</label>
          <input class="form-control" id="field1" name="field1" type="checkbox">
        </div>
      </fieldset>


    </div>
    <div class="form-group">
      <a class="button" href="gp-online-token-2" id="continue">Continue</a>
    </div>
    <br />
    <a href="#">What is a token...how do i get a token?</a>
  </form>
</div>

{% endblock %}