{% extends '_layouts/_grids/_grid-1-plain.html' %}
{% block page_title %}NHS login demo{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&poluser=" + poluser %}


{% block content %}

<div class="first-item">


    <div class="form-group">
        <h1>NHS login demo</h1>
        <p>NHS login prototype demo for services.</p>
    </div>

    <a class="button" href="http://nhs-cid.herokuapp.com/create-account/demo/start?service=app4&serviceName=Your%20Health%20Service&returnUrl=https://nhs-cid.herokuapp.com/your-service&devMode=undefined" id="">START</a>

</div>

{% endblock %}

