{% extends 'layouts/grids/grid-2-1-stacked.html' %}
{% block page_title %}Citizen ID Prototypes{% endblock %}


{% block topRow %}
  {% import "partials/components/local-header.html" as localHeader %}
  {{ localHeader.pattern('Citizen ID Prototypes','') }}
{% endblock %}

{% block content %}

  <dl>

    <dt><a href="vouching/vouching-service-start">Patient ID Verification Service</a></dt>
    <dd>Used by clinicians for offline vouching services
      <p style="font-size: smaller">Historial versions - <a href="vouching/v1/index">London hack (18/10/17)</a> | <a href="vouching/v2/vouching-service-start">Token codes (3/11/17)</a> | </p></dd>

    <hr>

    <dt><a href="create-account/create-1">Create account</a></dt>
    <dd>Customer journey to create a new NHS account
    <p style="font-size: smaller">Historial versions - <a href="create-account/v1/create-1">2 columns (14/11/17)</a> |</p></dd>
    
    <hr>

    <dt><a href="patient-online/start">Access your hospital record using POL</a></dt>
    <dd>Customer journey to create a new NHS profile using their POL credentials
    <p style="font-size: smaller">Historial versions - <a href="patient-online/v1/start">Token codes (03/11/17)</a> | <a href="patient-online/v2/start">User testing (8/11/17)</a> |</p></dd>

    <hr>

    <dt><a href="prove-your-identity/pyi-details-name">Prove your Identity</a></dt>
    <dd>Online journey for physical comparison</dd>
  </dl>

{% endblock %}


{% block rightcol %}
  <h3>Useful links</h3>
  <ul class="list--chevron">
    <li><a href="start">Journey start pages</li>
    <li><a href="patterns">NHS UK design patterns</li>
  </ul>
{% endblock %}