{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Prototypes{% endblock %}

{% block body %}

<h2>Prototypes</h2>

<dl>
  <dt><a href="vouching/vouching-service-start">Patient ID Verification Service</a></dt>
  <dd>Used by clinicians for offline vouching services
  <p style="font-size: smaller">Historial versions - <a href="vouching/v1/vouching-service-start">Token codes (3/11/17)</a> | </p></dd>

  <hr>

  <dt><a href="create-account/create-2">Create account</a></dt>
<dd>Customer journey to create a new NHS account(profile)</dd>
</dl>




{% endblock %}
