{% extends 'layouts/nhsuk_layout.html' %}
{% block page_title %}Offline Vouching Identity Service{{serviceName}}{% endblock %}

{% block body %}

  {% import "partials/components/local-header.html" as localHeader %}
  {{ localHeader.pattern('Offline Vouching Identity Service','This service is for clinicians.') }}

<p>Use this service to:</p>
<ul>
  <li>Generate a token of trust for a patient to access online medical records</li>
  <li>Remove token access for a patients identity</li>
</ul>

<a href="vouching-1" class="button">Start</a>

{% endblock %}