{% import '_macros/_macro_app.html' as backlink with context %}
{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Connecting to your GP{% endblock %}
{% set params = "?serviceName=" + serviceName + "&service=" + service + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&result=" + result + "&reason=" + reason + "&manual=" + manual %}


{% block extrastyles %}
  <meta http-equiv="refresh" content="3;url=service-access-complete{{ params }}">
{% endblock %}


{% block content %}

<h1><legend>Saving your information</legend></h1>

<!--<p style="">This should only take a few seconds</p>-->

<div class="bar_container">
  <div id="main_container">
    <div id="pbar" class="progress-spinner" data-percent="0">
      <img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" />
      <div class="ppc-loading">
        <div class="pcc-percents-wrapper">
          <span id="spinner-status">Please wait</span></span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  setTimeout(function(){
    $("#spinner-status").addClass("done")
    $("#spinner").addClass("done")
    document.getElementById("spinner-status").innerHTML = "Saved"

  }, 2000)
</script>

</script>

{% endblock %}

