{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Thank you - now we will check your information{% endblock %}

{% set signedin = 'true' %}
{% set verified = 'true' %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl %}

{% block header %}
<div class="local-header">
	<h1 class="local-header__title">Thank you - now we will check your information</h1>
	<div class="local-header__intro">
		<div class="reading-width">
			<p>We will email you to tell you if your information has or has not passed our checks.</p>
			<p>You might have to wait 2 hours.</p>
			<p>Between 9pm and 9am, you might have to wait more than 2 hours.</p>


			{# available modifiers 'muted','info','attention','warning','alert','severe','error','compact' #}
			<div class="callout callout--warning">
				<p>Christmas hours: On 25, 26 and 27 December, you might have to wait more than 2 hours.</p>
			</div>

		</div>
	</div>
</div>
{% endblock %}


{% block content %}

<!--<a href="https://nhsa.herokuapp.com/template.php??logged=true&nopadding=false&cid=undefined&message=undefined&error=undefined&summary=undefined&empty=undefined&optarr=default&pageCode=SC02b" target="_parent" class="service-access__item__button button" style="margin-top:0; ">Continue to NHS App</a>-->

{% endblock %}
{% block rightcol %}{% endblock %}