{% extends '_layouts/_grids/_grid-2-1-hotjar.html' %}
{% block page_title %}Access {{ serviceName }} - Do you know your NHS number?{% endblock %}

{% set signedin = 'true' %}
{% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&idType=" + idType + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

	<p><a href="javascript:history.go(-1)" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> Enter your postcode</a></p>

	<form>

			<fieldset>

				<legend>
					<h1 class="">
						Do you know your NHS number?
					</h1>
				</legend>

 		  	<p> 
            Your NHS number is a 10 digit number, like <span class="nowrap">485 777 3456</span>.
          	</p>


		<p>You can find it:
		  	<ul>
				<li>on any letter the NHS has sent you</li>
				<li>on a prescription</li>
				<li>by logging in to a GP surgery online service</li>
				<li>on a vaccination letter</li>
			</ul>
		</p>


				<div class="form-group">

					<div class="selection-button-radio" style="margin-top: 32px;">
						<div class="multiple-choice" data-target="nhs-yes">
							<input id="radio-inline-1" aria-controls="qanda-2" type="radio" name="radio-inline-group" value="service-access-nhs-number-automated{{ params }}">
							<label for="radio-inline-1" class="block-label" style="position: static;">Yes, I know my NHS number</label>
						</div>
					</div>

					<div class="panel panel-border-narrow js-hidden" id="qanda-2" style="margin-top: 0;">
						<label class="form-label__hint" >Example: 485 777 3456</label> 
						<input class="form-control" type="text" aria-label="NHS Number" name="qanda-2b">
					</div> 


					<div class="selection-button-radio" style="margin-top: 0px;">
						<div class="multiple-choice" data-target="nhs-no">
							<input id="radio-inline-2" type="radio" name="radio-inline-group" value="service-access-nhs-number-demographics-name{{ params }}">
							<label for="radio-inline-2"class="block-label" style="position: static;">No, continue another way</label>
						</div>
					</div>


					<!--<div class="selection-button-radio-inline">-->
						<!--<div class="multiple-choice" data-target="delivery-text">-->
							<!--<input aria-controls="qanda-2" id="radio-inline-1" type="radio" name="radio-inline-group" value="yes">-->
							<!--<label class="block-label" for="radio-inline-1">Yes</label>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="selection-button-radio-inline">-->
						<!--<div class="multiple-choice" data-target="delivery-text">-->
							<!--<input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">-->
							<!--<label class="block-label" for="radio-inline-2">No</label>-->
						<!--</div>-->
					<!--</div>-->



				</div>




				</fieldset>


		</div>

		<div class="form-group">
			<a class="button" href="service-access-nhs-number-demographics-dob{{ params }}">Continue</a>
		</div>
	</form>

</div>

{% endblock %}

