node -v
{% extends '_layouts/_grids/_grid-1-hotjar.html' %}
{% block page_title %}How to prove who you are{% endblock %}

{% set params = "?serviceName=" + serviceName + "&service=" + service + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy + "&system=" + system + "&mobileNum=" + mobileNum + "&hidehead=" + hidehead + "&devMode=" + devMode + "&returnUrl=" + returnUrl + "&surgery=" + surgery + "&practiceID=" + practiceID + "&supported=" + supported + "&manual=" + manual + "&uplift=" + uplift %}

{% block content %}

<div class="first-item">

{# 	{% if hideBack !== 'true' %}

	{% if drop === "chooseid" %}
	<p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>
	{% else %}
	<p><a href="service-access-start{{ params }}" class="link-back"><i style="font-weight: normal;font-style: normal;">Back to:</i> You need to prove who you are</a></p>
	{% endif %}

	{% endif %} #}
	<div class="reading-width">
		<h1>We're really busy at the moment</h1>
		
		<div class="bar_container">
			<div id="main_container">
				<div id="pbar" class="progress-spinner" data-percent="0">
					<img src="/images/loader-spinner.svg" width="200px" height="200px" id="spinner" class=""/>
					<div class="ppc-loading">
						<div class="pcc-percents-wrapper">
						    <span id="spinner-status">Please wait</span><span aria-hidden="true">...</span>
						</div>
					</div>
				</div>
			<div style="text-align: center;padding-bottom: 30px;">
			<span id="spinner-status" style="font-size: 14px;">Next update: 2 seconds</span>
			</div>
			</div>
		</div>




   	<p>You can continue to wait, or try again later.</p>
   	<p>If you want to wait, stay on this page and it will update automatically.</p>
	<p>Alternatively, if you have your GP surgery's online service registration details, you can use these instead.</p>
	<div class="action-link">
        <a class="action-link__link" href="#">
          <svg class="icon icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="action-link__text" style="font-size: 20px;">Try using GP surgery's online details</span>
        </a>
      </div>

<!--
<section class="service-access-wrapper">

	<ol class="service-access">
		<li class="service-access__item active"> 			 
			
			<h3 class="service-access__item__title">Continue with POL</h3>
			<div class="service-access__item__desc">
				<p>You will need your: ODS code, linkage Key and account I.D.  </p>
				<a href="" class="button">Start</a>
				<br><br>
				 <span class="service-access__item__step">This route takes <b>8 mins</b> to get verified</span>
			</div>
		</li>
	</ol>
</section>

<section class="service-access-wrapper">

	<ol class="service-access">
		<li class="service-access__item active"> 			 
			
			<h3 class="service-access__item__title">If you don't have your POL details</h3>
			<div class="service-access__item__desc">
				<p>Stay on this page until a slot becomes free or try again later.</p>
				<br>
			</div>
		</li>
	</ol>
</section>


<div class="grid-row">
   <div class="column--one-third">

<h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
If it is urgent: </h2>
<ul>
<li> Stay on the page until a slot becomes free.</li>
</ul>

<h2 class="" style="padding:0.5em 0 0; font-size: 20px; font-weight: 600; line-height: 32px;">
If it's not urgent: </h2>
<ul>
<li> Please try again later.</li>
</ul>

</div>
</div>
--> 

{% endblock %}
