{% extends '_layouts/_grids/_grid-2-1.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set signedin = 'true' %}

{% block content %}

  <form>
    <div class="form-group">


      <span class="section-header">About you</span>

        <h1><legend>What's your address?</legend></h1>


        <div class="form-group">
          <label class="form-label" for="field1">Building number and street</label>
          <input class="form-control" id="field1" name="field1" type="text" value="">
          <input class="form-control" id="field1" name="field2" type="text" value="">
        </div>

        <div class="form-group">
          <label class="form-label" for="field2">Town or city</label>
          <input class="form-control" id="field2" name="field2" type="text" value="">
        </div>

      <fieldset class="inline">

        <div class="form-group">
          <label class="form-label" for="field4">Postcode</label>
          <input autocomplete="off" type="text" class="form-control" name="field4" id="field4" value="">
          <!--<input class="form-control" id="field4" name="field4" type="text" value="">-->
        </div>

      </fieldset>

      <fieldset>
        <legend class="form-label">
          When did you move to this address?
        </legend>
        <span class="form-label__hint">For example, '4 2016'</span>
        <div class="form-group -date">
          <div class="form-date-field">
            <label for="dob-month">Month</label>
            <input type="tel" id="dob-month" name="dob-month" class="month" maxlength="2" pattern="[0-9]*" min="0" max="12">
          </div>
          <div class="form-date-field">
            <label for="dob-year">Year</label>
            <input type="tel" id="dob-year" name="dob-year" class="year" maxlength="4" pattern="[0-9]*" min="0" max="2016">
          </div>
        </div>
      </fieldset>

    </div>

    <div class="form-group">
      <a class="button" href="pyi-onfido" id="">Continue</a>
    </div>
  </form>

{% endblock %}