{% extends '_layouts/_grids/_grid-1-stacked.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set signedin = 'true' %}

{# work out where to send users #}
{% if service %}
{% set params = "?service=" + service + "&serviceName=" + serviceName %}
{% endif %}

{% block topRow %}
{% if service == "results" or service == "record"%}

{% import "_partials/_components/_callout.html" as callout %}
{{ callout.pattern('To ' + serviceName + ' we need to verify your identity','It will only take a couple of minutes','attention') }}

{% endif %}
{% endblock %}

{% block content %}

  <form>
    <div class="form-group">

      <h1><legend>Proving your identity</legend></h1>

      <div class="panel">
        <div class="panel__content panel__content--half">
          <h3>Step 1 - About you</h3>
          <p>We need the following details:</p>
          <ul class="list--chevron">
            <li>Full name</li>
            <li>Date of birth</li>
            <li>Address</li>
          </ul>

          <div class="form-group">
            <a class="button" href="pyi-details-name" id="">Continue</a>
          </div>

        </div>
        <div class="panel__content panel__content--half">
          <h3>Step 2 - Physical Comparison</h3>
          <p>You will need the following:</p>
          <ul class="list--chevron">
            <li>Picture of your photo ID</li>
            <li>Short video selfie</li>
          </ul>
        </div>
      </div>

      <!--<details class="" role="group">-->
        <!--<summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="true">-->
          <!--<span class="details__summary">What will I need?</span>-->
        <!--</summary>-->

        <!--<div id="details-content-0" aria-hidden="false" class="callout callout&#45;&#45;info callout&#45;&#45;friendly">-->
          <!--<div class="reading-width">-->
            <!--<ul class="list&#45;&#45;checked">-->
              <!--<li>Photo ID, for example a valid passport, photocard driving licence or identity card</li>-->
              <!--<li>A camera to take a photo of your ID and video of yourself</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      <!--</details>-->

    </div>
    <!--<div class="form-group">-->
      <!--<a class="button" href="pyi-details-name" id="">Continue</a>-->
    <!--</div>-->

    <p><a href="pyi-continue-offline">I won't be able to prove my identity online</a></p>
  </form>

{% endblock %}