{% extends '_layouts/_grids/_grid-1-onfido.html' %}
{% block page_title %}Prove your Identity Service{% endblock %}
{% set signedin = 'true' %}

{% block topRow %}
{% endblock %}

{% block content %}
  <span class="section-header">Physical Comparison</span>


	{# Part 1 - take a pic of your document #}


	<section class="intructions" id="scan-id-1">

		<button id='onfido-button' disabled>Verify identity</button>

		<div id="onfido-mount"></div>

	</section>

<p><a href="pyi-continue-offline">I would prefer to prove my identity another way</a></p>

{% endblock %}