{% extends '_layouts/_grids/_grid-email-hotjar.html' %}
{% block page_title %}NHS account{% endblock %}
{% set hidehead = "true" %}
{% set hideBeta = "true" %}
{% set bodyClass = "body-email" %}

{# work out where to send users #}
{% if service %}
  {% set params = "?service=" + service + "&serviceName=" + serviceName + "&emailAddress=" + emailAddress + "&mobileNum=" + mobileNum + "&verified=" + verified %}
{% endif %}

{% block content %}
<div class="first-item" style="padding-bottom: 100px;" >

  {% import "_partials/_components/_local-header.html" as localHeader %}
  {{ localHeader.pattern('Your photo ID and video match.','We have checked your information and found your NHS record.','success') }}


  <p><a class="button" href="/start/pb/nhs-app-start">Continue to the NHS App</a></p>

</div>

{% endblock %}