{% extends '_layouts/_grids/_grid-2-1-stacked.html' %}
{% block page_title %}Citizen ID Prototypes{% endblock %}


{% block topRow %}
{% endblock %}

{% block content %}

<h1>Usability Testing Feb 2021</h1>
<br>

<dl>
    <dt>Mobile</dt>
    <dd>
            <a href="/service-access/v23/service-access-start?service=app6&serviceName=NHS%20app&manual=false&hideBack=true">Launch prototype</a><br>
        </p>
    </dd>
    <dt>Desktop</dt>
    <dd>
            <a href="/service-access/v23/service-access-start?service=app6&serviceName=NHS%20app&manual=true&hideBack=true">Launch prototype</a><br>

</dl>

{% endblock %}


{% block rightcol %}

{% endblock %}
