<div class="c-page-contents">
	<ul class="c-links__list js-page-nav-list">
		<li class="c-links__list"><a href="account" class="c-page-contents__link link-name">Name</a></li>
		<li class="c-links__list"><a href="email" class="c-page-contents__link link-email">Email address</a></li>
		<li class="c-links__list"><a href="phone" class="c-page-contents__link link-phone">Phone number</a></li>
		<li class="c-links__list"><a href="password" class="c-page-contents__link link-password">Change password</a></li>
		<li class="c-links__list"><a href="devices" class="c-page-contents__link link-devices">Manage devices</a></li>
	</ul>
	<hr>
	<ul class="c-links__list js-page-nav-list">
		<li class="c-links__list small"><a href="delete-account" class="c-page-contents__link link-delete">Delete account</a></li>
	</ul>
</div>
