<div class="c-page-contents">
	<ul class="c-links__list js-page-nav-list">
		<li class="c-links__list"><a href="account-email" class="c-page-contents__link link-email">Email address</a></li>
		<li class="c-links__list"><a href="account-phone" class="c-page-contents__link link-phone">Phone number</a></li>
		<li class="c-links__list"><a href="account-password" class="c-page-contents__link link-password">Password</a></li>
	</ul>
	<hr>
	<ul class="c-links__list js-page-nav-list">
		<li class="c-links__list small"><a href="account-delete" class="c-page-contents__link link-delete">Delete login</a></li>
	</ul>
</div>
