{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Interruption card</h1>

        <p>We have recorded that you haven't got any UK I.D.</p>
        <p>For the purposes of this survey we are going to ask you to imagine that you do have a UK passport.</p>

        <a href="/patient-online/v10/patient-online-details{{ params }}" class="button--information">Continue</a>

    </section>

</div>

{% endblock %}
