{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<div class="first-item">

    <section class="intructions">

        <p>You told us that you do not have a UK passport or UK driving licence.</p>
        <p>Please answer the rest of the questions as if you <em>do</em> have one of these documents. It does not matter which one.</p>

        <a href="/service-access/v10/service-access-account{{ params }}" class="button--information">Continue</a>

    </section>

</div>

{% endblock %}
