{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Welcome</h1>

        <p>Thank you for taking the time to help us.</p>
        <p>Before you continue we just need to ensure you meet the criteria to take part. This will take one minute.</p>

        <a href="/remote-testing/screening-1{{ params }}" class="button button--secondary">Continue</a>

    </section>

</div>

{% endblock %}
