{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Instructions - Name Survey{% endblock %}

{% set params = "?healthcare=" + healthcare + "&age=" + age + "&country=" + country + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large"><span class="heading-secondary">Step 1 of 3 </span>How you can help us</h1>

        <p>We are asking members of the public to help us choose a name for a new NHS service.
            We will firstly ask you to watch a short video, which explains the service, and then ask you to answer a few questions.
            The whole process takes about 5-6 minutes.</p>

        <h3>About the service</h3>
        <p>The service will allow people to use websites and apps that contain personal health data.
            Because of security needs people will have to prove who they are, in order to connect to their health record.
            The video shows how people will be able to do this.
            This would only be done once, and then the login details (email + password) could be used to enter several health websites and apps that include personal data. .</p>


        <h3>How you can help us</h3>
        <p>In this study we’re inviting you to try a new app prototype to help us understand how we can make it better. We’ve written instructions here and some more along the way, so you know what to do.</p>
        <p>We’re looking for honest opinions, don’t worry about offending anybody. And remember we’re not testing you, we’re testing our app!</p>
        <h3>This is how it works</h3>
        <p>In some of the pages you’ll see questions pop up towards the bottom of the screen. Please always answer those before progressing to another page. That’s how we can gather your feedback.</p>
        <h3>Personal data</h3>
        <p>In some pages we ask you for personal details (such as name, date of birth, your email). We’re not capturing any of these, it’s just a prototype, but if you feel better you can simply make these up.</p>
        <p>At some point we may ask you to take a photo of a driving license or passport. This will be part of the process when the finished app is released, but for now we won’t record anything. However, if you are asked to take the photo and would prefer not to, just take a photo of any piece of paper pretending it is the document.</p>
        <p>You can stop and leave at any time, but if you do that you won’t get paid.</p>
        <h3>About the prototype</h3>
        <p>Imagine you went to your GP surgery and the receptionist told you about a new NHS App.</p>
        <p>It’s an app where you can do a number of things to do with your health:</p>
        <ul>
            <li>book appointments</li>
            <li>manage prescriptions</li>
            <li>view your medical record</li>
            <li>other health-related things such as setting organ donation or care preferences</li>
        </ul>
        <p>Imagine you decided to download the app and are trying to use it for the first time, for example, to book an appointment or manage prescriptions. We want to see how you would do this for real.</p>


        <a href="/start/v4/nhs-app-start{{ params }}" class="button button--secondary">Continue</a>

    </section>

</div>

{% endblock %}
