{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy  + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Almost there</h1>

        <p>On the next page please fill in the pop-up survey and you are all done.</p>

        <a href="/remote-testing/survey{{ params }}" class="button--information">Continue</a>

    </section>

</div>

{% endblock %}
