{% extends '_layouts/_grids/_grid-1-plain-hotjar.html' %}
{% block page_title %}Welcome - Name Survey{% endblock %}

{% set params = "?service=" + service + "&serviceName=" + serviceName + "&lsId=" + lsId + "&lsAccess=" + lsAccess + "&lsStudy=" + lsStudy  + "&newUser=" + newUser  + "&terms=" + terms + "&emailAddress=" + emailAddress + "&hidehead=" + hidehead + "&poluser=" + poluser %}

{% block content %}

<div class="first-item">

    <section class="intructions">
        <h1 class="heading-large">Second Service</h1>

        <p>Imagine you have found a second health service that you want to use.</p>
        <p>eRedbook will allow you to manage information for your new born child.</p>
        <p>Please select which option you would choose to create an account on the next page</p>

        <a href="/remote-testing/eredbook-login{{ params }}" class="button--information">Continue</a>

    </section>

</div>

{% endblock %}
